Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:construction: (226): wire composables with frontend
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:sparkles: Change the audio bot file
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:sparkles: mute bot when the mic is open
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
Due: docker-build-capture-worker

:bento: add audio
  mcr-capture-worker/mcr_capture_worker/resources/audio.wav
Due: docker-build-capture-worker

:bug: add pageSize and currentPage
  mcr-frontend/src/composables/use-pagination.ts
  mcr-frontend/src/composables/use-table-actions.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-frontend/src/services/shared/pagination.type.ts
  mcr-frontend/src/views/meeting/MeetingListPage.vue
Due: docker-build-frontend

:bug: include search parameter in meetings service request
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

🧑‍💻 : add andon claude skill
  .claude/skills/andon/SKILL.md
Due: none

:sparkles: add page size for getMeeting route
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: update getMeetings tests
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add page size for getMeeting route - gateway
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:bug: fix pagination
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/shared/pagination.type.ts
  mcr-frontend/src/views/meeting/MeetingListPage.vue
Due: docker-build-frontend

:wrench: (5s): add pre-commit command in frontend
  mcr-frontend/package.json
Due: docker-build-frontend

:children_crossing: (227): audio record should pause on page refresh
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:adhesive_bandage: fix timing issue where deleted meeting was still visible in the meeting list
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-frontend/src/views/meeting/MeetingPage.vue
Due: docker-build-frontend

:sparkles: (227): upload chunks on wifi back on
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:sparkles: (227): add upload on stop recorder event
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-chunk-upload.spec.ts
  mcr-frontend/src/composables/use-chunk-upload.ts
Due: docker-build-frontend

:bug: (227): fix recording not working on page refresh
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:sparkles: (228): cleanup local chunks on upload or stale
  mcr-frontend/src/App.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:construction: (228): add cleanup composable
  mcr-frontend/src/composables/use-audio-chunk-cleanup.spec.ts
  mcr-frontend/src/composables/use-audio-chunk-cleanup.ts
  mcr-frontend/src/composables/use-audio-chunk-store.spec.ts
  mcr-frontend/src/composables/use-audio-chunk-store.ts
Due: docker-build-frontend

:mute: (228): remove log
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:sparkles: (211): enable gateway route
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:sparkles: (211): enable core route
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_audio_service.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (211): test audio fetching error cases
  mcr-core/tests/services/test_meeting_audio_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (211): test gateway's feature flag service
  mcr-gateway/tests/app/services/__init__.py
  mcr-gateway/tests/app/services/test_feature_flag_service.py
Due: docker-build-gateway

:sparkles: (211): enable route on ff value
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/feature_flag_service.py
Due: docker-build-gateway

:memo: (211): add doc on gateway swagger
  mcr-gateway/README.md
Due: docker-build-gateway

:truck: (211): move gateway swagger to api/docs
  mcr-gateway/mcr_gateway/main.py
Due: docker-build-gateway

:wrench: (211): enable gateway testing on pre-commit
  mcr-gateway/Makefile
  mcr-gateway/pyproject.toml
Due: docker-build-gateway

:wrench: (222): update local minio files expiration date to 7 dates
  .env.local.docker
Due: none

:sparkles: (222): methods to get meetings audio from s3
  mcr-core/mcr_meeting/app/services/meeting_audio_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:white_check_mark: (222): mock s3 methods for meeting audio fetching tests
  mcr-core/tests/services/test_meeting_audio_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (222): update test_get_meeting_audio with new methods
  mcr-core/tests/services/test_meeting_audio_service.py
Due: docker-build-core, docker-build-transcription-worker

:poop: (222): temporary front to test the feature
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

chore(vscode): exclude .venv from Pylance analysis to fix Go to Definition freezes
  mcr-core/.vscode/settings.json
Due: docker-build-core, docker-build-transcription-worker

:recycle: (222): separate iterator validation from iterator extraction
  mcr-core/mcr_meeting/app/services/meeting_audio_service.py
  mcr-core/mcr_meeting/app/services/s3_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (222): update iterator tests
  mcr-core/tests/services/test_meeting_audio_service.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: add optional SMTP values
  .env.local.docker
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: add mailpit services
  docker-compose.yaml
Due: none

:sparkles: update SMTP client to use ssl
  mcr-core/mcr_meeting/app/client/smtp_client.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (229): stop user from missing part of their recording
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend
