Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:recycle: (test): remove unused mocks
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (819): add tests for ignoring stale TRANSCRIPTION_PENDING meetings (> 24h)
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (819): change logic to ignore stale meeting in wait time calculation
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (transcription-engine): implement API-based transcription with OpenAI and diarization endpoints
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:package: (transcription): add openai>=1.0.0 to worker dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:recycle: (feature-flags): centralize all feature flag names in FeatureFlag enum
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (tests): add integration tests for transcription engine with provider switching
  mcr-core/tests/unit/test_speech_to_text_pipeline_api_mode.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (vad): add clarifying comment for speaker merge condition
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (configs): add TranscriptionApiSettings for API-based transcription
  docker-compose.yaml
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

🗃️ (1013): update table meeting_transition_record as it also depends on meetingstatus
  mcr-core/mcr_meeting/app/db/migrations/versions/82c5cdfb94fb_add_deleted_status_to_meetings_status_.py
Due: docker-build-core, docker-build-transcription-worker

🗃️ (1013): downgrade migration for deleted status
  mcr-core/mcr_meeting/app/db/migrations/versions/82c5cdfb94fb_add_deleted_status_to_meetings_status_.py
Due: docker-build-core, docker-build-transcription-worker

 🏷️ (1013): add deleted status to MeetingStatus enum
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

 🗃️ (1013): migration to add deleted status to meetingstatus enum
  mcr-core/mcr_meeting/app/db/migrations/versions/82c5cdfb94fb_add_deleted_status_to_meetings_status_.py
Due: docker-build-core, docker-build-transcription-worker

:memo: add SECURITY.md
  SECURITY.md
Due: none

:art: (966) create post_process method and use it in the transcription pipeline
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_utils.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:beers: (966) better management of model instances
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/mcr_meeting/worker_utils.py
Due: docker-build-core, docker-build-transcription-worker

:beers: (966) suppress wrapper function
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/transcription_engine_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:art: (966) change input and output format for merge_consecutive_segments_per_speaker
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (review-966) move and rename worker_utils file
  mcr-core/mcr_meeting/app/utils/load_speech_to_text_model.py
Due: docker-build-core, docker-build-transcription-worker

:green_heart: (966) ruff changes
  mcr-core/mcr_meeting/app/db/migrations/versions/82c5cdfb94fb_add_deleted_status_to_meetings_status_.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) better types for speech to text models
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) rename file
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_post_process.py
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (review-966) test refacto over test_integration_post_process
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) make the signature match in the functions of the loading model file
  mcr-core/mcr_meeting/app/utils/load_speech_to_text_model.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

👔 (1014): exclude meetings with deleted status from queries
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

🩹(1014): missing f-string
  mcr-capture-worker/mcr_capture_worker/meeting_repository.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-capture-worker

⚰️ (1014): remove unused method get_meetings_by_user_id
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/tests/db/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

✅(1014): add meeting_orchestrator tests for deleted status
  mcr-core/tests/orchestrators/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

⚰️(1014): remove meeting_repository test
  mcr-core/tests/db/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (1011) add integration tests for transcription pipeline
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:construction_worker: add coverage job
  .github/workflows/mcr-ci.yml
Due: none

:sparkles: (999): add labels for mirai services
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (999): add dropdown linking to mirai services
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:hammer: update makefile to add the coverage command
  mcr-core/Makefile
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (999): update dsfr dropdown style
  mcr-frontend/src/components/core/DsfrDropdown.vue
Due: docker-build-frontend

:arrow_up: add pytest-cov for dev env
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) create a method transcribe_audio in the S2T pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
Due: docker-build-core, docker-build-transcription-worker

:arrow_up: post coverage comment on PR
  .github/workflows/mcr-ci.yml
Due: none

:arrow_up: rename step
  .github/workflows/mcr-ci.yml
Due: none

:loud_sound: (1011) only debug log in the S2T pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker
