Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:white_check_mark: (985): cover structured minutes rendering, union and gateway schema
  mcr-core/tests/domain/test_report_rendering.py
  mcr-core/tests/domain/test_structured_minutes_template.py
  mcr-core/tests/unit/test_deliverable_filename.py
  mcr-core/tests/unit/test_report_response_union.py
  mcr-core/tests/use_cases/test_request_deliverable.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_schema.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:recycle: (985): derive report type from deliverable type and map report generation data from the response
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_report_dispatch.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (985) add STRUCTURED_MINUTES type and wire contract
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
Due: docker-build-core, docker-build-transcription-worker

Added "Amalaric" for slack bot
  .github/slack-users.json
Due: none

(1001): deleted old @theodo.com accounts for MCR login
  docker/auth/kc-mcr-local-config.json
Due: none

(1001): added new @fake.com accounts for MCR login
  docker/auth/kc-mcr-local-config.json
Due: none

:bug: (986) make writer notes take precedence over the transcript in the report header
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/intent/prompts.py
  mcr-generation/mcr_generation/app/services/sections/intent/refine_intent.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/prompts.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/refine_next_meeting.py
  mcr-generation/tests/app/services/sections/base/test_init_then_refine.py
  mcr-generation/tests/app/services/sections/intent/__init__.py
  mcr-generation/tests/app/services/sections/intent/test_refine_intent.py
Due: docker-build-generation

:recycle: (986) drop schema duplication from minutes prompts and wrap map excerpt in xml
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/prompts.py
Due: docker-build-generation

:art: (986) format imports and schema models
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/map_reduce_minutes.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
Due: docker-build-generation

:sparkles: (986) wire MINUTES notes facet and hint extraction
  mcr-generation/mcr_generation/app/services/notes/facets.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/notes/prompts.py
Due: docker-build-generation

:sparkles: (986) add minutes_synthesis synthesizer
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/__init__.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/minutes_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/types.py
Due: docker-build-generation

:sparkles: (986) add structured_minutes map-reduce section
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/__init__.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/map_reduce_minutes.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/types.py
Due: docker-build-generation

:sparkles: (986) add STRUCTURED_MINUTES report type and public minutes models
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/schemas/celery_types.py
Due: docker-build-generation

:white_check_mark: (986) cover structured minutes generator and MINUTES facet
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
  mcr-generation/tests/app/services/report_generator/test_structured_minutes_generator.py
Due: docker-build-generation

:bug: (986) prevent the reduce from dropping substantive transcript themes off-objective
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/prompts.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/topics/prompts.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:sparkles: (986) register StructuredMinutesGenerator in factory
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/structured_minutes_generator.py
Due: docker-build-generation

:white_check_mark: (987) cover structured minutes tile order and generation
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.spec.ts
Due: docker-build-frontend

:sparkles: (987) expose STRUCTURED_MINUTES deliverable tile in second position
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:fire: (987): remove dead code
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.spec.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:memo:: update the audio pipeline doc for the API-only stages
  mcr-core/docs/audio_processing_pipeline.md
Due: docker-build-core, docker-build-transcription-worker

:fire:: run diarization and transcription through the remote APIs only
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/compute_devices.py
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:construction_worker:: build the core image once for both api and worker
  .gitlab-ci-dso.yml
Due: none

:white_check_mark:: adapt the speech-to-text tests to the API-only processors
  mcr-core/tests/infrastructure/test_speech_to_text_models.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_transcribe_meeting.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_parallel_chunk_transcription.py
  mcr-core/tests/unit/test_transcription_confidentiality.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_minus_sign:: drop torch, whisper and pyannote-audio from mcr-core
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:wrench:: remove the local speech-to-text model settings
  .env.local.docker
  .env.template
Due: none

:wrench:: build one mcr-core image with the role dispatched at run time
  docker-compose.yaml
  mcr-core/Dockerfile
  mcr-core/docker/Dockerfile
  mcr-core/docker/docker-entrypoint.dev.sh
  mcr-core/docker/docker-entrypoint.sh
Due: docker-build-core, docker-build-transcription-worker

:memo:: document the kaniko docker build constraints
  .claude/rules/docker-build.md
  CLAUDE.md
Due: none

:recycle:: type check better the feature flag test route
  mcr-core/mcr_meeting/app/api/feature_flag_router.py
  mcr-core/mcr_meeting/app/use_cases/get_feature_flag_status.py
Due: docker-build-core, docker-build-transcription-worker

:bricks:: remove unused vars in ci
  .github/workflows/mcr-ci.yml
  mcr-gateway/mcr_gateway/app/configs/config.py
Due: docker-build-gateway

fix: :recycle: corrige i18n, suppression config.js, doublon de composants et style formulaire dans la modale
  mcr-frontend/index.html
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVideoConferenceModal.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
