Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:memo: rename project
  README.md
  mcr-capture-worker/Makefile
Due: docker-build-capture-worker

:twisted_rightwards_arrows: Merge old repo
  mcr-core/.gitignore
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/utils/filename_header.py
  mcr-core/notebooks/.gitignore
  mcr-core/notebooks/explore_summre.py
  mcr-core/pyproject.toml
  mcr-core/tests/services/test_meeting_transitions_service.py
  mcr-frontend/src/components/meeting/forms/import-meeting/import-meeting.schema.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
  mcr-frontend/src/composables/use-recorder.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway

Created streamlit app. Credentials still wrong.
  mcr-core/Makefile
  mcr-core/mcr_meeting/evaluation/streamlit/app.py
  mcr-core/mcr_meeting/evaluation/streamlit/components/metrics_view.py
  mcr-core/mcr_meeting/evaluation/streamlit/services/eval_s3_service.py
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

Moved the changes from mcr-v2 to mcr
  docker-compose.yaml
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/unit/test_audio_normalization.py
  mcr-core/tests/unit/test_fetch_audio_bytes.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (950): fix meetings renaming
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

Added comparison to baseline
  mcr-core/Makefile
  mcr-core/mcr_meeting/evaluation/streamlit/app.py
  mcr-core/mcr_meeting/evaluation/streamlit/components/metrics_view.py
  mcr-core/mcr_meeting/evaluation/streamlit/data/baseline_result.csv
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:recycle: (929): refactor time formatter
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/utils/timeFormatting.spec.ts
  mcr-frontend/src/utils/timeFormatting.ts
Due: docker-build-frontend

:sparkles: (929): display wait time in 10 mins buckets
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionGenerationInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInQueue.vue
  mcr-frontend/src/utils/timeFormatting.ts
Due: docker-build-frontend

Fixed tests
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:construction_worker: update dependabot to target the right branch
  .github/dependabot.yml
Due: none

Removed .env.local.docker from makefile since it turned out useless
  mcr-core/Makefile
Due: docker-build-core, docker-build-transcription-worker

Removed .env.local.docker from makefile since it turned out useless
  mcr-core/mcr_meeting/evaluation/streamlit/services/eval_s3_service.py
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

Fixed deps-check
  mcr-core/Makefile
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

Translated tests docstring to english and added typing
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_audio_normalization.py
  mcr-core/tests/unit/test_fetch_audio_bytes.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:technologist: create SQL prompt template to easily make product analysis
  mcr-core/SQL_QUERY_GENERATOR_PROMPT.md
Due: docker-build-core, docker-build-transcription-worker

:construction_worker: (gihtub): add ci check to ensure that PR to main only comes from dev
  .github/workflows/validate-pr-source.yml
Due: none

:sparkles: add new bot disconnecting vue
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/states/BotDisconnecting.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:bug: increased webconf timeout connection
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
Due: docker-build-capture-worker

:speech_balloon: add description to wait the meeting owner
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: add REPORT_FAILED status
  mcr-core/mcr_meeting/app/db/migrations/versions/f45845aa91c0_add_report_failed_status.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:technologist: (local): rebuild containers on dependencies update
  Makefile
  docker-compose.yaml
Due: none

:technologist: (local): simulate hot reload on capture worker
  docker-compose.yaml
Due: none

:wrench: (962): Replaced llama with mistral
  .env.local.docker
  mcr-generation/mcr_generation/app/configs/settings.py
Due: docker-build-generation

:sparkles: add report failed state
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

Created temporary file
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
Due: docker-build-core, docker-build-transcription-worker

:page_facing_up: (974): Created temporary file
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: (974): Created a function to log the ffmpeg command
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/setup/logger.py
Due: docker-build-core, docker-build-transcription-worker

:label: (974): Ignore typing error
  mcr-core/mcr_meeting/setup/logger.py
Due: docker-build-core, docker-build-transcription-worker

:mute: (934): remove unused logs from transcription queue
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:mute: (934): remove more logs
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (934): remove update transition record function on transcription start
  mcr-core/mcr_meeting/app/db/meeting_transition_record_repository.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (934): fix tests broken by renaming
  mcr-core/mcr_meeting/app/db/meeting_transition_record_repository.py
  mcr-core/tests/services/test_meeting_transition_record_service.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (934): removed unused fonction and update tests accordingly
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/tests/services/test_meeting_transition_record_service.py
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (934): create log with prediction on transcription_start event
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (934): simplified calls to transcription_queue service
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (934): add orchestrator level tests on start_transcription
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (923): remove unused component
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: (923): remove duplication by adding a wait-time component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionWaitTime.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/utils/timeFormatting.ts
Due: docker-build-frontend
