Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:bug: (229): avoid leaving the page on token refresh
  mcr-frontend/src/services/auth/keycloak.ts
  mcr-frontend/src/services/http/http.interceptors.ts
Due: docker-build-frontend

:lipstick: (229): align recording buttons
  mcr-frontend/src/components/core/RoundedActionButton.vue
Due: docker-build-frontend

:speech_balloon: (224): add audio player labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (224): add proper audio player in frontend
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

:bug: : disable audio download
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

:bug: : fix gateway openapi route
  mcr-gateway/mcr_gateway/main.py
Due: docker-build-gateway

:recycle: (285): Modified prompt to remove repetitions
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/prompt.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  3492f1f27aaee06e9f4e773ece1585d072e930a2
Due: none

Notes added by 'git notes add'
  0858b7c441f8a80e0788d8284c79536f2daafaae
  398794e04342e0b9c55be63172788333f738be1c
  94fe330d26897ca72f00ac564786c80c264c7b6b
  cdf10666455b4703cc7d55b579811eaaf7ea3e07
Due: none

Notes added by 'git notes add'
  ba2e1e49955b0adaa5cc91e7f3752d8675fd50d0
Due: none

Notes added by 'git notes add'
  4b2ef5f9c7ff058909fbc9842a4ef1cafda607d7
  591ae2574a004b2be64947a9d215f87a490ec1ad
Due: none

:sparkles: add the transcription success email in complete transcription handler
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: update complete transcription test
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: move transcribe logic into celery event handler
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:memo: add user return template
  .github/ISSUE_TEMPLATE/user_return_request.yml
Due: none

:memo: add bug template
  .github/ISSUE_TEMPLATE/bug_request.yml
  .github/ISSUE_TEMPLATE/user_return_request.yml
Due: none

:memo: update feature template
  .github/ISSUE_TEMPLATE/bug_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

:bug: fix the overlapping bug
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: update the launch.json to be able to use the debug mode over a test script
  mcr-core/.vscode/launch.json
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: update and clean logs
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_post_process.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/audio.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
Due: docker-build-core, docker-build-transcription-worker

:pushpin: update uv lock
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:bug: no reauth on reconnect
  mcr-frontend/src/components/sign-in/use-auth.ts
Due: docker-build-frontend

:sparkles: add fetch token guard on http.interceptor
  mcr-frontend/src/composables/use-recorder.ts
  mcr-frontend/src/services/auth/token-provider.ts
  mcr-frontend/src/services/http/http.interceptors.ts
Due: docker-build-frontend

:hammer: update make file
  Makefile
Due: none

:fire: remove useless user store
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/sign-in/use-auth.spec.ts
  mcr-frontend/src/components/sign-in/use-auth.test-utils.ts
  mcr-frontend/src/components/sign-in/use-auth.ts
  mcr-frontend/src/stores/useUserStore.ts
Due: docker-build-frontend

:fire: (frontend): remove dead code
  mcr-frontend/src/components/sign-in/SignInForm.vue
  mcr-frontend/src/components/sign-in/sign-in.schema.ts
  mcr-frontend/src/router/routes.ts
  mcr-frontend/src/views/HomePage.vue
Due: docker-build-frontend

:heavy_minus_sign: remove pinia
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
  mcr-frontend/src/main.ts
Due: docker-build-frontend

:recycle: simplify online logic using tanstack build it
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-chunk-upload.spec.ts
  mcr-frontend/src/composables/use-chunk-upload.ts
Due: docker-build-frontend

:sparkles: (317): webex url validator
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (317): use early return for visio/webconf url validation methods
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (317): webex url validator tests
  mcr-core/tests/schemas/test_meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (317): add webex to meeting platforms in meeting schema
  mcr-core/mcr_meeting/app/db/migrations/versions/a64618d27ac5_add_webex_to_meeting_platform.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

bot connection failing
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
  mcr-capture-worker/mcr_capture_worker/worker.py
Due: docker-build-capture-worker

:zap: add mutation retry on specific network error by default
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/http/http.utils.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:white_check_mark: fix axios mock
  mcr-frontend/src/components/sign-in/use-auth.spec.ts
Due: docker-build-frontend

:recycle: (243) VAD return list[TimeSpan] rather than list[DiarizationSegment]
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/types.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/audio.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (243) update integration tests
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  f851f50e0029fcbf11347d3120f8f5cb546c27c4
Due: none

Notes added by 'git notes add'
  db82da0d4d1d9653f5dc86ad4d89b33b86bbea2b
Due: none

Notes added by 'git notes add'
  33e79ae2a3c4442377e6d5b365a976579501f241
  3b469fbd1c6ca3da8b1f9c261614df6931466d58
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
