Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:recycle: (webex) extract strategy/monitor construction into factories
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/factory.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/factory.py
Due: docker-build-capture-worker

:sparkles: (webex) add Node.js bot and subprocess transport
  mcr-capture-worker/.dockerignore
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/mcr_capture_worker/services/audio/webex_node/.gitignore
  mcr-capture-worker/mcr_capture_worker/services/audio/webex_node/package-lock.json
  mcr-capture-worker/mcr_capture_worker/services/audio/webex_node/package.json
  mcr-capture-worker/mcr_capture_worker/services/audio/webex_node/polyfills.js
  mcr-capture-worker/mcr_capture_worker/services/audio/webex_node/webex_node_bot.js
  mcr-capture-worker/mcr_capture_worker/services/webex_node_transport.py
Due: docker-build-capture-worker

:recycle: (webex) make meeting monitors own their Page instance
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/visio_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
Due: docker-build-capture-worker

:recycle: (webex) switch Webex capture from Playwright to Node subprocess
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/factory.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/factory.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
Due: docker-build-capture-worker

:sparkles: (webex) add Node capture strategy and monitor
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_node_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/webex_node_capture.py
Due: docker-build-capture-worker

:hammer: (503): add mcr core route for feedback
  mcr-core/mcr_meeting/app/api/feedback_router.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/db/feedback_repository.py
  mcr-core/mcr_meeting/app/orchestrators/feedback_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/feedback_schema.py
  mcr-core/mcr_meeting/app/services/feedback_service.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/main.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (503): add test on mcr core
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_feedback_router.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (503): add mcr gateway route for feedback
  mcr-gateway/mcr_gateway/app/api/feedback_router.py
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/app/schemas/feedback_schema.py
  mcr-gateway/mcr_gateway/app/services/feedback_service.py
  mcr-gateway/mcr_gateway/main.py
Due: docker-build-gateway

:white_check_mark: (503): add tests on mcr gateway
  mcr-gateway/tests/app/test_feedback/__init__.py
  mcr-gateway/tests/app/test_feedback/test_create_feedback.py
Due: docker-build-gateway

:bug: (533): stop querying cache data if not data
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:speech_balloon: (529): update capture worker labels
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
Due: docker-build-capture-worker

:speech_balloon: (529): update frontend labels
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:memo: (529): update readme & contributing
  CONTRIBUTING.md
  README.md
Due: none

:speech_balloon: (529): update core labels
  mcr-core/mcr_meeting/app/services/docx_report_generation_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (475): add acronym corrector module with glossary and prompt
  mcr-core/mcr_meeting/app/services/correct_acronyms/acronym_corrector.py
  mcr-core/mcr_meeting/app/services/correct_acronyms/data/small_glossaire.md
  mcr-core/mcr_meeting/app/services/correct_acronyms/prompt.py
Due: docker-build-core, docker-build-transcription-worker

:pencil2: (475) typo acronyms without the e
  mcr-core/mcr_meeting/evaluation/acronyms/__init__.py
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/acronyms/loaders.py
  mcr-core/mcr_meeting/evaluation/acronyms/types.py
  mcr-core/mcr_meeting/evaluation/acronyms/utils/__init__.py
  mcr-core/mcr_meeting/evaluation/acronyms/utils/counting.py
  mcr-core/mcr_meeting/evaluation/acronyms/utils/metrics.py
  mcr-core/mcr_meeting/evaluation/acronyms/utils/persistence.py
  mcr-core/tests/unit/evaluation/acronyms/__init__.py
  mcr-core/tests/unit/evaluation/acronyms/test_counting.py
  mcr-core/tests/unit/evaluation/acronyms/test_loaders.py
  mcr-core/tests/unit/evaluation/acronyms/test_metrics.py
  mcr-core/tests/unit/evaluation/acronyms/test_persistence.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (475): add unit tests for acronym corrector
  mcr-core/tests/unit/test_acronym_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:triangular_flag_on_post: (475): add acronym_correction feature flag
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (475): integrate acronym correction in speech-to-text pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:see_no_evil: (475) add bin folder to gitignore
  .gitignore
Due: none

:lipstick: (504): add front components
  mcr-frontend/src/App.vue
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/feedback/FeedbackButton.vue
  mcr-frontend/src/components/feedback/FeedbackModal.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:construction: (504): add services for feedback
  mcr-frontend/src/services/feedback/feedback.service.ts
  mcr-frontend/src/services/feedback/feedback.types.ts
  mcr-frontend/src/services/feedback/use-feedback.ts
  mcr-frontend/src/services/http/http.service.ts
Due: docker-build-frontend

:recycle: (mcr-generation) raise domain-specific exceptions across services
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/utils/input_chunker.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/app/services/utils/s3_service.py
Due: docker-build-generation

:sparkles: (mcr-generation) add custom exception hierarchy
  mcr-generation/mcr_generation/app/exceptions/__init__.py
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
Due: docker-build-generation

:white_check_mark: (mcr-generation) add unit tests for custom exception propagation
  mcr-generation/tests/app/services/report_generator/test_report_generator_factory.py
  mcr-generation/tests/app/services/utils/__init__.py
  mcr-generation/tests/app/services/utils/test_input_chunker.py
  mcr-generation/tests/app/services/utils/test_llm_helpers.py
  mcr-generation/tests/app/services/utils/test_s3_service.py
Due: docker-build-generation

:recycle: (mcr-generation) centralize test mocks into reusable fixtures
  mcr-generation/tests/app/test_report_generation_task_service.py
  mcr-generation/tests/conftest.py
  mcr-generation/tests/mocks/__init__.py
  mcr-generation/tests/mocks/docx_mocks.py
  mcr-generation/tests/mocks/llm_mocks.py
  mcr-generation/tests/mocks/s3_mocks.py
  mcr-generation/tests/mocks/task_service_mocks.py
Due: docker-build-generation

:sparkles: (mcr-generation) enrich Sentry with meeting context on report prerun
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/utils/sentry_context.py
Due: docker-build-generation

:sparkles: (mcr-generation) add meeting API client and response schema
  mcr-generation/mcr_generation/app/client/meeting_client.py
  mcr-generation/mcr_generation/app/schemas/meeting_schema.py
Due: docker-build-generation

:sparkles: (mcr-core) pass meeting owner keycloak UUID to report generation task
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/api/test_report_generation_router.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (mcr-generation) enable Sentry Celery integration
  mcr-generation/mcr_generation/app/utils/celery_worker.py
Due: docker-build-generation

:sparkles: (mcr-generation) extract report task args from Celery signal kwargs
  mcr-generation/mcr_generation/app/schemas/celery_types.py
Due: docker-build-generation

:sparkles: (mcr-generation) add HTTP client with keycloak-UUID header auth
  mcr-generation/mcr_generation/app/client/__init__.py
  mcr-generation/mcr_generation/app/client/http_client.py
Due: docker-build-generation

:sparkles: (524): use monitor in recording methods
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:sparkles: (524): create recording monitor
  mcr-frontend/src/composables/use-recording-monitor.ts
Due: docker-build-frontend

:speech_balloon: (524): create silent audio errors labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:white_check_mark: (524): test recording monitor
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
Due: docker-build-frontend

:white_check_mark: (541): allow fallback in tests mock
  mcr-frontend/src/composables/use-recorder.spec.ts
Due: docker-build-frontend

:bug: (541): allow firefox fallback when chosen microphone isn't available anymore
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:loud_sound: (541): add sentry logs for startRecording errors
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:card_file_box: (556): report failed status migration
  mcr-core/mcr_meeting/app/db/migrations/versions/b6b97a4125c5_add_report_failed_status.py
Due: docker-build-core, docker-build-transcription-worker
