Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:zap: auto use mocked s3 to avoid long tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/s3_mocks.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (367): upload report to Drive on completion
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (367): add integration tests for report deliverable storage
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:rotating_light:: fix more typing in tests
  mcr-core/pyproject.toml
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/factories/base.py
  mcr-core/tests/services/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/services/test_detailed_synthesis_generation.py
  mcr-core/tests/services/test_meeting_audio_service.py
  mcr-core/tests/services/test_s3_multipart.py
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
  mcr-core/tests/unit/test_spelling_corrector.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (367): forward bearer token on report generation
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:lipstick: (367): show Drive links in report UI and header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:rotating_light:: fix type errors in tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/api/test_user_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (367): update TranscriptionDone visual to go with audio replay button
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

:sparkles: (427) : add vote field to deliverable & migrate
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/db/migrations/versions/1dfb13692257_add_vote_field_to_deliverable.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
Due: docker-build-core, docker-build-transcription-worker

:construction_worker: : add new slack user
  .github/slack-users.json
Due: none

:memo: (366): add CLAUDE.md
  CLAUDE.md
Due: none

:sparkles: (428) add deliverable modification logic
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  b8b37298685030ff68f90f76a2c0879a06703ad3
  df830e8e58493b12b7be4cee6e6c5062a7f48889
Due: none

:art: move lookup logic
  mcr-gateway/mcr_gateway/app/api/lookup_router.py
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/app/schemas/lookup_schema.py
  mcr-gateway/mcr_gateway/app/services/lookup_service.py
Due: docker-build-gateway

:sparkles: create lookup route
  mcr-core/mcr_meeting/app/api/lookup_router.py
  mcr-core/mcr_meeting/app/client/comu_client.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/orchestrators/lookup_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/lookup_schema.py
  mcr-core/mcr_meeting/app/services/lookup_service.py
  mcr-core/mcr_meeting/main.py
  mcr-core/tests/api/test_lookup_router.py
Due: docker-build-core, docker-build-transcription-worker

:bug: add comu url/passcode verication
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/lookup/lookup.service.ts
  mcr-frontend/src/services/lookup/lookup.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:sparkles: (428) add mcr-core route
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
Due: docker-build-core, docker-build-transcription-worker

:speech_balloon: (373): add import audio tile labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (373): add import audio tile to frontend
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:monocle_face: (383): Added a new transcript to dataset, fixed an expected.
  mcr-core/mcr_meeting/eval_naming/test_data/40_pers.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/40_pers.txt
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_edge_cases.expected.json
Due: docker-build-core, docker-build-transcription-worker

:recycle: (383): Updated prompt and fixed participant extraction bug
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/prompts.py
Due: docker-build-core, docker-build-transcription-worker

2 pass
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
Due: docker-build-core, docker-build-transcription-worker

:speech_balloon: (374): add tiles labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (374): add tiles to frontend
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:white_check_mark: (374): update main page tests
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
Due: docker-build-frontend

:lipstick: (374): adjust tiles to screen size
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:wrench: configure Firefox for headless WebRTC audio in Docker
  docker-compose.yaml
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/entrypoint.sh
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  3a/c6700df197e2ad9fd452def5d1c64eb0cd15f5
Due: none

:sparkles: add WebRTC bridge for cross-origin iframe audio capture
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/webrtcBridge.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/webrtcMainReceiver.js
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  f0/e5b1efafca6e318cf06ca52e416f6336ebedbc
Due: none

:recycle: improve audio stream utilities and recorder
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/recorderController.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/streamUtils.js
  mcr-capture-worker/mcr_capture_worker/services/audio/wait_for_stream_strategy/audioRecorder.js
Due: docker-build-capture-worker

Notes added by 'git notes add'
  0a/b99019df44924404761802aebfd514a98d6b4b
Due: none

Notes added by 'git notes add'
  bc/c737a5aa58861f1c7d7ef4bb9da7998a22c181
Due: none

:sparkles: rewrite Webex connection for WebRTC bridge audio capture
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:sparkles: (375): add alert info & description div
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): make value delay to fetch audio reusable
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/config/meeting.ts
Due: docker-build-frontend

:art: (375): add bold to text, change color of icon & use name of colors
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): change bg to other div to avoid padding application
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): capitalize closed alert value const
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend
