Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:sparkles: (704): classify silent recordings throttled by background tab
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/config/audioMonitor.ts
Due: docker-build-frontend

:art: (704): clarify code
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
Due: docker-build-frontend

:sparkles: (704): classify silent recordings from a wrong capture device
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/config/audioMonitor.ts
Due: docker-build-frontend

:wrench: add debug-production-issue skill
  .claude/skills/debug-production-issue/SKILL.md
Due: none

:zap: (789): add timeout on api calls in transcription worker
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (789): change broker waiting time for retries
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add cookieless, COEP-safe Matomo analytics
  docker-compose.yaml
  mcr-frontend/docker/nginx.conf
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
  mcr-frontend/src/config/env.ts
  mcr-frontend/src/main.ts
  mcr-frontend/src/vue-matomo.d.ts
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:recycle: centralize frontend runtime config in a typed env module
  mcr-frontend/src/composables/use-unleash.ts
  mcr-frontend/src/config/env.ts
  mcr-frontend/src/main.ts
  mcr-frontend/src/services/auth/keycloak.ts
  mcr-frontend/src/services/http/http.service.ts
Due: docker-build-frontend

:wrench: prune stale auto-generated component declarations
  mcr-frontend/src/components.d.ts
Due: docker-build-frontend

switch to git trunk based organisation
  .github/workflows/slack-pr-notification.yml
  .github/workflows/validate-pr-source.yml
  .gitlab-ci-dso.yml
Due: none

:fire: (771): drop orphaned meeting orchestrators/services, migrate tests
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/services/audio_upload_service.py
  mcr-core/mcr_meeting/app/services/meeting_audio_service.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/use_cases/update_meeting.py
  mcr-core/tests/infrastructure/__init__.py
  mcr-core/tests/infrastructure/test_s3.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-core/tests/services/test_meeting_audio_service.py
  mcr-core/tests/services/test_meeting_transitions_service.py
  mcr-core/tests/use_cases/test_create_meeting.py
  mcr-core/tests/use_cases/test_delete_meeting.py
  mcr-core/tests/use_cases/test_get_meeting_audio.py
  mcr-core/tests/use_cases/test_list_meetings.py
  mcr-core/tests/use_cases/test_update_meeting.py
Due: docker-build-core, docker-build-transcription-worker

:bricks: (771): add s3 presigned-upload + audio-stream helpers
  mcr-core/mcr_meeting/app/infrastructure/s3.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (771): use pydantic schema in use-case
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/use_cases/get_meeting_audio.py
  mcr-core/mcr_meeting/app/use_cases/list_meetings.py
  mcr-core/tests/use_cases/test_get_meeting_audio.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (771): route meeting_router through meeting use_cases
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/use_cases/create_meeting.py
  mcr-core/mcr_meeting/app/use_cases/delete_meeting.py
  mcr-core/mcr_meeting/app/use_cases/generate_presigned_audio_upload_url.py
  mcr-core/mcr_meeting/app/use_cases/get_meeting.py
  mcr-core/mcr_meeting/app/use_cases/get_meeting_audio.py
  mcr-core/mcr_meeting/app/use_cases/list_meetings.py
  mcr-core/mcr_meeting/app/use_cases/update_meeting.py
Due: docker-build-core, docker-build-transcription-worker

:memo: add a handoff doc of next steps for mcr-generation
  mcr-generation/TODO_mcr-generation.md
Due: docker-build-generation

:bug: (798): add new maintenance webpage
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/router/index.ts
  mcr-frontend/src/router/routes.ts
  mcr-frontend/src/views/MaintenancePage.vue
Due: docker-build-frontend

:bug: (798): fix spelling mistake
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/MaintenancePage.vue
Due: docker-build-frontend

:fire: (801): remove llm model name from ci and docker
  .github/workflows/mcr-ci.yml
  docker-compose.yaml
Due: none

♻️ (790): route capture bot router through use cases
  mcr-core/mcr_meeting/app/api/meeting/capture_bot_router.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/use_cases/fail_capture_bot.py
  mcr-core/mcr_meeting/app/use_cases/start_capture_bot.py
  mcr-core/tests/api/test_capture_bot_router.py
  mcr-core/tests/use_cases/test_fail_capture_bot.py
  mcr-core/tests/use_cases/test_start_capture_bot.py
Due: docker-build-core, docker-build-transcription-worker

🔥 (790): drain capture bot events from the state machine
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/use_cases/fail_capture_bot.py
  mcr-core/mcr_meeting/app/use_cases/start_capture_bot.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

🐛 (790): return 409 instead of 500 when requesting a deliverable in an invalid state
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (808): remove comments
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/audio.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (808): stream audio chunks per span to cap transcription memory
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/audio.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (808): release audio buffers eagerly and stream-copy WAV for diarization
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (808): load STT/diarization models lazily to skip them in API mode
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:technologist: build Flower image from the mcr-core venv
  docker-compose.yaml
  mcr-core/Dockerfile
Due: docker-build-core, docker-build-transcription-worker

:technologist: let drive compose auto-create the lasuite network
  Makefile
  docker/drive/compose.override.yml.drive
Due: none

:bug: (805): remove classification of trackMutedAtStop condition
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
Due: docker-build-frontend

:recycle: remove now deprecated orchestrator
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:triangular_flag_on_post: remove custom cr ff
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

:fire: remove always false condition
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

:card_file_box:: add owner eager-loading meeting repository fn
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: create a TRANSCRIPTION deliverable on every transcription
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/integration/test_deliverable_storage.py
  mcr-core/tests/services/test_meeting_transitions_service.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:recycle:: rewire transcription completion and report notification to new layers
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add a Drive link to transcription deliverable rows
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:recycle:: move docx transcription rendering into domain layer
  mcr-core/mcr_meeting/app/domain/transcription_rendering.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: backfill TRANSCRIPTION deliverables for recent meetings
  mcr-core/mcr_meeting/app/db/migrations/versions/d2c7b9a4e1f8_backfill_recent_transcription_deliverables.py
Due: docker-build-core, docker-build-transcription-worker

:truck:: move drive client into infrastructure layer
  mcr-core/mcr_meeting/app/infrastructure/drive.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: point email/render mocks at new module paths
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: simplify business logic by putting download at a lower component level
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend
