Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:test_tube: (131): add update transcription transition test
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (131): add update_transcription transition
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
Due: docker-build-core, docker-build-transcription-worker

:camera_flash: (131): update state machine graph
  mcr-core/mcr_meeting/app/state_machine/graph/ImportMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/RecordMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/VisioMeetingStateMachine.png
Due: docker-build-core, docker-build-transcription-worker

:arrow_up: add pytest-cov for dev env
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:hammer: update makefile to add the coverage command
  mcr-core/Makefile
Due: docker-build-core, docker-build-transcription-worker

:arrow_up: rename step
  .github/workflows/mcr-ci.yml
Due: none

:arrow_up: remove hide_report option
  .github/workflows/mcr-ci.yml
Due: none

:construction_worker: add coverage job
  .github/workflows/mcr-ci.yml
Due: none

:arrow_up: report only changed files
  .github/workflows/mcr-ci.yml
Due: none

:arrow_up: post coverage comment on PR
  .github/workflows/mcr-ci.yml
Due: none

✏️ (179) fix typo synthetise in synthesize
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/synthesize_detailed_discussions.py
  mcr-generation/tests/app/services/sections/test_synthesize_detailed_discussions.py
Due: docker-build-generation

🏗️ (179) add prompt and extraction class
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/types.py
Due: docker-build-generation

🏗️ (179)synthesise the detailed discussions
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/synthetise_detailed_discussions.py
Due: docker-build-generation

🗑️ (179) delete example files, that were not necesary
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/examples/decision_record_example.json
  mcr-generation/mcr_generation/app/services/report_generator/examples/detailed_synthesis_example.json
Due: docker-build-generation

:adhesive_bandage: (179) manage the difference list[Participant] and Participants
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/synthesize_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/tests/app/services/report_generator/test_decision_record_generator.py
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
Due: docker-build-generation

:white_check_mark: (179) add test file for synthesise_detailed_discussions
  mcr-generation/tests/app/services/sections/__init__.py
  mcr-generation/tests/app/services/sections/test_synthetise_detailed_discussions.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

:adhesive_bandage: (179) remove useless indentation that increase the number of token
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
Due: docker-build-generation

🏗️ (179) upgrade prompts in map reduce features
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
Due: docker-build-generation

🗑️ (179) erase useless code in test file
  mcr-generation/tests/app/services/sections/test_synthesize_detailed_discussions.py
Due: docker-build-generation

:recycle: (179) use a class rather than a function
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/synthesize_detailed_discussions.py
  mcr-generation/tests/app/services/sections/test_detailed_discussions_synthesizer.py
Due: docker-build-generation

📝 (179) update documentation
  mcr-generation/mcr_generation/app/services/report_generator/examples/detailed_synthesis_example.json
Due: docker-build-generation

:sparkles: (1118): create modal submit event & form types
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

:speech_balloon: (1118): add submit label
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1118): submit for visio
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1118): submit for comu
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:fire: (1118): remove access code webinaire
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1118): submit for webconf
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1118): submit for webinaire
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
Due: docker-build-frontend

:white_check_mark: (1118): mock start capture mutation
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
Due: docker-build-frontend

:sparkles: (1118): launch capture from new modal
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
Due: docker-build-frontend

:truck: (1130): switch comu id and password fields
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:sparkles: (163) add text normalization before calculate transcription metrics
  mcr-core/mcr_meeting/evaluation/text_normalization.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

🗑️ (169) supp not used class
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (163) move code and rename files
  mcr-core/mcr_meeting/evaluation/utils/__init__.py
  mcr-core/mcr_meeting/evaluation/utils/metrics_calculator.py
  mcr-core/mcr_meeting/evaluation/utils/result_manager.py
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:green_heart: switch back to build from catalog
  .gitlab-ci-dso.yml
Due: none

:green_heart: add possibility to a use a registry-mirror
  .gitlab-ci-dso.yml
Due: none

:green_heart: add possibilty to rebuild the app manually
  .gitlab-ci-dso.yml
Due: none

:sparkles: (164) 2nd version text standardization
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (164) add tests for the 2nd version of the text standardisation function
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (1124): add retry config to call to the diarization and transcription api
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker
