Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:building_construction: (366): store offline token on capture stop and transcription init
  mcr-core/mcr_meeting/app/api/meeting/capture_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (366): faster test by auto-using mocks
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (366): add Keycloak token exchange service
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/token_exchange_service.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (366): add Deliverable model and migration
  mcr-core/mcr_meeting/app/db/migrations/versions/717de2b78c2e_create_deliverable_table.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (366): add in-memory mocks for external clients
  mcr-core/tests/mocks/in_memory_drive.py
  mcr-core/tests/mocks/in_memory_keycloak.py
  mcr-core/tests/mocks/in_memory_redis.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (366): forward bearer token and expose deliverables in gateway
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:sparkles: (366): add Redis token store
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/redis_token_store.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (366): add Drive upload client
  mcr-core/mcr_meeting/app/client/drive_client.py
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (366): add deliverable storage orchestrator
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (366): show Drive link in transcription done screen
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionContainer.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:card_file_box: (366): add deliverable repository and meeting detail query
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (366): add integration tests for deliverable storage
  mcr-core/tests/factories/deliverable_factory.py
  mcr-core/tests/integration/__init__.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:label: (366): add DeliverableDto and MeetingDetailDto frontend types
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:wrench: (366): add Drive integration env vars and Keycloak client config
  .env.local.docker
  docker-compose.yaml
  docker/auth/kc-mcr-local-config.json
Due: none

:label: (366): add DeliverableResponse and MeetingDetailResponse schemas
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (366): add redis and python-keycloak dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (366): return deliverables in meeting detail endpoint
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (366): upload transcription to Drive on completion
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  0010533cf44c828cfdf094ec57e1430794464dc5
  70a285ada8b143b169333f36db7cb8a8d7a15018
Due: none

Notes added by 'git notes add'
  ced4592e99333565a1aa0dc28bb3cf0cb42eed0d
Due: none

Notes added by 'git notes add'
  f1a2ca0e34da0814251bfb6edfbe87c8cd9647d2
Due: none

Notes added by 'git notes add'
  0a5774537a20b33d23defcd33f3f60a93718d918
Due: none

Notes added by 'git notes add'
  20e6fc89f894e882ed89095d06cac345b7fe4a05
Due: none

Notes added by 'git notes add'
  70a285ada8b143b169333f36db7cb8a8d7a15018
  b30cbffc15cf185575ce3cc76003a0c307453f66
Due: none

Notes added by 'git notes add'
  3ad7e3e3197405b6f9d904de58e5fe8343d7bc75
Due: none

Notes added by 'git notes add'
  36d1fe9aabbe7c1c94e875678fda4afa3e5908d7
Due: none

Notes added by 'git notes add'
  a12b48b8b14a581b2565b5974461eb133e910ea3
Due: none

:sparkles: (316): add webex to meeting model
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
Due: docker-build-capture-worker

:fire: (316): remove fake audio capture file
  mcr-capture-worker/mcr_capture_worker/resources/audio.wav
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:art: (316): prettier
  docker-compose.yaml
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
Due: docker-build-capture-worker

:sparkles: (316): create webex connection strategy & monitor
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
Due: docker-build-capture-worker

:boom: (316): replace chromium with firefox for headless capture worker
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:sparkles: (319): create webex meeting form
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/visio-modal/WebexMeetingForm.vue
Due: docker-build-frontend

:sparkles: (319): add webex to visio modal
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/meeting.schema.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:speech_balloon: (319): update labels for webex
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (324): get webex participants count
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  ab7e3d01cc0820255c8d811cca59f17e159e01f5
Due: none

:recycle: (137): Created NormalizedAudioVolumeSettings, renamed _normalize_volume, created _seconds_to_samples
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: (137): Changed logs from info to debug
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (137): Modified patches in tests
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
