Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:bulb: (166) suppress useless comments
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove 200mo FF
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/meeting/ImportMeetingForm.vue
  mcr-frontend/src/components/meeting/forms/import-meeting/import-meeting.schema.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
Due: docker-build-frontend

:heavy_plus_sign: (166) add dependency num2words
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) tests for intejections and numerical numbers
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (166) manage repetitions in the text
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) test with examples from the dataset
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:adhesive_bandage: (166) linting fixes
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
  mcr-core/pyproject.toml
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (166) manage interjections and numbers for text normalization
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) tests repetitions in the text
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:arrow_down: (166) num2words become a worker dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:adhesive_bandage: (166) add parametre remove_repetitions in french_text_normalizer function
  mcr-core/mcr_meeting/evaluation/utils/metrics_calculator.py
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (5s): remove auto-imports of files in ./src/src when running tests
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:white_check_mark: (5s): removed useless mock and update test to follow business logic
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:white_check_mark: (5s): fix broken tests
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:white_check_mark: (5s): fix warning about null router
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:recycle: (262): Created the get_participants_from_chunks method and deleted refine participants
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/sections/__init__.py
  mcr-generation/mcr_generation/app/services/sections/participants/get_participants.py
  mcr-generation/mcr_generation/app/services/sections/participants/refine_participants.py
Due: docker-build-generation

:test_tube: (262): Implemented new and fixed tests
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
  mcr-generation/tests/app/services/sections/test_get_participants.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

:recycle: (262): Created _extract_unique_names_in_order
  mcr-generation/mcr_generation/app/services/sections/participants/get_participants.py
Due: docker-build-generation

:test_tube: (262): Implemented tests for _extract_unique_names_in_order
  mcr-generation/tests/app/services/sections/test_get_participants.py
Due: docker-build-generation

:fire: remove beta FF
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:fire: remove 200mo FF
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/meeting/ImportMeetingForm.vue
  mcr-frontend/src/components/meeting/forms/import-meeting/import-meeting.schema.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway

:zap: (212): Modified spliting logic
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (262): Removed the self.separator attribute, split _assign_and_invalidate_segment_texts into 2
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (262): Fixed tests
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (212): Implemented new and fixed tests
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:bug: stop rewriting headers in gateway
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:children_crossing: better error message on docx failed upload
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:truck: rename util file
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/schemas/S3_types.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/utils/file_validation.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: better docx validation
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/utils/file_validation.py
Due: docker-build-core, docker-build-transcription-worker

:green_heart: (ci): publish message when pr base is changed or when pr is opened
  .github/workflows/slack-pr-notification.yml
Due: none

:recycle: (225): refactor pause indicator for in recording in progress state
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:triangular_flag_on_post: (225): add feature flag
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
Due: docker-build-frontend

:lipstick: (225): rename stop recording button
  mcr-frontend/src/components/core/RoundedActionButton.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:construction: (225): add disable state to round button
  mcr-frontend/src/components/core/RoundedActionButton.vue
Due: docker-build-frontend

:construction: (225): add network detection composable
  mcr-frontend/src/composables/use-network-status.spec.ts
  mcr-frontend/src/composables/use-network-status.ts
Due: docker-build-frontend

:sparkles: (225): change ui based on network status
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingFormNotice.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:package: (226): add indexdb
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

:fire: (226): remove old local time recording setup
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-local-storage-recording.ts
Due: docker-build-frontend

:construction: (226): add idb and chunk handling composables
  mcr-frontend/src/composables/use-audio-chunk-store.spec.ts
  mcr-frontend/src/composables/use-audio-chunk-store.ts
  mcr-frontend/src/composables/use-chunk-upload.spec.ts
  mcr-frontend/src/composables/use-chunk-upload.ts
Due: docker-build-frontend
