Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:books: (634): add missing R2 -> OUT edge in pipeline diagram
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:recycle: (634): move notes extraction out of celery task into extract_notes helper
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:white_check_mark: (606): update mcr-core tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/schemas/test_meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (606): from put to patch in mcr gateway
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:art: (606): refacto platform infos & make meeting fields optionnal
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/schemas/platform_connection_validator_schema.py
Due: docker-build-core, docker-build-transcription-worker

:art: (606): make fields optionnal in mcr-gateway
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
Due: docker-build-gateway

:truck: (606): from put to patch on frontend
  mcr-frontend/src/services/meetings/meetings.service.ts
Due: docker-build-frontend

:truck: (606): from put to patch mcr core
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/utils/db_utils.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (606): from put to patch in mcr gateway
  mcr-gateway/tests/app/test_meeting/test_update_meeting.py
Due: docker-build-gateway

:fire: (606): remove try catch, one is already existing
  mcr-core/mcr_meeting/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:arrow_up: new glossary.md file with 428 acronyms
  mcr-core/mcr_meeting/app/services/correct_acronyms/data/glossary.md
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (626): add CustomReportModal component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/tailwind.config.cjs
Due: docker-build-frontend

:speech_balloon: (626): add custom report French labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (626): integrate custom report in MeetingDeliverableCard
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:white_check_mark: (626): add CustomReportModal tests
  mcr-frontend/src/components/meeting/modals/CustomReportModal.spec.ts
Due: docker-build-frontend

:sparkles: (608): add tiptap editor
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/core/TipTapEditor.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (608): add tiptap on meeting page to try it
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:triangular_flag_on_post: (606): add useFeatureFlag
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:wheel_chair: add docstrings conventions in claude.md
  CLAUDE.md
Due: none

:test_tube: (619): Added tests
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:sparkles: (614): Created MetadataCollectors
  mcr-generation/mcr_generation/app/services/metadata_collectors/__init__.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/base.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/detailed_discussions_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/next_meeting_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/participants_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/title_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/topics_collector.py
Due: docker-build-generation

:test_tube: (614): Added and fixed tests
  mcr-generation/tests/app/services/metadata_collectors/__init__.py
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
  mcr-generation/tests/app/test_report_generation_task_service.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

:recycle: (635): migrate RefineParticipants and move .to_public() into generate_header
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/sections/participants/refine_participants.py
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
Due: docker-build-generation

:recycle: (635): migrate RefineIntent and RefineNextMeeting onto BaseInitThenRefine
  mcr-generation/mcr_generation/app/services/sections/intent/refine_intent.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/refine_next_meeting.py
Due: docker-build-generation

:sparkles: (635): introduce BaseInitThenRefine[T] with TDD tests
  mcr-generation/mcr_generation/app/services/sections/base/__init__.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/tests/app/services/sections/base/__init__.py
  mcr-generation/tests/app/services/sections/base/test_init_then_refine.py
Due: docker-build-generation

:books: (635): document BaseInitThenRefine in generation_pipeline.md
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:pushpin: (635): pin langfuse<4 to keep update_current_trace API
  mcr-generation/pyproject.toml
  mcr-generation/uv.lock
Due: docker-build-generation

:sparkles: (658): add buildDeliverableFilename helper
  mcr-frontend/src/utils/formatters.spec.ts
  mcr-frontend/src/utils/formatters.ts
Due: docker-build-frontend

:sparkles: (658): use meeting title in downloaded deliverable filenames
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:sparkles: (641): add glossary contribution banner in header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:hammer: (sentry): add sentry mcp to project
  .mcp.json
  README.md
Due: none

:ambulance: reactivate the drive feature for transcriptions
  mcr-core/mcr_meeting/app/services/token_exchange_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: call lint and format on claude turn end
  .claude/settings.json
  .gitignore
  scripts/check_changed.py
  scripts/ruff-check-file.sh
Due: none

:art: (mcr-generation): remove private docstrings, mark exceptions
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/base.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/types.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/format_section_for_report.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/sections/topics/types.py
  mcr-generation/mcr_generation/evaluation/cli/report_eval.py
  mcr-generation/mcr_generation/evaluation/criteria.py
  mcr-generation/mcr_generation/evaluation/pipeline/csv_writer.py
  mcr-generation/mcr_generation/evaluation/pipeline/docx_loader.py
  mcr-generation/mcr_generation/evaluation/pipeline/evaluation_pipeline.py
  mcr-generation/mcr_generation/evaluation/pipeline/layout.py
  mcr-generation/mcr_generation/evaluation/pipeline/report_renderer.py
  mcr-generation/mcr_generation/evaluation/pipeline/section_splitter.py
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
Due: docker-build-generation

:sparkles: add no-docstring lint rule engine
  scripts/lint_rules/__init__.py
  scripts/lint_rules/no_docstring.py
Due: none

:white_check_mark: tests for no-docstring engine
  scripts/lint_rules/tests/__init__.py
  scripts/lint_rules/tests/conftest.py
  scripts/lint_rules/tests/test_no_docstring.py
Due: none

:hammer: (mcr-generation): enable no-docstring rule in make lint
  mcr-generation/Makefile
Due: docker-build-generation

:ambulance: use the to_public method for RefineParticipants outputs
  mcr-generation/mcr_generation/app/services/metadata_collectors/detailed_discussions_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/participants_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/topics_collector.py
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
Due: docker-build-generation

:recycle: (622): Removed unwanted test and _sanitize
  mcr-generation/mcr_generation/app/schemas/custom_prompt.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/base.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
  mcr-generation/tests/app/services/report_generator/test_custom_report_generator.py
Due: docker-build-generation

:test_tube: (622): Fixed tests and typing error
  mcr-generation/tests/app/services/report_generator/test_custom_report_generator.py
Due: docker-build-generation
