Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:bug: (739): add celery contract signature test
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:bug: (739): clean tests
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

Revert "Merge pull request #687 from IA-Generative/feat/view-in-drive-button"
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

🐛 (720): allow re generation of failed reports
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
Due: docker-build-frontend

:recycle: (726): unify report generator API to generate(chunks, notes_content)
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:sparkles: (726): wire notes into CollectorSections of custom reports
  mcr-generation/mcr_generation/app/services/metadata_collectors/base.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/detailed_discussions_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/next_meeting_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/participants_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/title_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/topics_collector.py
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
  mcr-generation/mcr_generation/docs/generation_pipeline.md
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
  mcr-generation/tests/app/services/report_generator/test_custom_report_generator.py
Due: docker-build-generation

:loud_sound: (704): add log of selected device on sentry
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (727): support custom instructions in NotesExtractor
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
Due: docker-build-generation

:sparkles: (727): wire CustomSection notes through CustomReportGenerator
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
  mcr-generation/tests/app/services/report_generator/test_custom_report_generator.py
Due: docker-build-generation

:recycle: (727): migrate NOTES_SECTION_TEMPLATE to notes/prompts.py with neutral {notes_block} placeholder
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/base/prompts.py
Due: docker-build-generation

:memo: (727): update generation_pipeline.md for US10 custom notes flow
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:recycle: (727): restructure generic_pipeline prompts with ## headings + symmetric notes_section spacing
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/generic_pipeline/prompts.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/prompts.py
  mcr-generation/mcr_generation/app/services/sections/topics/prompts.py
Due: docker-build-generation

:sparkles: (727): inject notes_facts into GenericMapReducePipeline reduce
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/generic_pipeline/prompts.py
  mcr-generation/tests/app/services/generic_pipeline/test_pipeline.py
Due: docker-build-generation

:sparkles: (727): add notes_hint_present kwarg to record_empty_map_phase_event
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:loud_sound: (727): surface degraded-state record events as logger.warning for local debug
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:bug:: build map-reduce sections from notes when the map phase extracts nothing
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/tests/app/services/generic_pipeline/test_pipeline.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:book: Created audio_processing_pipeline.md that describes how the processing works
  mcr-core/docs/audio_processing_pipeline.md
Due: docker-build-core, docker-build-transcription-worker

:mute: (511): drop return value from celery LOG_SUCCESS template
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:mute: (511): silence ctranslate2 C++ warnings via Dockerfile CT2_VERBOSE
  mcr-core/Dockerfile
Due: docker-build-core, docker-build-transcription-worker

wrench: (511): force replace root logging handlers on setup
  mcr-core/mcr_meeting/setup/logger.py
Due: docker-build-core, docker-build-transcription-worker

:mute: (511): raise apscheduler and unleash_client loggers to WARNING
  mcr-core/mcr_meeting/setup/logger.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (511): intercept celery logging setup to drop [LEVEL/Worker-N] prefix
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: ajoute la facette de notes "participants" (modèle, extraction, mapping)
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/notes/facets.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/notes/prompts.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
Due: docker-build-generation

:sparkles: utilise l'indice notes participants dans les collectors et le header
  mcr-generation/mcr_generation/app/services/metadata_collectors/detailed_discussions_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/participants_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/topics_collector.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
Due: docker-build-generation

:memo: documente la facette participants dans generation_pipeline.md
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:recycle: généralise BaseInitThenRefine via _extra_prompt_vars et y branche l'indice participants
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/participants/prompts.py
  mcr-generation/mcr_generation/app/services/sections/participants/refine_participants.py
  mcr-generation/tests/app/services/sections/base/test_init_then_refine.py
  mcr-generation/tests/app/services/sections/participants/__init__.py
  mcr-generation/tests/app/services/sections/participants/test_prompts.py
Due: docker-build-generation

:bug: (565): set locale in contexte to avoid errors and disconnection
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:construction: (656): set up locale context to avoid Invalid language error
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:fire: (771): do not trigger slack notification on draft PR
  .github/workflows/slack-pr-notification.yml
Due: none

:recycle: (755): migrate simple routers to use_cases + infrastructure
  mcr-core/mcr_meeting/app/api/feature_flag_router.py
  mcr-core/mcr_meeting/app/api/feedback_router.py
  mcr-core/mcr_meeting/app/api/lookup_router.py
  mcr-core/mcr_meeting/app/api/user_router.py
  mcr-core/mcr_meeting/app/client/comu_client.py
  mcr-core/mcr_meeting/app/domain/feedback.py
  mcr-core/mcr_meeting/app/infrastructure/comu.py
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/app/orchestrators/feedback_orchestrator.py
  mcr-core/mcr_meeting/app/services/feedback_service.py
  mcr-core/mcr_meeting/app/services/lookup_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/mcr_meeting/app/use_cases/create_feedback.py
  mcr-core/mcr_meeting/app/use_cases/get_feature_flag_status.py
  mcr-core/mcr_meeting/app/use_cases/get_or_create_user_by_keycloak.py
  mcr-core/mcr_meeting/app/use_cases/lookup_comu_meeting.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_lookup_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/domain/test_feedback.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (755): address review — UoW ownership + drop dead user/feedback code
  mcr-core/mcr_meeting/app/db/user_repository.py
  mcr-core/mcr_meeting/app/services/user_service.py
  mcr-core/mcr_meeting/app/use_cases/create_feedback.py
  mcr-core/mcr_meeting/app/use_cases/get_or_create_user_by_keycloak.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (757): add download audio button
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

✨ feat(generation): type de rapport NARRATIVE_SYNTHESIS
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/schemas/celery_types.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/narrative_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/narrative/__init__.py
  mcr-generation/mcr_generation/app/services/sections/narrative/prompts.py
  mcr-generation/mcr_generation/app/services/sections/narrative/types.py
  mcr-generation/tests/app/services/report_generator/test_narrative_synthesis_generator.py
  mcr-generation/tests/app/services/report_generator/test_report_generator_factory.py
Due: docker-build-generation

✨ feat(core): persistance et routage du rapport NARRATIVE_SYNTHESIS
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/mcr_meeting/app/services/docx_report_generation_service.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/services/test_report_task_service.py
Due: docker-build-core, docker-build-transcription-worker

✨ feat(frontend): option « Synthèse narrative » (NARRATIVE_SYNTHESIS)
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

🐛 fix(generation): NarrativeSynthesisGenerator autonome
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/narrative_synthesis_generator.py
Due: docker-build-generation

:zap: (761): use gptoss models
  .env.local.docker
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-generation/mcr_generation/app/configs/settings.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:fire: (761): remove unnecessary var
  .env.local.docker
Due: none

:sparkles: (704): detect an unauthorized/lost mic as wrong-device
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/config/audioMonitor.ts
Due: docker-build-frontend

:sparkles: (704): split silent-recording Sentry issue by cause (true-silence)
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
  mcr-frontend/src/composables/use-recording-session.ts
Due: docker-build-frontend
