Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:art: (375): apply color to the whole width of background
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): run prettier
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/config/meeting.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): run prettier
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:white_check_mark: (375): avoid getting name of span
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (375): only one key for jours
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:recycle: improve audio stream utilities and recorder
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/recorderController.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/streamUtils.js
  mcr-capture-worker/mcr_capture_worker/services/audio/wait_for_stream_strategy/audioRecorder.js
Due: docker-build-capture-worker

:sparkles: rewrite Webex connection for WebRTC bridge audio capture
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:wrench: configure Firefox for headless WebRTC audio in Docker
  docker-compose.yaml
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/entrypoint.sh
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:sparkles: add WebRTC bridge for cross-origin iframe audio capture
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/webrtcBridge.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/webrtcMainReceiver.js
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  61/1c6f75e81d0eadc2bc12c2f4ac466adb816d7f
Due: none

:pencil2: remove get_js_execution_target call
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:bulb: comment the drive feature
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  60/c2a46c4ed2a72225ca1c25464046ca9d9a86e8
Due: none

:sparkles: create lookup route
  mcr-core/mcr_meeting/app/api/lookup_router.py
  mcr-core/mcr_meeting/app/client/comu_client.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/orchestrators/lookup_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/lookup_schema.py
  mcr-core/mcr_meeting/app/services/lookup_service.py
  mcr-core/mcr_meeting/main.py
  mcr-core/tests/api/test_lookup_router.py
Due: docker-build-core, docker-build-transcription-worker

:bug: add comu url/passcode verication
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/lookup/lookup.service.ts
  mcr-frontend/src/services/lookup/lookup.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:art: move lookup logic
  mcr-gateway/mcr_gateway/app/api/lookup_router.py
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/app/schemas/lookup_schema.py
  mcr-gateway/mcr_gateway/app/services/lookup_service.py
Due: docker-build-gateway

Notes added by 'git notes add'
  6b/de2ac049f098e9cbbc1be5bd42170739290db5
Due: none

Notes added by 'git notes add'
  28/33fc8413d9e43af5446a07a36b2375423fdb12
Due: none

Notes added by 'git notes add'
  7d/3c8b11a589a25a15983cc1dcda25a08b903a17
Due: none

:sparkles: (324): get webex participants count
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webex_monitor.py
Due: docker-build-capture-worker

:recycle: (383): Updated prompt and fixed participant extraction bug
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/prompts.py
Due: docker-build-core, docker-build-transcription-worker

:monocle_face: (383): Added a new transcript to dataset, fixed an expected.
  mcr-core/mcr_meeting/eval_naming/test_data/40_pers.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/40_pers.txt
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_edge_cases.expected.json
Due: docker-build-core, docker-build-transcription-worker

:technologist: (366): add lint-changed script and Claude Code hooks
  .claude/settings.json
  scripts/ruff-check-file.sh
Due: none

:memo: (366): add CLAUDE.md with directory structure and constraints
  CLAUDE.md
Due: none

:rotating_light: (366): enforce banned imports via ruff TID251
  mcr-capture-worker/pyproject.toml
  mcr-core/mcr_meeting/app/client/smtp_client.py
  mcr-core/mcr_meeting/app/services/email/email_service.py
  mcr-core/pyproject.toml
  mcr-gateway/pyproject.toml
  mcr-generation/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

iteration (261) choose temperature and VAD params for whisper API
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (367): forward bearer token on report generation
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:rotating_light:: fix more typing in tests
  mcr-core/pyproject.toml
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/factories/base.py
  mcr-core/tests/services/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/services/test_detailed_synthesis_generation.py
  mcr-core/tests/services/test_meeting_audio_service.py
  mcr-core/tests/services/test_s3_multipart.py
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
  mcr-core/tests/unit/test_spelling_corrector.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (367): add integration tests for report deliverable storage
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (367): upload report to Drive on completion
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (367): update TranscriptionDone visual to go with audio replay button
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

:lipstick: (367): show Drive links in report UI and header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:zap: auto use mocked s3 to avoid long tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/s3_mocks.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:rotating_light:: fix type errors in tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/api/test_user_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: add Drive client and token-exchange to Keycloak config
  docker/auth/kc-mcr-local-config.json
Due: none

:sparkles: add Drive setup and lifecycle scripts
  .env.local.docker
  Makefile
  docker/drive/setup-drive.sh
Due: none

:building_construction: add Docker compose overrides for cross-stack networking
  .gitignore
  docker-compose.yaml
  docker/drive/compose.override.yml.drive
  docker/drive/docker-compose.override.yml.mcr
Due: none

:wrench: update issue template to inclue task types
  .github/ISSUE_TEMPLATE/bug_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/us_request.yml
Due: none

:recycle: (261) parameters are not defined in the correct base settings class
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/chunking.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (261) define whisper params in a BaseSettings class
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
