Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:recycle: (945): slim down the list deliverable schema and filter deleted ones in the repository
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/tests/api/test_meeting_router.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: update tags in meeting list from deliverables status
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellDeliverable.vue
  mcr-frontend/src/components/meeting/table/types.ts
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
Due: docker-build-frontend, docker-build-gateway

:recycle: (945): rename mark_deliverable_* use-cases to mark_report_*
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/use_cases/mark_report_failure.py
  mcr-core/mcr_meeting/app/use_cases/mark_report_in_progress.py
  mcr-core/mcr_meeting/app/use_cases/mark_report_success.py
  mcr-core/tests/use_cases/test_mark_report_failure.py
  mcr-core/tests/use_cases/test_mark_report_in_progress.py
  mcr-core/tests/use_cases/test_mark_report_success.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (945): derive deliverable column statuses on the front and drop the legacy file_type alias
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellDeliverable.vue
  mcr-frontend/src/components/meeting/table/types.ts
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:recycle: remove all report parts from meeting state machine
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/db/migrations/versions/c7e2a4f1b9d3_map_report_status_to_transcription_done.py
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_failure.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: adapt test from SM removal
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/domain/test_meeting_transitions.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_mark_deliverable_failure.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (946): fail REQUESTED reports when transcription fails
  mcr-core/mcr_meeting/app/use_cases/fail_transcription.py
  mcr-core/tests/use_cases/test_fail_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:art: (946): qualify drain calls with their module name
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (946): factor report dispatch mapping and kwargs into _shared
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (946): encapsulate report generation dispatch in the celery infra
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (946): drain REQUESTED reports at transcription completion
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (946): move repository tests to tests/db and drop trivial query unit-tests
  mcr-core/tests/db/__init__.py
  mcr-core/tests/db/test_deliverable_repository.py
  mcr-core/tests/db/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (946): collapse SOFT_DELETE union into from_.any()
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (946): add REQUESTED DISPATCH & find_requested_reports_by_meeting
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/tests/domain/test_deliverable_transitions.py
  mcr-core/tests/orchestrators/test_deliverable_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (946): retry in_progress while deliverable is still REQUESTED (425)
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/use_cases/mark_report_in_progress.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_mark_report_in_progress.py
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/tests/app/client/test_core_api_client.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:white_check_mark: (947): mark transcription available in deliverable router tests
  mcr-core/tests/api/test_deliverable_router.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (947): add get_meeting_for_update with row lock and selectinload
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/tests/db/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (947): take the same meeting lock when draining at transcription completion
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (947): queue REQUESTED or dispatch PENDING under the meeting lock
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:bug: add DeliverableStatus lost in merges
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
Due: docker-build-gateway

:sparkles: (948): generate deliverables from autonomous per-type cards with live status
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCard.spec.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/deliverables/use-deliverables.spec.ts
  mcr-frontend/src/services/deliverables/use-deliverables.ts
Due: docker-build-frontend

:lipstick: (948): match the custom prompt modal generate button to the card generate button
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
Due: docker-build-frontend

:sparkles: (948): persist deliverable custom_prompt and forward it at transcription drain
  mcr-core/mcr_meeting/app/db/migrations/versions/26c0970cb677_add_custom_prompt_to_deliverable.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle:: decouple logging from Sentry and consolidate init
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
Due: docker-build-core, docker-build-transcription-worker

:recycle:: report unforeseen errors via an HTTP boundary catch-all
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/main.py
Due: docker-build-core, docker-build-transcription-worker

:lock:: return 404 for forbidden access to avoid leaking existence
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: align API error and access-control tests
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/api/test_evaluation_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/api/test_transcription_router.py
Due: docker-build-core, docker-build-transcription-worker
