Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:sparkles: (985) add STRUCTURED_MINUTES type and wire contract
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
Due: docker-build-core, docker-build-transcription-worker

:art: (985): format gateway schema test
  mcr-gateway/tests/app/test_deliverable/test_deliverable_schema.py
Due: docker-build-gateway

:white_check_mark: (985): cover structured minutes rendering, union and gateway schema
  mcr-core/tests/domain/test_report_rendering.py
  mcr-core/tests/domain/test_structured_minutes_template.py
  mcr-core/tests/unit/test_deliverable_filename.py
  mcr-core/tests/unit/test_report_response_union.py
  mcr-core/tests/use_cases/test_request_deliverable.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_schema.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:sparkles: (985) allow structured minutes deliverable creation and dispatch
  mcr-core/mcr_meeting/app/domain/deliverable_filename.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (985): expose STRUCTURED_MINUTES type through gateway
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
Due: docker-build-gateway

:sparkles: (985) render structured minutes docx from jinja template
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/domain/report_templates/structured_minutes.md.jinja
Due: docker-build-core, docker-build-transcription-worker

:memo: (claude): improve rules on infrastructure
  .claude/rules/infrastructure-resilience.md
  mcr-core/dantotsus/dant-001-logger-importe-sentry.md
Due: docker-build-core, docker-build-transcription-worker

:memo: (claude): improve respect of testing standard
  .claude/rules/testing.md
  .claude/skills/testing-standard/SKILL.md
  CLAUDE.md
Due: none

:goal_net: (transcription): add retries on task level
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/tests/services/speech_to_text_pipeline/test_transcription_api_resilience.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (diarization): add task level retry on diarization failure
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: update diarization tests
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:memo:: update testing standard
  .claude/rules/infrastructure-resilience.md
  .claude/rules/testing.md
Due: none

:memo: (claude): deny memories with custom prompt
  .claude/settings.json
Due: none

:bug: (record): remove echoCancellation to prevent silentAudioRecording
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:memo: (claude): fix typo in claude.md
  CLAUDE.md
Due: none

:recycle: (985): derive report type from deliverable type and map report generation data from the response
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/mcr_meeting/app/use_cases/_shared/report_dispatch.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_report_dispatch.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (985): pass the response model directly to the jinja report templates
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/domain/report_templates/detailed_synthesis.md.jinja
  mcr-core/mcr_meeting/app/domain/report_templates/structured_minutes.md.jinja
  mcr-core/tests/domain/test_detailed_synthesis_generation.py
  mcr-core/tests/domain/test_structured_minutes_template.py
Due: docker-build-core, docker-build-transcription-worker

feat(ComuMeetingForm) :sparkles: inverse les blocs ComuUrl et ComuId/ComuPassword
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Corrige le titre et réhausse le pictogramme
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

fix: :alien: corriger les appel à DsfrInputGroup suite à la montée de vue-dsfr et erreurs sur le typage
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

chore(deps): :arrow_up: monte les dépendance à VueDsfr et DSFR
  mcr-frontend/index.html
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Propose une version plus compacte de la modale
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVideoConferenceModal.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

chore: 🔧 ajoute ResizeObserver à vitest.setup pour pouvoir l'utiliser dans les tests (absent de jsdom)
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

chore: :art: format code
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend
