Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:sparkles: (178) add prompts and extraction classes
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/prompts.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/types.py
Due: docker-build-generation

:sparkles: (178) add map reduce class for detailed discussions extraction
  mcr-generation/mcr_generation/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

🙈 (178) gitignore modif and add __init__.py files
  mcr-generation/.gitignore
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/__init__.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/__init__.py
  mcr-generation/mcr_generation/app/services/sections/intent/__init__.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/__init__.py
  mcr-generation/mcr_generation/app/services/sections/participants/__init__.py
  mcr-generation/mcr_generation/app/services/sections/topics/__init__.py
Due: docker-build-generation

:sparkles: (176) first version of the DetailedSynthesisGenerator
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
Due: docker-build-generation

✅ (178) completing the tests for DetailedSynthesisGenerator
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
Due: docker-build-generation

:white_check_mark: (176) add tests for DetailedSynthesisGenerator
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
Due: docker-build-generation

📝 (178) add documentation
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/examples/decision_record_example.json
  mcr-generation/mcr_generation/app/services/report_generator/examples/detailed_synthesis_example.json
Due: docker-build-generation

:sparkles: (1111): factorize visio tools component call
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
Due: docker-build-frontend

:speech_balloon: (1111): add visio, webconf & webinaire labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1111): add visio, webconf & webinaire form components
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1111): create component for form separator
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioConnectionSeparator.vue
Due: docker-build-frontend

:sparkles: (1111): disable modal footer stickiness
  mcr-frontend/src/components/core/BaseModal.vue
Due: docker-build-frontend

:sparkles: (161): link router to detailed synthesis service
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (161): add tests for detailed synthesis generation
  mcr-core/tests/services/test_detailed_synthesis_generation.py
Due: docker-build-core, docker-build-transcription-worker

:label: (161): add interface types with generation worker
  mcr-core/mcr_meeting/app/schemas/report_generation.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (161): add detailed synthesis template and generation service
  mcr-core/mcr_meeting/app/cr-templates/detailed_synthesis_template.docx
  mcr-core/mcr_meeting/app/services/docx_report_generation_service.py
  mcr-core/mcr_meeting/app/services/report_content/templates/detailed_synthesis.md.jinja
Due: docker-build-core, docker-build-transcription-worker

:package: (161): add markdowntodocx
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (161): add markdown template rendering pipeline
  mcr-core/mcr_meeting/app/services/report_content/__init__.py
  mcr-core/mcr_meeting/app/services/report_content/markdown_to_docx.py
  mcr-core/mcr_meeting/app/services/report_content/template_renderer.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (core): add UP rules to linter
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:hammer: (capture): add UP rules to linter
  mcr-capture-worker/pyproject.toml
Due: docker-build-capture-worker

:rotating_light: (generation): run ruff lint safe fix
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/sections/intent/refine_intent.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/refine_next_meeting.py
  mcr-generation/mcr_generation/app/services/sections/participants/refine_participants.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/sections/topics/types.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/app/utils/function_execution_timer.py
Due: docker-build-generation

:hammer: (gateway): add UP rules to linter
  mcr-gateway/pyproject.toml
Due: docker-build-gateway

:hammer: (generation): add UP rules to linter
  mcr-generation/pyproject.toml
Due: docker-build-generation

:rotating_light: (capture): run ruff lint safe fix
  mcr-capture-worker/mcr_capture_worker/clients/http_client.py
  mcr-capture-worker/mcr_capture_worker/db/db.py
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/schemas/meeting_schema.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/utils/upload_queue.py
Due: docker-build-capture-worker

:rotating_light: (gateway): run ruff lint safe fix
  mcr-gateway/docs/source/conf.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/api/transcription_router.py
  mcr-gateway/mcr_gateway/app/schemas/S3_types.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/schemas/token_schema.py
  mcr-gateway/mcr_gateway/app/schemas/user_schema.py
  mcr-gateway/mcr_gateway/app/services/authentification_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/services/transcription_service.py
  mcr-gateway/mcr_gateway/setup/request_id_middleware.py
Due: docker-build-gateway

:test_tube: (174): Implemented tests for SpellingCorrector
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (174): Found a new hallucination and added it to the forbidden list
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (174): Implemented SpellingCorrector and a FF.
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/prompt.py
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (175): Moved text correction in post_process and removed a useless test
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (141): fix flaky test on user generation
  mcr-core/tests/factories/user_factory.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (141): add report generation router tests
  mcr-core/tests/api/test_report_generation_router.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (154): split download and generate button
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
Due: docker-build-frontend

:sparkles: (141): update frontend to request different report types
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:sparkles: (141): allow generation of different report types
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (141): update gateway routes
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:label: (141): add ReportType enum and ReportGenerationRequest type
  mcr-core/mcr_meeting/app/schemas/report_generation.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (131): add reset report route in gateway
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:sparkles: (131): add reset report route and transition
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (131): add reset report button
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend
