Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:zap: (1002): read a deliverable owner in one joined query and authorize on plain values
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/domain/authorize_meeting_access.py
  mcr-core/mcr_meeting/app/use_cases/deactivate_deliverable_feedback.py
  mcr-core/mcr_meeting/app/use_cases/upsert_deliverable_feedback.py
  mcr-core/tests/db/test_deliverable_owner_lookup.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1002): drive the optimistic thumb from the query cache instead of a local ref
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
Due: docker-build-frontend

:recycle: (1002): extract the deliverable card actions and name its footer states
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/deliverable-card-state.ts
Due: docker-build-frontend

:sparkles: (1002): mirror the deliverable feedback routes through the gateway
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_feedback_schema.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_feedback_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:sparkles: (1003): record the reasons a deliverable was voted down for
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/db/deliverable_feedback_repository.py
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/db/migrations/versions/b41d7e9c8f52_create_deliverable_feedback_reason_table.py
  mcr-core/mcr_meeting/app/domain/deliverable_feedback.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_feedback_model.py
  mcr-core/mcr_meeting/app/schemas/deliverable_feedback_schema.py
  mcr-core/mcr_meeting/app/use_cases/list_deliverable_feedback_reasons.py
  mcr-core/mcr_meeting/app/use_cases/upsert_deliverable_feedback.py
  mcr-core/tests/api/test_deliverable_feedback_router.py
  mcr-core/tests/db/test_deliverable_feedback_repository.py
  mcr-core/tests/db/test_deliverable_owner_lookup.py
  mcr-core/tests/domain/test_deliverable_feedback.py
  mcr-core/tests/schemas/test_deliverable_schema.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1003): hand the validated feedback request to the use case instead of unpacking it
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/use_cases/upsert_deliverable_feedback.py
  mcr-core/tests/db/test_deliverable_owner_lookup.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (1003): drop the positive-vote reason guard the request union already enforces
  mcr-core/mcr_meeting/app/domain/deliverable_feedback.py
  mcr-core/tests/domain/test_deliverable_feedback.py
Due: docker-build-core, docker-build-transcription-worker

:triangular_flag_on_post: (1003): lift the deliverable-feedback flag to release the thumbs
  mcr-frontend/src/components/meeting/DeliverableTypeCard.spec.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
Due: docker-build-frontend

:sparkles: (1003): mirror the feedback reasons through the gateway
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_feedback_schema.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_feedback_schema.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_feedback_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:sparkles: (1003): report what went wrong in a deliverable through a thumb down
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/negative-feedback.rules.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/negative-feedback.rules.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/reason-label.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/reason-label.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/plugins/i18n.ts
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/deliverable-feedback/deliverable-feedback.service.ts
  mcr-frontend/src/services/deliverable-feedback/deliverable-feedback.types.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback-reasons.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:goal_net: (diarization): add task level retry on diarization failure
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: update diarization tests
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:memo:: update testing standard
  mcr-core/tests/services/speech_to_text_pipeline/test_transcription_api_resilience.py
  mcr-core/tests/use_cases/test_run_diarization.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (transcription): add retries on task level
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/tests/services/speech_to_text_pipeline/test_transcription_api_resilience.py
Due: docker-build-core, docker-build-transcription-worker

:memo:: update testing standard
  .claude/rules/testing.md
  .claude/skills/testing-standard/README.md
  .claude/skills/testing-standard/SKILL.md
  mcr-frontend/src/components.d.ts
Due: docker-build-frontend

fix: :alien: corriger les appel à DsfrInputGroup suite à la montée de vue-dsfr et erreurs sur le typage
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Propose une version plus compacte de la modale
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVideoConferenceModal.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

chore: 🔧 ajoute ResizeObserver à vitest.setup pour pouvoir l'utiliser dans les tests (absent de jsdom)
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

fix: :recycle: corrige i18n, suppression config.js, doublon de composants et style formulaire dans la modale
  mcr-frontend/index.html
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVideoConferenceModal.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

chore: :art: format code
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

chore(deps): :arrow_up: monte les dépendance à VueDsfr et DSFR
  mcr-frontend/index.html
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Corrige le titre et réhausse le pictogramme
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

feat(ComuMeetingForm) :sparkles: inverse les blocs ComuUrl et ComuId/ComuPassword
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:recycle: (781): fix typing error because of new dsfr version
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
Due: docker-build-frontend

:bug: (modal): disable dsfr modal on click interaction
  mcr-frontend/src/components/core/BaseModal.vue
Due: docker-build-frontend

:sparkles: (notify): add post to arbitrary url on drive upload
  .env.local.docker
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/notify_upload.py
  mcr-core/mcr_meeting/app/use_cases/_shared/drive_upload.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (drive): fix drive local setup
  .env.local.docker
  docker/drive/setup-drive.sh
  mcr-core/mcr_meeting/app/use_cases/_shared/drive_upload.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (db): Add proper typing for db -> python conversion of enums
  mcr-core/mcr_meeting/app/models/types.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (db): add enum convertion tests
  mcr-core/tests/db/test_str_enum_columns.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (db): consume new db type
  mcr-core/mcr_meeting/app/models/deliverable_feedback_model.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/models/feedback_model.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/models/meeting_transition_record.py
Due: docker-build-core, docker-build-transcription-worker

:mute: (generation): remove error log as sentry errors in generation
  mcr-generation/mcr_generation/app/utils/celery_worker.py
  mcr-generation/mcr_generation/app/utils/sentry_context.py
  mcr-generation/mcr_generation/main.py
Due: docker-build-generation

:mute: (capture): remove error log as sentry errors in capture worker
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
Due: docker-build-capture-worker

:mute: (langfuse): allow to disable langfuse via env-var because of current langfuse sunseting
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/langfuse.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/main.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:memo: (testing): update testing standard
  .claude/rules/testing.md
  .claude/skills/testing-standard/SKILL.md
Due: none

:wrench:: point op:// references at renamed 1Password vault
  .env.template
  CONTRIBUTING.md
  Makefile
Due: none

:art: add xs/2xs breakpoints and drop the arbitrary ones
  mcr-frontend/src/theme.css
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:bug: (dropdown): fix oversized menu items and drop dead accordion rules
  mcr-frontend/src/components/core/DsfrDropdown.vue
Due: docker-build-frontend

:wrench: regenerate components.d.ts after the ReportFormatSelection removal
  mcr-frontend/src/components.d.ts
Due: docker-build-frontend

:art: migrate scoped CSS to Tailwind utilities
  mcr-frontend/src/components/core/AppFooter.vue
  mcr-frontend/src/components/core/AppToaster.vue
  mcr-frontend/src/components/core/ProgressBar.vue
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/src/components/table/TableActions.vue
  mcr-frontend/src/components/table/TablePagination.vue
  mcr-frontend/src/views/MaintenancePage.vue
  mcr-frontend/src/views/errors/NotFoundPage.vue
Due: docker-build-frontend

:fire: remove unused components and their orphaned i18n keys
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/core/SkeletonLoader.vue
  mcr-frontend/src/components/meeting/report/ReportPending.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioConnectionSeparator.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend
