Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:recycle: (622): Added a field_validator to _ReduceResponse and added tests
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/tests/app/services/generic_pipeline/test_pipeline.py
Due: docker-build-generation

:test_tube: (622): Fixed tests
  mcr-generation/tests/app/services/report_generator/test_custom_report_generator.py
Due: docker-build-generation

:recycle: (622): Removed double titles and fixed tests
  mcr-generation/mcr_generation/app/services/generic_pipeline/prompts.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/detailed_discussions_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/next_meeting_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/participants_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/title_collector.py
  mcr-generation/mcr_generation/app/services/metadata_collectors/topics_collector.py
  mcr-generation/tests/app/services/metadata_collectors/test_collectors.py
Due: docker-build-generation

:recycle: (622): Created CollectorSection and CustomSection. Modified the prompt accordingly.
  mcr-generation/mcr_generation/app/schemas/custom_prompt.py
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
  mcr-generation/mcr_generation/app/services/rewriter/prompts.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
Due: docker-build-generation

:sparkles: (622): Added the rewriter in the orchestrator
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/custom_report_generator.py
Due: docker-build-generation

:sparkles: (622): Created the prompt rewriter
  mcr-generation/mcr_generation/app/schemas/custom_prompt.py
  mcr-generation/mcr_generation/app/services/rewriter/__init__.py
  mcr-generation/mcr_generation/app/services/rewriter/prompts.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
Due: docker-build-generation

:truck: (609): create mutations for notes
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting-notes.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:white_check_mark: (609): update tests
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.spec.ts
Due: docker-build-frontend

:art: (609): from update notes to update meeting optimistically
  mcr-frontend/src/components/meeting/MeetingNotesEditor.vue
  mcr-frontend/src/components/meeting/forms/import-meeting/import-meeting.schema.ts
  mcr-frontend/src/components/meeting/forms/record-meeting.schema.ts
  mcr-frontend/src/components/meeting/meeting.schema.ts
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting-notes.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:sparkles: (609): add meeting notes component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/core/TipTapEditor.vue
  mcr-frontend/src/components/meeting/MeetingNotesEditor.vue
  mcr-frontend/src/components/meeting/RecordingCard.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:lipstick: (609): update vh instead of px
  mcr-frontend/src/components/core/TipTapEditor.vue
Due: docker-build-frontend

:sparkles: (611): add meeting notes to celery task kwargs
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:adhesive_bandage: remove docker-compose.override.yaml added by error
  docker-compose.override.yml
Due: none

:sparkles: (637): add init_hint param to BaseInitThenRefine
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/tests/app/services/sections/base/test_init_then_refine.py
Due: docker-build-generation

:sparkles: (637-638): seed RefineIntent and RefineNextMeeting from extracted_notes
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
  mcr-generation/tests/app/services/report_generator/test_decision_record_generator.py
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
Due: docker-build-generation

:sparkles: (637-638): forward extracted_notes from Celery task to generators
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:books: (637-638): document notes-seed mechanism in generation_pipeline
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:construction_worker: (666): Made make pre-commit and Ci match across all projects
  .github/workflows/mcr-ci.yml
  mcr-capture-worker/Makefile
  mcr-core/Makefile
  mcr-frontend/package.json
  mcr-gateway/Makefile
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-capture-worker

:sparkles: add Drive setup and lifecycle scripts
  .env.local.docker
  Makefile
  docker/drive/setup-drive.sh
Due: none

:wrench: add Drive client and token-exchange to Keycloak config
  docker/auth/kc-mcr-local-config.json
Due: none

:memo: (517): Added a README
  benchmarks/visio_stt/README.md
Due: none

:hammer: (517): Created a script to preprocess audios and have a bot connect to visio and stream it.
  .gitignore
  benchmarks/visio_stt/__pycache__/bot.cpython-311.pyc
  benchmarks/visio_stt/__pycache__/config.cpython-311.pyc
  benchmarks/visio_stt/__pycache__/preprocess.cpython-311.pyc
  benchmarks/visio_stt/bot.py
  benchmarks/visio_stt/config.example.json
  benchmarks/visio_stt/config.json
  benchmarks/visio_stt/config.py
  benchmarks/visio_stt/preprocess.py
  benchmarks/visio_stt/pyproject.toml
  benchmarks/visio_stt/run.py
  benchmarks/visio_stt/uv.lock
Due: none

:fire: (517): Removed docstring and deleted the config example
  benchmarks/visio_stt/bot.py
  benchmarks/visio_stt/config.example.json
Due: none

:lock: (367): add HTTP timeouts on Drive client and Keycloak token exchange
  mcr-core/mcr_meeting/app/client/drive_client.py
  mcr-core/mcr_meeting/app/services/token_exchange_service.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction:: exchange user token in core on deliverable
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/tests/api/test_deliverable_router.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (367): cover orchestrator Drive upload success and failure paths
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/report_task_mocks.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (367): extract Drive upload helper into dedicated service
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
  mcr-core/mcr_meeting/app/services/drive_upload_service.py
  mcr-core/tests/integration/conftest.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: add Docker compose overrides for cross-stack networking
  .gitignore
  dantotsus/architecture/transition-01-close-b2.md
  docker-compose.yaml
  docker/drive/compose.override.yml.drive
  docker/drive/docker-compose.override.yml.mcr
  docker/drive/setup-drive.sh
Due: none

:sparkles: (367): upload report deliverables to Drive from mcr-core
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/tests/app/client/test_core_api_client.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:building_construction:: pass user token through gateway
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:hammer: (slack): update slack integration with new team members
  .github/slack-users.json
Due: none

:sparkles: (639-640): add shared NOTES_SECTION_TEMPLATE prompt fragment
  mcr-generation/mcr_generation/app/services/sections/base/prompts.py
Due: docker-build-generation

:sparkles: (639): inject notes hint into MapReduceTopics reduce and rebrand observe spans
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/sections/topics/prompts.py
  mcr-generation/tests/app/services/report_generator/test_decision_record_generator.py
  mcr-generation/tests/app/services/sections/topics/__init__.py
  mcr-generation/tests/app/services/sections/topics/test_map_reduce_topics.py
Due: docker-build-generation

:books: (639-640): document notes reduce-hint mechanism in generation_pipeline
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:sparkles: (640): inject notes hint into MapReduceDetailedDiscussions reduce and rebrand observe spans
  mcr-generation/mcr_generation/app/services/report_generator/detailed_synthesis_generator.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/prompts.py
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
  mcr-generation/tests/app/services/sections/detailed_discussions/__init__.py
  mcr-generation/tests/app/services/sections/detailed_discussions/test_map_reduce_detailed_discussions.py
Due: docker-build-generation

:bug: (680): Fixed participants being overwritten. Modified the prompts.
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/prompts.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: Added tests and a make rule to start the participants identification evaluation
  Makefile
  mcr-core/tests/unit/test_match_speakers_with_participants.py
Due: docker-build-core, docker-build-transcription-worker

:books: update README with local project start instructions
  README.md
Due: none

:sparkles: (658): build deliverable filenames in mcr-core
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/utils/deliverable_filename.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/unit/test_deliverable_filename.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (658): forward upstream Content-Disposition through gateway
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/utils/__init__.py
  mcr-gateway/mcr_gateway/app/utils/streaming_proxy.py
  mcr-gateway/mcr_gateway/main.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
  mcr-gateway/tests/app/test_meeting/test_generate_transcription_document.py
Due: docker-build-gateway

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
