Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:building_construction: (477) add participant_naming evaluation in our evaluation folder
  mcr-core/mcr_meeting/evaluation/participant_naming/__init__.py
  mcr-core/mcr_meeting/evaluation/participant_naming/__main__.py
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/15_pers_presentes.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/15_pers_presentes.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/3_pers_titre.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/3_pers_titre.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/40_pers.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/40_pers.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_edge_cases.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_edge_cases.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_implicite.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_implicite.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_pas_de_pres.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/5_pers_pas_de_pres.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/6_pers_multiple_names.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/6_pers_multiple_names.txt
Due: docker-build-core, docker-build-transcription-worker

:rotating_light: (477) linting fix
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (477): add tests for acronyme evaluation utils
  mcr-core/tests/unit/evaluation/acronymes/__init__.py
  mcr-core/tests/unit/evaluation/acronymes/test_counting.py
  mcr-core/tests/unit/evaluation/acronymes/test_metrics.py
  mcr-core/tests/unit/evaluation/acronymes/test_persistence.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (frontend): improve useMeetings global mock to include queries
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:white_check_mark: (frontend): mock use-meetings in Meeting list page
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
Due: docker-build-frontend

:test_tube: (473): Modified conftest and made tests match our use case better
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_silent_audio_detection.py
  mcr-core/tests/unit/test_silent_audio_detection.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (473): Removed meeting_id from STT pipeline
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/evaluation/asr/evaluation_pipeline.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/unit/test_silent_audio_detection.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (473): Fixed and added tests
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/unit/test_silent_audio_detection.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (473): Created SilentAudioError and implemented the detection logic
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/evaluation/asr/evaluation_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (480): Added user, meeting _id and name_platform to errors on sentry
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (480): Added a try to get the name_platform
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (480): Renamed the tags meeting_id -> meeting.id and name_platform -> meeting.platform
  mcr-core/mcr_meeting/app/utils/sentry_context.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (480): Moved gather_meeting_context to sentry_context.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (377): add hoverable tooltip for soon to be expired meeting
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/components/meeting/table/types.ts
  mcr-frontend/src/config/meeting.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings-datetime.ts
Due: docker-build-frontend

:art: (377): update imports
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
Due: docker-build-frontend

vault pull secret system
  .env.local.docker
  .githooks/post-merge
  Makefile
  scripts/require.sh
  scripts/sync-env.sh
  tpl/env.ctmpl
  vault-agent.hcl
Due: none

:white_check_mark: (378): add tests
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/services/meetings/meetings.types.spec.ts
Due: docker-build-frontend

:sparkles: (378): add transcription status tag
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/components/meeting/table/types.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:sparkles: (509): add loaders for acronym glossary and per-audio reference
  mcr-core/mcr_meeting/evaluation/acronymes/loaders.py
  mcr-core/tests/unit/evaluation/acronymes/test_loaders.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (509) move _safe_ratio function to an utils file
  mcr-core/mcr_meeting/evaluation/acronymes/utils/metrics.py
  mcr-core/mcr_meeting/evaluation/participant_naming/__main__.py
  mcr-core/mcr_meeting/evaluation/utils/math_utils.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (509): replace hardcoded acronym constant with glossary + per-audio reference, add count-aware tn and accuracy
  mcr-core/mcr_meeting/evaluation/acronymes/constants.py
  mcr-core/mcr_meeting/evaluation/acronymes/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/acronymes/types.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/__init__.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/counting.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/metrics.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/persistence.py
  mcr-core/tests/unit/evaluation/acronymes/test_counting.py
  mcr-core/tests/unit/evaluation/acronymes/test_metrics.py
  mcr-core/tests/unit/evaluation/acronymes/test_persistence.py
Due: docker-build-core, docker-build-transcription-worker

:ambulance: (534): disable bot auto disconnection feature
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:wrench: (534): make CI point to a specific ffmpeg version
  .github/workflows/mcr-ci.yml
Due: none

:white_check_mark: (379): add tests
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
Due: docker-build-frontend

:sparkles: (379): add report status tag
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellDeliverable.vue
  mcr-frontend/src/components/meeting/table/types.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:art: (379): clean to take into account latest comments
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellDeliverable.vue
Due: docker-build-frontend

:truck: (502): remoove voteType to create it into feedback later
  mcr-core/mcr_meeting/app/models/deliverable_model.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (502): add feedback_model
  mcr-core/mcr_meeting/app/db/migrations/versions/a041171f7a91_create_feedback_table.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/models/feedback_model.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (521): add new comu domain to validator pattern
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker

:alien: switch url for the transcription and diarization APIs
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (524): create recording monitor
  mcr-frontend/src/composables/use-recording-monitor.ts
Due: docker-build-frontend

:speech_balloon: (524): create silent audio errors labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (524): use monitor in recording methods
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:white_check_mark: (524): test recording monitor
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
Due: docker-build-frontend

Notes added by 'git notes add'
  7f/4a0a19baa06861e4c9b4dc72a3a0f6af382cc1
Due: none

Notes added by 'git notes add'
  b6/8ddbc1db9cb5a94741a1223224bb2a4b934f89
Due: none

Notes added by 'git notes add'
  be/1b7f1aed11055ffa6d8cfb2f14bc434e6b1f40
Due: none

Notes added by 'git notes add'
  2d/967e1528218a9440735932d30dc68e9cb2ff07
Due: none

Notes added by 'git notes add'
  1c/05c9fd267c6877087b525a2b9d5d3900e378da
Due: none

:adhesive_bandage: fix ruff linter on agent write
  .claude/settings.json
  scripts/ruff-check-file.sh
Due: none
