Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:test_tube: (137): Added tests for the functions implemented
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/unit/test_noise_detection.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (137): Implemented compute_spectral_flatness_on_silences
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (137): Split NoiseDetectionSettings into constants and parameters. Modified logging logic.
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  18eaa643dbb138264f450b86cc9e239f61920716
  3fafa440662c12a90477cc1c67ff2dc6d379f0f3
  641853506c80e842f0349c1452c01ab8243a14c9
  cb4ac5005e885761894de2c3cc72d506f45bbf5d
  d86e98336698aee0579507588e79bff5cdca4f34
Due: none

:bug: update the data of mark_transcription_as_success route
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/client/meeting_client.py
Due: docker-build-core, docker-build-transcription-worker

:wrench:: add claude commit skill
  .claude/skills/commit/SKILL.md
Due: none

:sparkles: (366): add Keycloak token exchange service
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/token_exchange_service.py
Due: docker-build-core, docker-build-transcription-worker

:label: (366): add DeliverableResponse and MeetingDetailResponse schemas
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (366): show Drive link in transcription done screen
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionContainer.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:building_construction: (366): return deliverables in meeting detail endpoint
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (367): forward bearer token on report generation
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:sparkles: (366): add Redis token store
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/redis_token_store.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (366): upload transcription to Drive on completion
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:label: (366): add DeliverableDto and MeetingDetailDto frontend types
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:building_construction: (366): forward bearer token and expose deliverables in gateway
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:white_check_mark: (366): add integration tests for deliverable storage
  mcr-core/tests/factories/deliverable_factory.py
  mcr-core/tests/integration/__init__.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (366): add deliverable storage orchestrator
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (367): upload report to Drive on completion
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (367): add integration tests for report deliverable storage
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:rotating_light:: fix type errors in tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/api/test_user_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (366): store offline token on capture stop and transcription init
  mcr-core/mcr_meeting/app/api/meeting/capture_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (366): add redis and python-keycloak dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (367): show Drive links in report UI and header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:rotating_light:: fix more typing in tests
  mcr-core/pyproject.toml
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/factories/base.py
  mcr-core/tests/services/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/services/test_detailed_synthesis_generation.py
  mcr-core/tests/services/test_meeting_audio_service.py
  mcr-core/tests/services/test_s3_multipart.py
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
  mcr-core/tests/unit/test_spelling_corrector.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (366): add Drive upload client
  mcr-core/mcr_meeting/app/client/drive_client.py
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (367): update TranscriptionDone visual to go with audio replay button
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
Due: docker-build-frontend

:white_check_mark: (366): add in-memory mocks for external clients
  mcr-core/tests/mocks/in_memory_drive.py
  mcr-core/tests/mocks/in_memory_keycloak.py
  mcr-core/tests/mocks/in_memory_redis.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (366): faster test by auto-using mocks
  mcr-core/tests/conftest.py
  mcr-core/tests/integration/conftest.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (366): add Deliverable model and migration
  mcr-core/mcr_meeting/app/db/migrations/versions/717de2b78c2e_create_deliverable_table.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (366): add Drive integration env vars and Keycloak client config
  .env.local.docker
  docker-compose.yaml
  docker/auth/kc-mcr-local-config.json
Due: none

:zap: auto use mocked s3 to avoid long tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/s3_mocks.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (366): add deliverable repository and meeting detail query
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (382): Created evaluation script for participants naming
  mcr-core/mcr_meeting/eval_naming/__init__.py
  mcr-core/mcr_meeting/eval_naming/__main__.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (382): Created dataset
  mcr-core/mcr_meeting/eval_naming/test_data/15_pers_presentes.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/15_pers_presentes.txt
  mcr-core/mcr_meeting/eval_naming/test_data/3_pers_titre.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/3_pers_titre.txt
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_edge_cases.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_edge_cases.txt
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_implicite.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_implicite.txt
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_pas_de_pres.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/5_pers_pas_de_pres.txt
  mcr-core/mcr_meeting/eval_naming/test_data/6_pers_multiple_names.expected.json
  mcr-core/mcr_meeting/eval_naming/test_data/6_pers_multiple_names.txt
Due: docker-build-core, docker-build-transcription-worker

:wrench: add Drive client and token-exchange to Keycloak config
  docker/auth/kc-mcr-local-config.json
Due: none

Notes added by 'git notes add'
  d0728af5fde4d9c9bc6a697b994a23310e44b915
  df830e8e58493b12b7be4cee6e6c5062a7f48889
Due: none

Notes added by 'git notes add'
  f9826be721f708a713dde160d9d581f70bec24b9
Due: none

:sparkles: add Drive setup and lifecycle scripts
  .env.local.docker
  Makefile
  docker/drive/setup-drive.sh
Due: none

:building_construction: add Docker compose overrides for cross-stack networking
  .gitignore
  docker-compose.yaml
  docker/drive/compose.override.yml.drive
  docker/drive/docker-compose.override.yml.mcr
Due: none
