Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

connection working with gui, not working with docker
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

test webex
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  5fed7b14d8f3bde1850d0db043a0341908a79b71
  9c604a7c81e1969dac8c42e6a07b8fd92cd6bfa6
  aa8a739d146ea7adac8d4f8085e0d896b1596694
Due: none

Notes added by 'git notes add'
  bee0c592f649396b6946a39f448a5b0344c2ebac
Due: none

Notes added by 'git notes add'
  e06409918e0c6eecceec0eb4088e61c45dd30ae0
Due: none

Notes added by 'git notes add'
  f38003b3b2cc55c82292bd9576f88a5af1eeaa16
Due: none

:bug: (391): Removed timestamp_granularities
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  b7771741245781e86ec60acd1885ccd265e55703
Due: none

:construction_worker: add slack user
  .github/slack-users.json
  .github/workflows/slack-pr-notification.yml
Due: none

:memo: change the type of user request template
  .github/ISSUE_TEMPLATE/user_return_request.yml
Due: none

Notes added by 'git notes add'
  26dfcece5a3fde7f46c9dd47be385f55b1eecc77
Due: none

:zap: remove the save transcription into worker
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/db/transcription_repository.py
  mcr-core/tests/unit/test_transcription_repository.py
Due: docker-build-core, docker-build-transcription-worker

:art: create mock folder
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/__init__.py
  mcr-core/tests/mocks/email_mocks.py
  mcr-core/tests/mocks/s3_mocks.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:art: add transcription task args helper
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/schemas/celery_types.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:art: rename handle transcription success function
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: add transcription orchestractor test
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:zap: add the transcription docx creation in transcription/success route
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/docx_transcription_generation_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: add transcription task args helper test
  mcr-core/tests/unit/test_extract_transcription_task_args.py
Due: docker-build-core, docker-build-transcription-worker

:zap: remove the db connection
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/api/test_transcription_router.py
Due: docker-build-core, docker-build-transcription-worker

:bug: get the first participants badge for COMU
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  1aa69e0984547312e021777b0332055167abae73
Due: none

Notes added by 'git notes add'
  18ea2a32762800703937f3cf4ad341be76a584d0
Due: none

Notes added by 'git notes add'
  631982f9d653cd18c9412a3e6dc0637b31967997
Due: none

:bug: parse the comu url to remove the user language pref
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: add rewrite comu url test
  mcr-core/tests/schemas/test_meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  9c0ba2206fc5b82c1d8aa8f164fd7f88ef408bb6
Due: none

Notes added by 'git notes add'
  b5244eeb74c94288831435b4349a4df43c152c28
Due: none

Notes added by 'git notes add'
  1d2c6f8800917121e49fd217d4c5fe7158ea7b39
Due: none

:fire: remove dependabot
  .github/dependabot.yml
Due: none

Notes added by 'git notes add'
  d655b0b80b4a8f284f7d7dd3b198e6dc25e9805c
Due: none

:recycle: (245) rename vad_spans to chunk_spans in TranscriptionProcessor
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (245) use compute_transcription_chunks in speech-to-text pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (245) remove get_vad_segments_from_diarization and VADSettings usage
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (245) add chunking unit tests and update integration tests for multi-chunk fixtures
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/unit/test_compute_transcription_chunks.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (245) add MAX_CHUNK_DURATION and SPLIT_SEARCH_WINDOW_RATIO to WhisperTranscriptionSettings, remove VADSettings
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (245) better usage of the dataclass TimeSpan
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/chunking.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/types.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (245) add compute_transcription_chunks algorithm
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/chunking.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  12e0944ae585679dff250170937571933b5577de
Due: none

Notes added by 'git notes add'
  4fe53f4a516a42dcdb263054ae6632afcd6f6a07
  561c43e7a63ec161c0874bed7bfd118e76ed2dc6
  c58b0a333afeb63ff5276cc07e2906d9abecff1d
  e7c11df12cc292b6673bf0713e2322aa114d2e8c
Due: none

Notes added by 'git notes add'
  cd69bda9f5cdc91f3eba8caf05c4c7fc0401b6d9
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
