Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

💬 (986): remove dash on compte rendu
  mcr-frontend/index.html
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

♻ (973) transform an attribute in a property method
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) suppress mypy ignore comments
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: (1011) only debug log in the S2T pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (1011) little fixes post conflit resolution
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

✅ (1011) add integration tests for transcription pipeline
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) create a method transcribe_audio in the S2T pipeline
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) set the model in the transcribe_audio method rather than in the transcribe method
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) renaming and suppress unusefull lines
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
Due: docker-build-core, docker-build-transcription-worker

💚 fix(ci): use full git history in checkout
  .github/workflows/mcr-ci.yml
Due: none

✨ (993): new page and page_size params in repository
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

✨ (993): prop drill new page and page_size params
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

✅ (993): tests for new page and page_size params
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (946): Renamed add_participants_to_segments, created match_speakers_with_participants.py, fixed tests accordingly.
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (946): Added tests
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:memo: (946): Updated credentials and added dependencies
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (946): Implemented add_participants_to_merged_segments
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/__init__.py
Due: docker-build-core, docker-build-transcription-worker

💬 (1080): update redirection buttons labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:lipstick: (1080): use dsfr icon for logout
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:lipstick: (1080): add icons for header redirection buttons
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:fire: (1080): remove external redirection icon
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:recycle: (1080): update dropdown behavior to display icon to the left
  mcr-frontend/src/components/core/DsfrDropdown.vue
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
Due: docker-build-frontend

✨(1042): different styles for hidden states in state graph
  mcr-core/scripts/generate_state_machine_graph.py
Due: docker-build-core, docker-build-transcription-worker

📸 (1042): update state machine graphs
  mcr-core/mcr_meeting/app/state_machine/graph/ImportMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/RecordMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/VisioMeetingStateMachine.png
Due: docker-build-core, docker-build-transcription-worker

💬 refactor: add dash to all compte-rendu
  README.md
  mcr-core/mcr_meeting/app/services/email/email_service.py
  mcr-core/mcr_meeting/app/services/email/registry/footer.html
  mcr-frontend/index.html
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-generation/README.md
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/sections/topics/prompts.py
  mcr-generation/mcr_generation/app/services/sections/topics/types.py
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-generation

:sparkles: (transcription-engine): implement API-based transcription with OpenAI and diarization endpoints
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (configs): add TranscriptionApiSettings for API-based transcription
  docker-compose.yaml
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (feature-flags): centralize all feature flag names in FeatureFlag enum
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (transcription-engine): update tests with news folder path and typing
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:speech_balloon: (1102): rename header buttons
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:green_heart: add variables in ci
  .github/workflows/mcr-ci.yml
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (transcription-engine): consume newly availble params on diarization api
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: add unit tests for the evaluation pipeline
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (972) use function to get the model for the make eval cli
  .env.local.docker
  .env.local.host
  mcr-core/Makefile
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (972) use the transcription pipeline in the evaluation pipeline
  mcr-core/mcr_meeting/evaluation/asr_evaluation_pipeline.py
  mcr-core/mcr_meeting/evaluation/cli/cli_generate_metrics.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (946): enrich_segments_with_participants now modifies the transcription. Added a feature flag.
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (946): Added tests and update prompt so that if fits with the new possible input (names instead of ids)
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
  mcr-generation/mcr_generation/app/services/sections/participants/prompts.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:art: (review-972) fix typo
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:ambulance: (1107): Added checks on chunks' length
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker
