Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:recycle: (923): factorize use query for wait time
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:recycle: (923): rename state components
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/states/CaptureVisioInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionGenerationInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:speech_balloon: (923): update transcription queue text
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/transcription/TranscriptionWaitTime.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (944) use current meeting status to calculate wait time
  mcr-core/mcr_meeting/app/db/meeting_transition_record_repository.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:necktie: (944) update calculation for wait time in queue to stop accounting for processing time
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (944): fix broken monkeypatch
  mcr-core/mcr_meeting/app/db/meeting_transition_record_repository.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:pencil2: (944): rename waiting to wait in tests
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:construction_worker: Disable gitleaks for dependabot PR
  .github/workflows/mcr-ci.yml
Due: none

💚 add CI dependencies
  .github/workflows/mcr-ci.yml
Due: none

:art: little modifs after review comments
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

✅ create integration test for the pre processing in the transcription pipeline
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:bug: fix ffmpeg pipeline in order
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: add test dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: update the feature flag fixture
  mcr-core/tests/api/test_feature_flag_router.py
  mcr-core/tests/conftest.py
Due: docker-build-core, docker-build-transcription-worker

➖ (977) use soundfile rather than wave
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:beers: move code from fetch_audio to pre_process method
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/unit/test_audio_normalization.py
  mcr-core/tests/unit/test_fetch_audio_bytes.py
Due: docker-build-core, docker-build-transcription-worker

:art: (964) after review, change logs + removed test + remove comments
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/unit/test_fetch_audio_bytes.py
Due: docker-build-core, docker-build-transcription-worker

:art: make ruff pass
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
Due: docker-build-capture-worker

:wastebasket: remove the function that is just calling another function
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/tests/unit/test_audio_normalization.py
  mcr-core/tests/unit/test_fetch_audio_bytes.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: feature flag cannot be none
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

💬 (922) update grist form feedback url
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

🎨 (922) format code
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

✅ (908): multipart upload services tested
  mcr-frontend/src/services/meetings/meetings.service.spec.ts
Due: docker-build-frontend

:truck: (908): use english names for multipart tests
  mcr-frontend/src/services/meetings/meetings.service.spec.ts
Due: docker-build-frontend

✅ (1000) add an integration test for transcription post process
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: delete unused file
  mcr-core/tests/services/conftest.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: delete unused classes
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: delete duplicated class
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:bento: add DiarizedTranscriptionSegment class for segments that have a speaker info
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
  mcr-core/mcr_meeting/app/services/transcription_engine_service.py
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (notification): add notification hub connector to core
  .env.local.docker
  mcr-core/mcr_meeting/app/api/notification_router.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/schemas/notification_schema.py
  mcr-core/mcr_meeting/app/services/nats_manager.py
  mcr-core/mcr_meeting/app/services/websocket_manager.py
  mcr-core/mcr_meeting/main.py
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:construction: (notification): add websocket proxy to gateway
  mcr-gateway/mcr_gateway/app/api/notification_router.py
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/app/services/notification_service.py
  mcr-gateway/mcr_gateway/main.py
  mcr-gateway/pyproject.toml
Due: docker-build-gateway

:construction: (notification): add frontend notification component
  mcr-frontend/src/App.vue
  mcr-frontend/src/composables/use-notifications.ts
  mcr-frontend/src/services/notifications/notifications.service.ts
  mcr-frontend/src/services/notifications/notifications.types.ts
  mcr-frontend/src/services/notifications/websocket-manager.ts
  test.sh
Due: docker-build-frontend

:construction: (notification): Add E2E notification tests
  NOTIFICATION_TEST_PLAN.md
  test_notifications_e2e.py
Due: none

:sparkles: (test): add factory test setup
  mcr-core/tests/factories/README.md
  mcr-core/tests/factories/__init__.py
  mcr-core/tests/factories/base.py
  mcr-core/tests/factories/meeting_factory.py
  mcr-core/tests/factories/meeting_transition_record_factory.py
  mcr-core/tests/factories/transcription_factory.py
  mcr-core/tests/factories/user_factory.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (test): add test dependency
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:recycle: (test): refactor meeting_transitions_service_tests
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (test): remove monkeypatch from test_transcription_wait_time
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (tests): remove dependencies on user_fixture in test_meeting_service
  mcr-core/tests/api/test_feature_flag_router.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/api/test_user_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/services/test_meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (test): remove unit tests on count_pending_meeting
  mcr-core/tests/services/test_meeting_transition_record_service.py
  mcr-core/tests/services/test_transcription_waiting_time_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (test): add test for factories and fixture
  mcr-core/tests/factories/test_factories.py
  mcr-core/tests/services/conftest.py
Due: docker-build-core, docker-build-transcription-worker
