Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:bug: (mcr-core): swap /deliverables/{id}/success router to use case
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/tests/api/test_deliverable_router.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (706): remove allGenerated condition
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

:wrench: (685): setup knip
  mcr-frontend/knip.json
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

:wastebasket: (685): remove GenerateReportAction.vue
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/config/meeting.ts
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:wastebasket: (685): remove v1 dead code
  mcr-frontend/src/components/meeting/MeetingFrontMatter.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionContainer.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionWaitTime.vue
  mcr-frontend/src/components/meeting/transcription/states/BotConnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/BotConnectionFailed.vue
  mcr-frontend/src/components/meeting/transcription/states/BotDisconnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/CaptureVisioInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/ImportPending.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionFailed.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/composables/use-confirm-modal.ts
  mcr-frontend/src/composables/use-table-actions.ts
  mcr-frontend/src/composables/use-table.ts
  mcr-frontend/src/composables/use-translate-error.ts
  mcr-frontend/src/config/meeting.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/meetings.service.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-frontend/src/utils/array.ts
  mcr-frontend/src/utils/timeFormatting.ts
  mcr-frontend/src/views/meeting/MeetingPage.vue
Due: docker-build-frontend

:memo: (685): add knip command in frontend README
  mcr-frontend/README.md
  mcr-frontend/package.json
Due: docker-build-frontend

:sparkles: (710): update custom prompt suggestions
  mcr-frontend/src/components/meeting/modals/CustomReportModal.spec.ts
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:lipstick: (710): make suggestion tile unisized
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
Due: docker-build-frontend

:loud_sound: (697): Added langfuse observability to participants extraction
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/prompts.py
  mcr-core/mcr_meeting/app/utils/langfuse_observability.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/pyproject.toml
  mcr-core/tests/unit/test_participant_extraction.py
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: (697): Added warnings when a participant disapeears or their name becomes None. Created tests
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/tests/unit/test_participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (697): Modified participants' prompt so that they are no longer lost across chunks. Added a make rule to run the eval.
  Makefile
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/prompts.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (715): add meetings notes to celery kwargs
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (715): add tests to avoid regression
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (659): add tooltips for pending and in-progress deliverable states
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/core/HoverTooltip.vue
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: remove the hardcoded transcriptionItem to use the deliverable instead
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
Due: docker-build-frontend

:sparkles: split DeliverableItem actions and surface Drive link
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:wrench: add Drive client and token-exchange to Keycloak config
  docker/auth/kc-mcr-local-config.json
Due: none

:sparkles: add Drive setup and lifecycle scripts
  .env.local.docker
  Makefile
  docker/drive/setup-drive.sh
Due: none

:building_construction: add Docker compose overrides for cross-stack networking
  .gitignore
  dantotsus/architecture/transition-01-close-b2.md
  docker-compose.yaml
  docker/drive/compose.override.yml.drive
  docker/drive/docker-compose.override.yml.mcr
  docker/drive/setup-drive.sh
Due: none

drive kc apply
  mcr-core/scripts/drive_keycloak_apply.py
  mcr-core/scripts/drive_keycloak_validate.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: (696): remove backend legacy endpoints from gateway and core
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/db/meeting_transition_record_repository.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/transcription_queue_schema.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/mcr_meeting/main.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/services/test_transcription_waiting_time_service.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/api/transcription_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/services/transcription_service.py
  mcr-gateway/mcr_gateway/main.py
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/schemas/celery_types.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/client/test_core_api_client.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation

:ambulance: Added langfuse to transcription worker to repair local env
  docker-compose.yaml
Due: none

:recycle: (636): hide chunk_id from LLM schema via LLM-facing vs internal model split
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/types.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/sections/topics/types.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:recycle: (636): TopicsContent uses default_factory=list to enable empty fallback
  mcr-generation/mcr_generation/app/services/sections/topics/types.py
Due: docker-build-generation

:recycle: (636): refactor MapReduceDetailedDiscussions to inherit BaseMapReduce
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/tests/app/services/sections/detailed_discussions/test_map_reduce_detailed_discussions.py
Due: docker-build-generation

:recycle: (636): refactor MapReduceTopics to inherit BaseMapReduce
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/tests/app/services/sections/topics/test_map_reduce_topics.py
Due: docker-build-generation

:sparkles: (636): add BaseMapReduce with Protocol-typed item bound
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/tests/app/services/sections/base/test_map_reduce.py
Due: docker-build-generation

:bug: (409): recover audio duration on Chromium for chunked WebM
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:pencil2: fix typo in gitignore
  .gitignore
Due: none

:bug: (732): visio meeting accepts meeting id
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/schemas/platform_connection_validator_schema.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (732): update tests
  mcr-core/tests/schemas/test_meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: (712): remove speaker_identification ff
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: (712): remove get_meeting_audio ff
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/feature_flag_service.py
  mcr-gateway/tests/app/services/test_feature_flag_service.py
Due: docker-build-frontend, docker-build-gateway

:wastebasket: (712): remove acronym_correction ff
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:wastebasket: (712): remove offline-recording ff
  mcr-frontend/src/composables/use-recording-session.ts
Due: docker-build-frontend

:wastebasket: (712): remove ux-modal-v2 ff
  mcr-frontend/src/components/meeting/modals/CreateMeetingModal.vue
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
Due: docker-build-frontend

:recycle: (725): switch NotesExtractor.extract_all to facets-based API
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/tests/app/services/notes/test_notes_extractor.py
Due: docker-build-generation

:sparkles: (725): add notes/facets module with NotesFacet enum and report-type mapping
  mcr-generation/mcr_generation/app/services/notes/facets.py
Due: docker-build-generation

:monocle_face: (698): Added new transcripts to participants dataset
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0416_revue_de_sprint.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0416_revue_de_sprint.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0424_daily meeting_Comu.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0424_daily meeting_Comu.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0428_daily meeting_Visio.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0428_daily meeting_Visio.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0430_daily meeting_Comu.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0430_daily meeting_Comu.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0518_Cop PO PM_Visio.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0518_Cop PO PM_Visio.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0518_daily meeting_Visio.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0518_daily meeting_Visio.txt
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0521_daily meetgin_Visio.expected.json
  mcr-core/mcr_meeting/evaluation/participant_naming/test_data/0521_daily meetgin_Visio.txt
Due: docker-build-core, docker-build-transcription-worker

:bug: (739): fix deliverable generation task service
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation
