Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:white_check_mark: (866): update tests
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (866): route api_based_diarization to the async path, drop sync POST
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (777): detect proxy-blocked uploads and report failure type to Sentry
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/http/http.utils.spec.ts
  mcr-frontend/src/services/http/http.utils.ts
  mcr-frontend/src/services/http/reachability.ts
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:white_check_mark: (901): add golden parity test for transcribe_meeting with centralized seams
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_transcribe_meeting.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): move S3 audio fetch into infrastructure/s3.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): move ffmpeg audio processing into domain/audio.py
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_phase_aware_downmix.py
  mcr-core/tests/services/speech_to_text_pipeline/test_silent_audio_detection.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
  mcr-core/tests/unit/test_noise_detection.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): extract pure transforms from god-object into domain/transcription
  mcr-core/mcr_meeting/app/domain/transcription/__init__.py
  mcr-core/mcr_meeting/app/domain/transcription/chunking.py
  mcr-core/mcr_meeting/app/domain/transcription/post_process.py
  mcr-core/mcr_meeting/app/domain/transcription/speaker_segments.py
  mcr-core/mcr_meeting/app/domain/transcription/vad.py
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/audio.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/types.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/unit/test_audio_chunk_download.py
  mcr-core/tests/unit/test_compute_transcription_chunks.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): move whisper/diarization processors into infrastructure
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): split LLM correctors into infra calls + pure domain
  mcr-core/mcr_meeting/app/domain/transcription/participant_reconciliation.py
  mcr-core/mcr_meeting/app/domain/transcription/text_chunking.py
  mcr-core/mcr_meeting/app/infrastructure/llm/__init__.py
  mcr-core/mcr_meeting/app/infrastructure/llm/acronyms.py
  mcr-core/mcr_meeting/app/infrastructure/llm/client.py
  mcr-core/mcr_meeting/app/infrastructure/llm/participants.py
  mcr-core/mcr_meeting/app/infrastructure/llm/spelling.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/domain/test_participant_reconciliation.py
  mcr-core/tests/domain/test_text_chunking.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (901): add 3 phase use-cases composing domain + infra
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/app/use_cases/transcription/__init__.py
  mcr-core/mcr_meeting/app/use_cases/transcription/artifacts.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_diarization.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_finalize_transcription.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_transcribe_chunks.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): make the transcription task a thin router over the use-cases
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/client/test_meeting_client.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_transcribe_meeting.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (901): delete dead transcription-worker legacy
  mcr-core/mcr_meeting/app/services/correct_acronyms/acronym_corrector.py
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/tests/unit/test_acronym_corrector.py
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): moove artifact into shared
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/artifacts.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_diarization.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_transcribe_chunks.py
  mcr-core/mcr_meeting/app/utils/load_speech_to_text_model.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (901): break load_speech_to_text_model
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: ajoute un script de téléchargement des fichiers d'une réunion depuis S3
  mcr-core/scripts/download_meeting.sh
Due: docker-build-core, docker-build-transcription-worker

update seam for CI
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
Due: docker-build-core, docker-build-transcription-worker

:memo: document Sentry MCP setup via 1Password in README
  README.md
Due: none

:recycle: (896): preserve proxy-blocked upload detection in import composable
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:sparkles: (896): one-click import without form
  mcr-frontend/src/components/meeting/ImportMeetingForm.vue
  mcr-frontend/src/components/meeting/ImportMeetingProgressBar.vue
  mcr-frontend/src/components/meeting/forms/import-meeting/import-meeting.schema.ts
  mcr-frontend/src/components/meeting/modals/ImportMeetingModal.vue
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:bug: (896): prevent import from hanging when audio metadata is unreadable
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:bricks:: add local ingress for single-origin dev parity
  .env.local.docker
  docker-compose.yaml
  docker/auth/kc-mcr-local-config.json
  docker/ingress/default.conf
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:wrench:: unify Keycloak on a single hostname for browser/container parity
  .env.local.docker
  README.md
  docker-compose.yaml
  docker/drive/docker-compose.override.yml.mcr
  docker/drive/setup-drive.sh
  docker/ingress/default.conf.template
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:recycle: (870): fold s3_service into infrastructure/s3 + add inter-task artifact helpers
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/evaluation/asr/utils/result_manager.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/infrastructure/test_s3_extension_extraction.py
  mcr-core/tests/infrastructure/test_s3_multipart.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (870): write diarization result via local tempfile then upload
  mcr-core/mcr_meeting/app/infrastructure/s3.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (870): test the split transcription pipeline
  mcr-core/tests/test_transcription_split_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (870): add on_pipeline_failure explicit failure helper
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/on_pipeline_failure.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (870): remove dead signal-args extractor
  mcr-core/mcr_meeting/app/schemas/celery_types.py
  mcr-core/tests/unit/test_extract_transcription_task_args.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (870): split transcribe into shim + diarize/transcribe_chunks/finalize
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (870): declare split task names + structural_split flag
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/app/schemas/celery_types.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: cleanup detection des branches de ci
  .github/workflows/mcr-ci.yml
  .github/workflows/trigger-dso.yml
Due: none

:sparkles: (890): validate file format and duration before import
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/observability/sentry.ts
  mcr-frontend/src/utils/file.ts
  mcr-frontend/src/utils/timeFormatting.spec.ts
  mcr-frontend/src/utils/timeFormatting.ts
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:technologist:: warn at start when shell env shadows or replaces env-files values
  Makefile
  README.md
  scripts/check_env.py
Due: none

:technologist:: detect drift between env-files and docker-compose variables at start
  scripts/check_env.py
Due: none

:truck: (890): move max import duration next to other import file constraints
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/utils/file.ts
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
