Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:technologist: add claude infra level rule on mcr-core
  .claude/rules/infrastructure-resilience.md
Due: none

:sparkles: add transient-retry primitives (settings, exceptions, tenacity wrapper, boto timeouts)
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/utils/retry.py
  mcr-core/mcr_meeting/app/utils/s3_client.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove dead code (unused package inits, obsolete extension-extraction test)
  mcr-core/mcr_meeting/app/client/__init__.py
  mcr-core/mcr_meeting/app/services/email/__init__.py
  mcr-core/tests/infrastructure/test_s3_extension_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:truck: move service and client code into new architecture
  mcr-core/mcr_meeting/app/api/_shared/__init__.py
  mcr-core/mcr_meeting/app/api/_shared/response_headers.py
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/db/apply_dto.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/domain/deliverable_filename.py
  mcr-core/mcr_meeting/app/domain/mime_types.py
  mcr-core/mcr_meeting/app/infrastructure/compute_devices.py
  mcr-core/mcr_meeting/app/infrastructure/drive.py
  mcr-core/mcr_meeting/app/infrastructure/langfuse.py
  mcr-core/mcr_meeting/app/infrastructure/retry.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/app/schemas/S3_types.py
  mcr-core/mcr_meeting/app/use_cases/_shared/drive_upload.py
  mcr-core/mcr_meeting/app/use_cases/get_or_create_transcription_docx.py
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/extract_participants.py
  mcr-core/mcr_meeting/app/use_cases/update_meeting.py
  mcr-core/mcr_meeting/app/utils/langfuse_observability.py
  mcr-core/mcr_meeting/app/utils/s3_client.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/infrastructure/test_speech_to_text_models.py
  mcr-core/tests/unit/test_deliverable_filename.py
Due: docker-build-core, docker-build-transcription-worker

:truck: move docx generation service to domain
  mcr-core/mcr_meeting/app/domain/markdown_to_docx.py
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/domain/report_templates/detailed_synthesis.md.jinja
  mcr-core/mcr_meeting/app/services/docx_generation/__init__.py
  mcr-core/mcr_meeting/app/services/docx_generation/templated_docx_generator.py
  mcr-core/mcr_meeting/app/services/docx_report_generation_service.py
  mcr-core/mcr_meeting/app/services/report_content/__init__.py
  mcr-core/mcr_meeting/app/services/report_content/template_renderer.py
  mcr-core/pyproject.toml
  mcr-core/tests/domain/test_custom_report_generation.py
  mcr-core/tests/domain/test_detailed_synthesis_generation.py
Due: docker-build-core, docker-build-transcription-worker

:truck: move setup into new architecture
  mcr-core/mcr_meeting/app/api/_shared/request_id_middleware.py
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/infrastructure/logger.py
  mcr-core/mcr_meeting/app/services/__init__.py
  mcr-core/mcr_meeting/main.py
  mcr-core/pyproject.toml
  mcr-core/scripts/dataset_standardisation/merge_individual_audios.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add /in_progress route and use-case mark_deliverable_in_progress
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_in_progress.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_mark_deliverable_in_progress.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (944): use tenacity for retries
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/utils/retry.py
Due: docker-build-generation

:white_check_mark: (944): update names in tests
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
  mcr-generation/tests/app/client/test_core_api_client.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:sparkles: generation worker mark IN_PROGRESS au démarrage de la génération (retry-404, 409 hidden)
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/client/test_core_api_client.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:recycle: (944): use action for routes
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (944): mark in_progress in task so a fail fails the task
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:recycle: remove PENDING → AVAILABLE transition of deliverable SM
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/tests/domain/test_deliverable_transitions.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (944): dispatch report task with countdown + decorate in_progress retry on method
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/use_cases/test_request_deliverable.py
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/client/test_core_api_client.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:ambulance: (944): keep /failure route alias for rolling-deploy compat
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/tests/api/test_deliverable_router.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add multi-file import backed by an upload batch state store
  mcr-frontend/src/App.vue
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
  mcr-frontend/src/composables/use-upload-batch/store.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:sparkles: (893): add persistent import tracking sticky and compact feedback button
  mcr-frontend/src/App.vue
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/feedback/FeedbackButton.spec.ts
  mcr-frontend/src/components/feedback/FeedbackButton.vue
  mcr-frontend/src/components/import/ImportSticky.spec.ts
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/main.css
  mcr-frontend/src/router/index.ts
  mcr-frontend/src/router/upload-leave-guard.spec.ts
  mcr-frontend/src/router/upload-leave-guard.ts
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:recycle: unify the active-upload confirmation on hasActiveWork
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
  mcr-frontend/src/composables/use-import-sticky-close.spec.ts
  mcr-frontend/src/composables/use-import-sticky-close.ts
  mcr-frontend/src/composables/use-upload-status.spec.ts
  mcr-frontend/src/composables/use-upload-status.ts
Due: docker-build-frontend

:sparkles: (940): redirect to the meeting page for a lone single-file import
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
Due: docker-build-frontend

:sparkles: (940): parametrize the leave-confirmation modal (title/text)
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
Due: docker-build-frontend

:sparkles: (940): close the import tracking sticky via a cross
  mcr-frontend/src/components/import/ImportSticky.spec.ts
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/composables/use-import-sticky-close.spec.ts
  mcr-frontend/src/composables/use-import-sticky-close.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (894): show real per-file import progress (ring) and the global ETA
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/import/ImportProgressRing.vue
  mcr-frontend/src/components/import/ImportStatusIndicator.vue
  mcr-frontend/src/components/import/ImportSticky.spec.ts
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
  mcr-frontend/src/composables/use-upload-batch/store.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: (894): rename the import-size estimate to ESTIMATED_MP3_BYTES_PER_SECOND
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
Due: docker-build-frontend

:goal_net: (894): track every import failure cause in Sentry by type
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:sparkles: (894): show import errors inline per file and drop the toasts
  mcr-frontend/src/components/import/ImportSticky.spec.ts
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle:: centralize transcription dispatch behind a shared flag helper and hold the first task for commit visibility
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/use_cases/_shared/dispatch_transcription.py
  mcr-core/tests/use_cases/_shared/__init__.py
Due: docker-build-core, docker-build-transcription-worker

:lock:: validate inbound Keycloak bearer tokens in mcr-core
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/keycloak.py
  mcr-core/mcr_meeting/app/schemas/keycloak_claims.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: add FORCED_REQUEUE transition to meeting and deliverable state machines
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/tests/domain/test_deliverable_transitions.py
  mcr-core/tests/domain/test_meeting_transitions.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: add admin requeue-transcriptions endpoint to mcr-core
  mcr-core/mcr_meeting/app/api/meeting/requeue_router.py
  mcr-core/mcr_meeting/app/schemas/requeue_schema.py
  mcr-core/mcr_meeting/app/use_cases/requeue_transcriptions.py
  mcr-core/mcr_meeting/main.py
  mcr-core/tests/api/test_requeue_router.py
  mcr-core/tests/use_cases/test_requeue_transcriptions.py
Due: docker-build-core, docker-build-transcription-worker

:passport_control:: resolve authenticated caller and add admin guard
  mcr-core/mcr_meeting/app/api/dependencies/__init__.py
  mcr-core/mcr_meeting/app/api/dependencies/auth.py
  mcr-core/mcr_meeting/app/domain/authorize_meeting_access.py
  mcr-core/mcr_meeting/app/schemas/caller_schema.py
  mcr-core/tests/api/dependencies/__init__.py
  mcr-core/tests/api/dependencies/test_auth.py
  mcr-core/tests/domain/test_authorize_meeting_access.py
Due: docker-build-core, docker-build-transcription-worker

:memo:: normalize CLAUDE.md emphasis markers
  CLAUDE.md
Due: none

:recycle:: require an existing transcription deliverable instead of upserting
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/use_cases/_shared/transcription_deliverable.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/mcr_meeting/app/use_cases/fail_transcription.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/mcr_meeting/app/use_cases/start_transcription.py
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_fail_transcription.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_request_deliverable.py
  mcr-core/tests/use_cases/test_start_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: forward admin requeue through the gateway
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/use_cases/_shared/__init__.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/requeue_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/tests/app/test_meeting/test_requeue_transcriptions.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:mute:: stop reporting expected session expiry to Sentry
  mcr-frontend/src/plugins/vue-query.spec.ts
  mcr-frontend/src/plugins/vue-query.ts
Due: docker-build-frontend

:construction_worker:: run CI on merge queue groups
  .github/workflows/mcr-ci.yml
Due: none

:construction_worker:: run CI on pull requests targeting any branch
  .github/workflows/mcr-ci.yml
Due: none

:recycle: remove all report parts from meeting state machine
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/db/migrations/versions/c7e2a4f1b9d3_map_report_status_to_transcription_done.py
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_failure.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: adapt test from SM removal
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/domain/test_meeting_transitions.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_mark_deliverable_failure.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker
