Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

Notes added by 'git notes add'
  61dd467d8824c8d3094ce136fd7710653b790f45
Due: none

Notes added by 'git notes add'
  2aca89a478dce65e96761ca5c8e1fea91ed8d32e
  36afd2ec0b7c9ee411a5a3b7e64ba56c328a0249
Due: none

Notes added by 'git notes add'
  2c4d97c3d865668634ce877dc2ad319b99722481
Due: none

Notes added by 'git notes add'
  3570347f78fb7edcf351294dda78fee887fabc2c
  6ed2badcf012d281a84d00f613b3ef06525784a7
Due: none

:sparkles: add evaluate from s3 worker
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/schemas/celery_types.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: add upload file script
  mcr-core/scripts/upload_file_S3.sh
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add new evaluate from s3 route
  mcr-core/mcr_meeting/app/api/evaluation_router.py
Due: docker-build-core, docker-build-transcription-worker

click button not working with docker
  docker-compose.yaml
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:white_check_mark: (317): webex url validator tests
  mcr-core/tests/schemas/test_meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (317): add webex to meeting platforms in meeting schema
  mcr-core/mcr_meeting/app/db/migrations/versions/a64618d27ac5_add_webex_to_meeting_platform.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (317): use early return for visio/webconf url validation methods
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (317): webex url validator
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

Notes added by 'git notes add'
  3570347f78fb7edcf351294dda78fee887fabc2c
  7216cf137ca684b5f75dca5e04b2e04c3f463c60
Due: none

Notes added by 'git notes add'
  77ff6ddd1fbfeb8427d52fe87b4fa307683d755b
Due: none

Notes added by 'git notes add'
  26b2dd35e706cbbb15b8838b3998406ca3883e38
Due: none

Notes added by 'git notes add'
  2b0ef333fa07288d57c99822e438cb426a97f2ef
Due: none

Notes added by 'git notes add'
  2299fd438cbd9cb33a4174f172ff5f1ab77d78a1
Due: none

Notes added by 'git notes add'
  4ba76d5fcadbaa1436a796c2f0f6484874e9e9f8
Due: none

Notes added by 'git notes add'
  1f3597e5a157bad2189d53ef60141257154f89bf
Due: none

Notes added by 'git notes add'
  e21ef61041d71c15e3623ee82d25eddc3b677730
Due: none

Notes added by 'git notes add'
  319e1880c0d11591b92271b17bbd5c590d900687
Due: none

Notes added by 'git notes add'
  a38f1409d83300915dc6b6a0c184a0725e96c16b
Due: none

Notes added by 'git notes add'
  d8a322c518f039c5d6d25dfe1604f03859f4bfcb
Due: none

Notes added by 'git notes add'
  f023ac8000b8d4f03fef22f15db07b09be478be1
Due: none

Notes added by 'git notes add'
  c739c779307a3116d19a37ab26dde495641658af
Due: none

Notes added by 'git notes add'
  31fccf2d49e57f3c3d0ef83b984dc92a1e862514
Due: none

Notes added by 'git notes add'
  fae398c69887eb5133519c7c2bb522eb4f68abed
Due: none

Notes added by 'git notes add'
  3e5bbff5a8c096f6241dc2b6295cb285165751d8
Due: none

Notes added by 'git notes add'
  dc5f9114a3bd53ea9a269a75b7ecf2fb4e8af240
Due: none

Notes added by 'git notes add'
  9997d112273b399e90aff1b86429867ea438c86f
Due: none

Notes added by 'git notes add'
  50b85a84916fcf6e0ba2d0f1ebdf8351d926d296
Due: none

connection working
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webex_connection.py
Due: docker-build-capture-worker

Notes added by 'git notes add'
  3c335466db87f07dcd2f270a53973fbc16fb6e31
Due: none

Notes added by 'git notes add'
  5d81c6a2c6173969e15c9b31e940e42377d5e0db
Due: none

Notes added by 'git notes add'
  61a9072ef39983858bda70931efb1248dde1a5aa
  f8dfc8b27c8477bfca892fb61e5181b25acb4371
Due: none

Notes added by 'git notes add'
  dd4c554fbc88e3d57a370649c7121817d9c94570
Due: none

Notes added by 'git notes add'
  432b1cd057a95b4b1523fa6f31edb59eebc5d717
Due: none

Notes added by 'git notes add'
  b872977d188f8d2a1a3142c247ecbdba74c46933
Due: none

Notes added by 'git notes add'
  1495a8834c6c6908f6729b9282837034b7937ec0
  8c371aec7391bf623b05df70af60cca2848f034d
Due: none

Notes added by 'git notes add'
  1e0d511b820eb77ec9508be3ef9492a6ce924fab
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
