Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

🐛 (core): fix smtp_client + add retry policy
  mcr-core/mcr_meeting/app/client/smtp_client.py
Due: docker-build-core, docker-build-transcription-worker

:bricks: (972) add .dockerignore in the mcr-core folder
  mcr-core/.dockerignore
Due: docker-build-core, docker-build-transcription-worker

:recycle: (972) use the transcription pipeline in the evaluation pipeline
  mcr-core/mcr_meeting/evaluation/asr_evaluation_pipeline.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-972) fix typo
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: add unit tests for the evaluation pipeline
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:beers: (972) fix CI :beers: waiting the make eval and make metrics fix
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/evaluation/cli/cli_generate_metrics.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (configs): add TranscriptionApiSettings for API-based transcription
  docker-compose.yaml
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (feature-flags): centralize all feature flag names in FeatureFlag enum
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (transcription-engine): implement API-based transcription with OpenAI and diarization endpoints
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/services/feature_flag_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:green_heart: add variables in ci
  .github/workflows/mcr-ci.yml
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (transcription-engine): move diarization and transcription into independent files
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (transcription-engine): update tests with news folder path and typing
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (transcription-engine): consume newly availble params on diarization api
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
Due: docker-build-core, docker-build-transcription-worker

🙈 (943) update gitignore
  mcr-core/.gitignore
Due: docker-build-core, docker-build-transcription-worker

:hammer: (943) add utility function that saves json file
  mcr-core/scripts/dataset_standardisation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (943) add script that standardises groundtruth files from the noisy dataset
  mcr-core/scripts/dataset_standardisation/noisy_dataset_standardisation.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (946): enrich_segments_with_participants now modifies the transcription. Added a feature flag.
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (946): Added tests and update prompt so that if fits with the new possible input (names instead of ids)
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
  mcr-generation/mcr_generation/app/services/sections/participants/prompts.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:recycle: (978) use function to get the model for the make eval cli
  .env.local.docker
  .env.local.host
  mcr-core/Makefile
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
Due: docker-build-core, docker-build-transcription-worker

:bricks: (978) add .dockerignore in the mcr-core folder
  mcr-core/.dockerignore
Due: docker-build-core, docker-build-transcription-worker

:hammer: (978) add the possibility to use wav audio file for evaluation
  mcr-core/mcr_meeting/evaluation/cli/utils.py
Due: docker-build-core, docker-build-transcription-worker

:green_heart: rerun validate pr source
  .github/workflows/validate-pr-source.yml
Due: none

🚑️ (978) modify the docker ignore not to exclude the alambic file
  mcr-core/.dockerignore
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (1115): add VISIO name_platform
  mcr-core/mcr_meeting/app/db/migrations/versions/a1b2c3d4e5f6_add_visio_to_meeting_platform.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (1115): add VISIO name_platform to capture worker
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
Due: docker-build-capture-worker

:test_tube: (1115): add validation and integration tests for VISIO meeting creation
  mcr-core/tests/schemas/test_meeting_schema.py
  mcr-core/tests/services/test_meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1115): add VISIO validator
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:label: (1115): update OnlineMeetingPlatforms type in frontend
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:art: (1115): run formater
  mcr-core/scripts/dataset_standardisation/noisy_dataset_standardisation.py
  mcr-core/scripts/dataset_standardisation/utils.py
Due: docker-build-core, docker-build-transcription-worker

🚑️ fix the speech to text integration tests mocking feature flags
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
Due: docker-build-core, docker-build-transcription-worker

:speech_balloon: (1091): create new visio modal labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1091): open new modal when feature flag on
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
Due: docker-build-frontend

:lipstick: (1091): modal title color & pictogram
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
