Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:fire: remove unused report components and their orphaned i18n keys
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/report/ReportDownload.vue
  mcr-frontend/src/components/meeting/report/ReportFailed.vue
  mcr-frontend/src/components/meeting/report/TranscriptionNotReady.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: scope DsfrDropdown and TipTapEditor styles
  mcr-frontend/src/components/core/DsfrDropdown.vue
  mcr-frontend/src/components/core/TipTapEditor.vue
Due: docker-build-frontend

:memo: add the Tailwind styling rule
  .claude/rules/tailwind.md
Due: none

:arrow_up: migrate Tailwind v3 to v4 and layer the DSFR CSS
  mcr-frontend/knip.json
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
  mcr-frontend/postcss.config.js
  mcr-frontend/src/App.vue
  mcr-frontend/src/components/core/AppFooter.vue
  mcr-frontend/src/components/core/AudioLevelMeter.vue
  mcr-frontend/src/components/core/DsfrDropdown.vue
  mcr-frontend/src/components/core/TipTapEditor.vue
  mcr-frontend/src/components/import/ImportProgressRing.vue
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingStep2.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/src/components/meeting/modals/LiveMeetingAdvicesModal.vue
  mcr-frontend/src/components/meeting/modals/VisioAdvicesModal.vue
  mcr-frontend/src/components/meeting/report/TranscriptionNotReady.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioConnecting.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioError.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
  mcr-frontend/src/main.css
  mcr-frontend/src/main.ts
  mcr-frontend/tailwind.config.cjs
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:art: use canonical Tailwind class names
  mcr-frontend/src/components/core/AppToaster.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:art: migrate remaining eligible scoped CSS to Tailwind utilities
  mcr-frontend/src/components/core/SkeletonLoader.vue
  mcr-frontend/src/components/feedback/FeedbackButton.vue
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingFormNotice.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioConnectionSeparator.vue
Due: docker-build-frontend

:bug: (styles): restore the list reset and the Comu input wrapper sizing
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/main.css
Due: docker-build-frontend

:art: (styles): promote recurring arbitrary values to design tokens
  mcr-frontend/src/components/core/AppToaster.vue
  mcr-frontend/src/components/core/DsfrDropdown.vue
  mcr-frontend/src/components/import/ImportProgressRing.vue
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
  mcr-frontend/src/components/meeting/modals/LiveMeetingAdvicesModal.vue
  mcr-frontend/src/components/meeting/modals/VisioAdvicesModal.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/theme.css
Due: docker-build-frontend

:memo: (styles): condense the tailwind-entry rationale and drop the marker-gap note
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingFormNotice.vue
  mcr-frontend/src/tailwind-entry.css
Due: docker-build-frontend

fix(modal): :wheelchair: add missing required attribute
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebexMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
Due: docker-build-frontend

:sparkles: (capture-worker): scope Sentry trace propagation to core
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
Due: docker-build-capture-worker

:sparkles: (email): trace the SMTP send as a span
  mcr-core/mcr_meeting/app/infrastructure/email.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (core): emit structured JSON logs with trace and request correlation
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/logger.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
  mcr-core/tests/infrastructure/test_logger.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (core): stamp Celery trace headers from the API producer
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (gateway): add Sentry so the incoming trace continues into core
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/main.py
  mcr-gateway/mcr_gateway/setup/sentry.py
  mcr-gateway/pyproject.toml
  mcr-gateway/uv.lock
Due: docker-build-gateway

:sparkles: (audio): trace ffmpeg preprocessing steps as spans
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/preprocess_audio.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (transcription): trace the transcription fan-out as a span
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (gateway): honor and echo X-Request-ID with a request-id context
  mcr-gateway/mcr_gateway/setup/request_id_middleware.py
  mcr-gateway/mcr_gateway/setup/sentry.py
  mcr-gateway/tests/app/test_request_id_middleware.py
Due: docker-build-gateway

:sparkles: (gateway): emit structured JSON logs with trace and request correlation
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/setup/logger.py
  mcr-gateway/mcr_gateway/setup/sentry.py
  mcr-gateway/tests/app/test_logger.py
Due: docker-build-gateway

:sparkles: (request-id): forward X-Request-ID from the gateway into core
  mcr-core/mcr_meeting/app/api/_shared/request_id_middleware.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/app/services/feedback_service.py
  mcr-gateway/mcr_gateway/app/services/lookup_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/services/user_service.py
  mcr-gateway/mcr_gateway/app/utils/core_http_client.py
  mcr-gateway/mcr_gateway/setup/request_id_middleware.py
  mcr-gateway/mcr_gateway/setup/sentry.py
  mcr-gateway/tests/app/test_core_http_client.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:sparkles: (diarization): trace the diarization job as a span
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (frontend): propagate the trace to the api with browser tracing
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:sparkles: (generation): emit structured JSON logs with trace correlation
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/utils/sentry_context.py
  mcr-generation/mcr_generation/setup/logger.py
  mcr-generation/tests/app/test_logger.py
Due: docker-build-generation

:sparkles: (capture-worker): emit structured JSON logs and align log setup
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
  mcr-capture-worker/mcr_capture_worker/setup/logger.py
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
  mcr-capture-worker/tests/test_logger.py
Due: docker-build-capture-worker

:sparkles: (capture): trace the meeting-join sequence per capture
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
  mcr-capture-worker/mcr_capture_worker/worker.py
Due: docker-build-capture-worker

:recycle: (email): extract the retry loop to flatten send_email
  mcr-core/mcr_meeting/app/infrastructure/email.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (sentry): add a span helper to instrument owner files
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (frontend): reinstate pinia and move the app feedback draft to a store
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
  mcr-frontend/src/components/feedback/FeedbackModal.spec.ts
  mcr-frontend/src/components/feedback/FeedbackModal.vue
  mcr-frontend/src/main.ts
  mcr-frontend/src/services/feedback/use-feedback-draft.ts
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:sparkles: (deliverable-feedback): pre-fill the modal from the opinion held in base
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback-draft.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback-draft.ts
  mcr-frontend/src/services/deliverables/use-deliverables.spec.ts
  mcr-frontend/src/services/deliverables/use-deliverables.ts
Due: docker-build-frontend

:sparkles: (deliverable-feedback): keep what the user typed without submitting it
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableNegativeFeedbackModal.vue
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback-draft.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback-draft.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
  mcr-frontend/src/services/deliverables/use-deliverables.spec.ts
Due: docker-build-frontend

:recycle: (import): let the confirm guard own emptying the upload queue
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:sparkles: (import): delete the meeting an aborted import left behind
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:white_check_mark: (import): guard that an abort spares a completed import
  mcr-frontend/src/composables/use-import-meeting.spec.ts
Due: docker-build-frontend

:bug: (import): delete a meeting created after its import stopped
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:construction_worker: (ci): build every service on main so each commit has a complete image set
  .gitlab-ci-dso.yml
Due: none

:bug: (meetings): read the report column from the structured minutes only
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
Due: docker-build-frontend

:fire: (meetings): remove the report column tooltip
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:bug: (ci): compare shas at the length the image tags actually use
  .gitlab-ci-dso.yml
Due: none

:construction_worker: (ci): resolve a release's images from the tagged commit
  .gitlab-ci-dso.yml
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
