Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:recycle: move disconnect strategy into monitor
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/worker.py
Due: docker-build-capture-worker

:recycle: create meeting monitors
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/worker.py
Due: docker-build-capture-worker

:bug: disconnect bot if the admin ends the meeting
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
Due: docker-build-capture-worker

:sparkles: disconnect bot if alone
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:recycle: remove disconnect bot from connection strategie
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
Due: docker-build-capture-worker

:bug: (1116): fix visio feature flag connection
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend

:bug: (1113): allow visio recording to succeed even if participants are not in the room yet
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/visio_connection.py
Due: docker-build-capture-worker

:hammer: (1113): fix start-playwright-with-gui command
  .env.local.host
  Makefile
  mcr-capture-worker/mcr_capture_worker/__init__.py
  mcr-capture-worker/pyproject.toml
  mcr-capture-worker/uv.lock
Due: docker-build-capture-worker

:truck: (1113): rename recording strategies
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/config.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/index.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/recorderController.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/streamUtils.js
  mcr-capture-worker/mcr_capture_worker/services/audio/wait_for_stream_strategy/audioRecorder.js
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/comu_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webinaire_connection.py
Due: docker-build-capture-worker

:children_crossing: (1113): allow visio recording to stay in waiting room
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/visio_connection.py
Due: docker-build-capture-worker

:test_tube: (1086): Added tests for remove_hallucinations
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1086): Created remove_hallucinations
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1086): Moved remove_hallucination inside the .run. Added docstring.
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (979) fix the command of the make metrics
  mcr-core/Makefile
Due: docker-build-core, docker-build-transcription-worker

:bug: (979) fix the script of the make metrics
  mcr-core/mcr_meeting/evaluation/cli/cli_generate_metrics.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
Due: docker-build-core, docker-build-transcription-worker

:art: (979) rename functions that load inputs for evaluation and metrics
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/evaluation/cli/cli_generate_metrics.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (979) suppress not used attributes in pydantic class
  mcr-core/mcr_meeting/evaluation/asr_evaluation_pipeline.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/evaluation/eval_types.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/unit/evaluation/test_asr_evaluation_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1099): url validation
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1099): add COMU connection input fields
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1099): add custom separator
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:speech_balloon: (1099): add COMU connection labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: (168) create Header class and rename Report class
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:sparkles: (168) new classes for new CR
  mcr-generation/mcr_generation/app/schemas/base.py
Due: docker-build-generation

✅ (168) add tests for celery tasks of mcr_generation/app/services/report_generation_task_service.py
  .env.local.testing
  mcr-generation/pyproject.toml
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:recycle: (168) use model_dump rather than build manually the json
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:sparkles: (170) new str enum that chooses the REPORT type
  mcr-generation/mcr_generation/app/schemas/celery_types.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:sparkles: (170) add class BaseReport mother of DecisionRecord and DetailedSynthesis
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

💚 (170) add make test in the makefile
  mcr-generation/Makefile
  mcr-generation/pyproject.toml
Due: docker-build-generation

🏗️ (170) add BaseReportGenerator abstract class
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
Due: docker-build-generation

🏗️ (170) add DecisionRecordGenerator strategy class
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:white_check_mark: (170) add unit tests gor the report generators
  mcr-generation/mcr_generation/app/services/report_generator/decision_record_generator.py
  mcr-generation/tests/app/services/__init__.py
  mcr-generation/tests/app/services/report_generator/__init__.py
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
  mcr-generation/tests/app/services/report_generator/test_decision_record_generator.py
  mcr-generation/tests/app/test_report_generation_task_service.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

:adhesive_bandage: (170) add ruff --fix build
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/visio_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
Due: docker-build-capture-worker

:adhesive_bandage: (170) add a auto generated line in src/components.d.ts
  mcr-frontend/src/components.d.ts
Due: docker-build-frontend

:recycle: (170) little fix after comments of the PR
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:construction_worker: add slack notif for PR
  .github/workflows/slack-pr-notification.yml
Due: none

:construction_worker: add ready to validate date after merge
  .github/workflows/update-project-on-merge.yml
Due: none

:construction_worker: test
  .github/workflows/update-project-on-merge.yml
Due: none

:speech_balloon: (1099): add meeting id error label
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1099): add meeting id validation
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
