Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:sparkles: (984): add label for useful practices
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (984): add link useful practices
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

:arrow_up: remove hide_report option
  .github/workflows/mcr-ci.yml
Due: none

:arrow_up: report only changed files
  .github/workflows/mcr-ci.yml
Due: none

:recycle: (1011) set the model in the transcribe_audio method rather than in the transcribe method
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1011) renaming and suppress unusefull lines
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (1034): fix comu connecting strategy
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/comu_connection.py
Due: docker-build-capture-worker

:pencil2: (929): add missing colon
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/utils/timeFormatting.ts
Due: docker-build-frontend

:bug: (929): fix tests after formating change
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/utils/timeFormatting.spec.ts
Due: docker-build-frontend

🗃️ (1015): call update() instead of delete() on meeting delete
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

✨ (1015): new DELETE event for MeetingEvents
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

✨ (1015): new delete method in meeting_transition_orchestrator
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

📸 (1015): update state machine graphs
  mcr-core/mcr_meeting/app/state_machine/graph/ImportMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/RecordMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/VisioMeetingStateMachine.png
Due: docker-build-core, docker-build-transcription-worker

🔥(1015): remove deprecated delete_meeting from meeting_repository
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker

🎨 (1015): format changes
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/db/migrations/versions/82c5cdfb94fb_add_deleted_status_to_meetings_status_.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

✨ (1015): new DELETE state machine event
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
Due: docker-build-core, docker-build-transcription-worker

✅ (1015): add test_delete test
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

✨(1022): new dedicated email service
  mcr-core/mcr_meeting/app/services/email/email_service.py
Due: docker-build-core, docker-build-transcription-worker

♻️(1022): update email function imports
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

✨(1022): new smtp dedicated client
  mcr-core/mcr_meeting/app/client/smtp_client.py
Due: docker-build-core, docker-build-transcription-worker

✅(1022): update mock_send_email
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

🔥(1022): send_email_service
  mcr-core/mcr_meeting/app/services/send_email_service.py
Due: docker-build-core, docker-build-transcription-worker

✨(1022): new dedicated email templates
  mcr-core/mcr_meeting/app/services/email/templates.py
Due: docker-build-core, docker-build-transcription-worker

➕ (1020): add jinja2 dependency
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

✨ (1020): new email html templates
  mcr-core/mcr_meeting/app/services/email/registry/base.html
  mcr-core/mcr_meeting/app/services/email/registry/footer.html
  mcr-core/mcr_meeting/app/services/email/registry/report_generation_success.html
  mcr-core/mcr_meeting/app/services/email/registry/transcription_generation_success.html
Due: docker-build-core, docker-build-transcription-worker

♻️ (1020): update template retrieving logic
  mcr-core/mcr_meeting/app/services/email/templates.py
Due: docker-build-core, docker-build-transcription-worker

:wheel_chair: (966) little modificatio in the make file
  .env.local.host
  mcr-core/Makefile
Due: docker-build-core, docker-build-transcription-worker

:bug: (1034): fix comu connecting strategy with stronger locators
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/comu_connection.py
Due: docker-build-capture-worker

:bug: change the meeting password length
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend

:recycle: (966) give the speech to text models as input of the run method of the S2T pipeline
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:bug: change the meeting password length
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

⬆️ bump to openai-whisper v20250625
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

🔧 update uv.lock
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:truck: (review-966) move and rename worker_utils file
  mcr-core/mcr_meeting/app/utils/load_speech_to_text_model.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) rename file
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_post_process.py
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (966) refacto method that get the S2T models from the worker context
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) better types for speech to text models
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:beers: (966) better management of model instances
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/models.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/mcr_meeting/worker_utils.py
Due: docker-build-core, docker-build-transcription-worker

:art: (966) change input and output format for merge_consecutive_segments_per_speaker
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/evaluation/utils.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
Due: docker-build-core, docker-build-transcription-worker

:art: (review-966) make the signature match in the functions of the loading model file
  mcr-core/mcr_meeting/app/utils/load_speech_to_text_model.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker
