Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:white_check_mark: (556): test report celery task failure handling
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:sparkles: (556): add REPORT_FAILED status
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (556): handle report celery task error
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
Due: docker-build-generation

:card_file_box: (556): migrate sqlenum to varchar for meetingPlatform/meetingStatus
  mcr-core/mcr_meeting/app/db/migrations/versions/6b6d08a6f6e2_migrate_sqlenum_to_varchar.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/models/meeting_transition_record.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (556): frontend handles REPORT_FAILED status
  mcr-frontend/src/components/meeting/report/GenerateReportAction.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:sparkles: (556): handle report/failure http request
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (556): create ReportFailed component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/report/ReportFailed.vue
Due: docker-build-frontend

:bento: (556): update state machine graphs with new REPORT_FAILED status
  mcr-core/mcr_meeting/app/state_machine/graph/ImportMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/RecordMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/VisioMeetingStateMachine.png
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (556): add REPORT_FAILED status to gateway
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
Due: docker-build-gateway

:white_check_mark: (556): test new fail_report transition
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (553): open meeting creation modals on click on tiles
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:sparkles: add new data file that lists the acronyms that are in the dataset but not in the glossary
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (562) improve acronym correction prompt
  mcr-core/mcr_meeting/app/services/correct_acronyms/prompt.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (554): delete former UX homepage components
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/core/PageFrontMatterV2.vue
  mcr-frontend/src/components/meeting/table/TableRows.vue
  mcr-frontend/src/router/routes.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:truck: (554): remove V2 in new UX homepage components name
  mcr-frontend/src/components/core/PageFrontMatter.vue
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
  mcr-frontend/src/views/meeting/MeetingListPage.vue
Due: docker-build-frontend

:lipstick: remove grist link from Header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:lipstick: (563): add dsfr pagination
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:wrench: add new acronyms in the glossary markdown file
  mcr-core/mcr_meeting/app/services/correct_acronyms/data/small_glossaire.md
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (563): truncate nb of shown pages
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
Due: docker-build-frontend

:art: (563): moove into meeting v2
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:speech_balloon: (544): add header subtitle labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (544): create new meeting page route
  mcr-frontend/src/router/routes.ts
Due: docker-build-frontend

:white_check_mark: (544): test new meeting page header methods
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
Due: docker-build-frontend

:sparkles: (544): create new meeting page with header
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/services/meetings/meetings-datetime.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:lipstick: (470): allow meeting page background to cover all the page
  mcr-frontend/src/App.vue
Due: docker-build-frontend

:lipstick: (470): setup peremption alert in new meeting page
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:sparkles: (470): sessionStoraged alert info in a composable
  mcr-frontend/src/composables/use-session-alert.ts
  mcr-frontend/src/views/meeting/MeetingListPage.vue
Due: docker-build-frontend

:speech_balloon: (470): add pluralized label
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:white_check_mark: (470): update meeting page tests
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:white_check_mark: (470): test new composable
  mcr-frontend/src/composables/use-session-alert.spec.ts
Due: docker-build-frontend

:truck: rename glossary markdown file
  mcr-core/mcr_meeting/app/services/correct_acronyms/data/glossary.md
  mcr-core/mcr_meeting/app/services/correct_acronyms/prompt.py
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (517): Created a script to preprocess audios and have a bot connect to visio and stream it.
  .gitignore
  benchmarks/visio_stt/__pycache__/bot.cpython-311.pyc
  benchmarks/visio_stt/__pycache__/config.cpython-311.pyc
  benchmarks/visio_stt/__pycache__/preprocess.cpython-311.pyc
  benchmarks/visio_stt/bot.py
  benchmarks/visio_stt/config.example.json
  benchmarks/visio_stt/config.json
  benchmarks/visio_stt/config.py
  benchmarks/visio_stt/preprocess.py
  benchmarks/visio_stt/pyproject.toml
  benchmarks/visio_stt/run.py
  benchmarks/visio_stt/uv.lock
Due: none

:memo: (517): Added a README
  benchmarks/visio_stt/README.md
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
