Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:memo: add documentation for the acronym evaluation script
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: ground Langfuse traces in mcr-generation with session, metadata, flush
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/refine_next_meeting.py
  mcr-generation/mcr_generation/app/utils/celery_worker.py
Due: docker-build-generation

:lipstick: (470): setup peremption alert in new meeting page
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:speech_balloon: (470): add pluralized label
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:white_check_mark: (470): meeting peremption date tests update
  mcr-frontend/src/composables/use-meeting-peremption.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
Due: docker-build-frontend

:lipstick: (470): allow meeting page background to cover all the page
  mcr-frontend/src/App.vue
Due: docker-build-frontend

:sparkles: (470): sessionStoraged alert info in a composable
  mcr-frontend/src/composables/use-session-alert.ts
  mcr-frontend/src/views/meeting/MeetingListPage.vue
Due: docker-build-frontend

:white_check_mark: (470): update meeting page tests
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:white_check_mark: (470): test new composable
  mcr-frontend/src/composables/use-session-alert.spec.ts
Due: docker-build-frontend

:sparkles: (470): meeting peremption date computation in composable
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/composables/use-meeting-peremption.ts
Due: docker-build-frontend

:sparkles: deliverable: introduce DeliverableType+DeliverableStatus and adopt them in the writer
  mcr-core/mcr_meeting/app/services/deliverable_storage_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: tests: cover Deliverable type+status and old-frontend JSON contract
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/factories/deliverable_factory.py
  mcr-core/tests/integration/test_deliverable_storage.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: deliverable: rename file_type→type, add status, backfill REPORT→DECISION_RECORD
  mcr-core/mcr_meeting/app/db/migrations/versions/c3a1f0d8e2b4_deliverable_type_and_status.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: DeliverableResponse: expose type/status, keep file_type for old-frontend compat
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:lipstick: (471): reduce meeting title size to fit with new buttons
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
Due: docker-build-frontend

:sparkles: (471): add edit/delete buttons to new meeting page
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:art: (471): use i18n to avoid magic strings
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:speech_balloon: (471): add edit/delete buttons labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: log readable prompts and outputs on Langfuse generations
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
Due: docker-build-generation

:zap: propagate Langfuse context into map-phase worker threads
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
Due: docker-build-generation

:bell: surface tenacity retries and empty map outputs as Langfuse warnings
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
Due: docker-build-generation

:bell: emit low-confidence Langfuse events from map phase
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
Due: docker-build-generation

:white_check_mark: feed Chunk-shaped objects to generate_report_from_docx test
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:sparkles: degrade gracefully when individual map-phase chunks fail
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
Due: docker-build-generation

:white_check_mark: deliverable: exclude meeting SubFactory from model kwargs
  mcr-core/tests/factories/deliverable_factory.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: HTTP router and schemas (mcr-core)
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/main.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: service wrapping repo writes in UnitOfWork
  mcr-core/mcr_meeting/app/services/deliverable_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: orchestrator coordinating auth, SM, and service
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: gateway: proxy deliverable API to mcr-core
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/configs/config.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/main.py
  mcr-gateway/tests/app/test_deliverable/__init__.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:sparkles: deliverable: repository helpers for list / get / set / soft delete
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: deliverable: cover repository, orchestrator, and router
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
  mcr-core/tests/orchestrators/test_deliverable_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: add BadRequestException mapped to 400
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
Due: docker-build-core, docker-build-transcription-worker

:art: (581): change alert to match relistening audio feature
  mcr-frontend/src/views/meeting/MeetingPageAlert.vue
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:sparkles: (581): create meeting audio card
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingAudioCard.vue
Due: docker-build-frontend

:sparkles: (581): add meeting audio card to meeting page
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:speech_balloon: (581): add relisten audio labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (553): create live recording in progress component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/composables/use-leave-guard.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
  mcr-frontend/tailwind.config.cjs
Due: docker-build-frontend

:coffin: (553): clean unused component
  mcr-frontend/src/components/core/TestComponent.vue
Due: docker-build-frontend

:art: (553): remove over fault
  mcr-frontend/tailwind.config.cjs
Due: docker-build-frontend

:lipstick: (559): update tailwindfig and all its uses
  mcr-frontend/src/components/core/AppToaster.vue
  mcr-frontend/src/components/core/AudioLevelMeter.vue
  mcr-frontend/src/components/core/ProgressBar.vue
  mcr-frontend/src/components/core/RoundedActionButton.vue
  mcr-frontend/src/components/core/SkeletonLoader.vue
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/MeetingFrontMatter.vue
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/components/meeting/report/ReportFailed.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/components/meeting/report/TranscriptionNotReady.vue
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/components/meeting/table/TableTag.vue
  mcr-frontend/src/components/meeting/transcription/states/BotConnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/BotDisconnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/ImportPending.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionFailed.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/views/meeting/MeetingListPage.vue
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
  mcr-frontend/tailwind.config.cjs
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
