Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:lipstick: (552): remove footer border in endMeetingModal
  mcr-frontend/src/components/meeting/modals/EndLiveMeetingModal.vue
Due: docker-build-frontend

:memo: add documentation for the CR generation
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:sparkles: deliverable: add find_active_deliverable service helper
  mcr-core/mcr_meeting/app/services/deliverable_service.py
  mcr-core/tests/services/test_deliverable_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: idempotent request and AVAILABLE-gated download
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/report_task_mocks.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: deliverable: add find_active_by_meeting_and_type repository helper
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: report_task_service: persist_report_docx + type-aware S3 lookup
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/tests/services/test_report_task_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: rename type -> deliverable_type to avoid shadowing python builtin
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/services/deliverable_service.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:art: (602): add linter rule to detect not hoisted vi fn
  mcr-frontend/.eslintrc.cjs
  mcr-frontend/eslint-local-rules/index.js
  mcr-frontend/eslint-local-rules/no-vi-fn-outside-hoisted.js
  mcr-frontend/eslint-local-rules/package.json
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

:sparkles: (550): add VisioAdvicesModal component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/modals/VisioAdvicesModal.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (550): add visio advices link in RecordingCard
  mcr-frontend/src/components/meeting/RecordingCard.vue
Due: docker-build-frontend

:white_check_mark: (550): update RecordingCard test for visio advices link
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
Due: docker-build-frontend

:recycle: (551): conditionally display meeting duration in front matter
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.ts
Due: docker-build-frontend

:sparkles: (551): add VisioRecordingCard with connecting/in-progress/error states
  mcr-frontend/src/components/meeting/VisioRecordingCard.spec.ts
  mcr-frontend/src/components/meeting/VisioRecordingCard.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioConnecting.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioError.spec.ts
  mcr-frontend/src/components/meeting/visio-recording/VisioError.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (551): add RecordingCard dispatcher and integrate into meeting page
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
  mcr-frontend/src/components/meeting/RecordingCard.vue
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:recycle: (551): factorize leftPad into meetings-datetime and add tests
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.ts
Due: docker-build-frontend

:speech_balloon: (552): add stop-button i18n key for visio recording
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (552): add stop recording button with confirmation modal in VisioInProgress
  mcr-frontend/src/components/meeting/VisioRecordingCard.spec.ts
  mcr-frontend/src/components/meeting/VisioRecordingCard.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
Due: docker-build-frontend

:white_check_mark: (602): fix all tests
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingStep1.spec.ts
  mcr-frontend/src/components/meeting/report/GenerateReportAction.spec.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.spec.ts
  mcr-frontend/src/components/meeting/visio-recording/VisioError.spec.ts
  mcr-frontend/src/composables/use-chunk-upload.spec.ts
  mcr-frontend/src/composables/use-recorder.spec.ts
Due: docker-build-frontend

:card_file_box: (605): add migration
  mcr-core/mcr_meeting/app/db/migrations/versions/e57b5e520610_add_notes_to_meeting.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: (605): add field to model
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (628): set default meeting page to V2
  mcr-frontend/src/router/routes.ts
Due: docker-build-frontend

:sparkles: (628): hide MeetingDeliverableCard during capture phase
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:card_file_box: deliverable: enforce one active deliverable per (meeting, type)
  mcr-core/mcr_meeting/app/db/migrations/versions/d7e3c0f4a8b1_deliverable_unique_meeting_type_active.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
Due: docker-build-core, docker-build-transcription-worker

:bug: fix migration merge
  mcr-core/mcr_meeting/app/db/migrations/versions/91646abe1af2_.py
Due: docker-build-core, docker-build-transcription-worker

:adhesive_bandage: hide TRANSCRIPTION deliverable in frontend
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

:ambulance: fix download path
  mcr-core/mcr_meeting/app/services/report_task_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (594): degrade gracefully when individual map-phase chunks fail
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

:white_check_mark: (594): cover _emit_retry_event + class attrs
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/tests/app/services/utils/test_llm_helpers.py
Due: docker-build-generation

:bell: (594): surface tenacity retries and empty map outputs as Langfuse warnings
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
