Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:lipstick: (554): add advices modal
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/modals/LiveMeetingAdvicesModal.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: (560): Modified types.py to use Pydantic instead of dataclass
  mcr-generation/mcr_generation/evaluation/pipeline/csv_writer.py
  mcr-generation/mcr_generation/evaluation/pipeline/types.py
Due: docker-build-generation

:recycle: (560): Modified evaluation pipeline and implemented suggested changes
  mcr-generation/mcr_generation/evaluation/pipeline/evaluation_pipeline.py
  mcr-generation/mcr_generation/evaluation/pipeline/layout.py
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
Due: docker-build-generation

:memo: (560): Defined g-eval scorers
  mcr-generation/mcr_generation/evaluation/scorers/__init__.py
  mcr-generation/mcr_generation/evaluation/scorers/base.py
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
Due: docker-build-generation

:truck: (560): Renamed cli -> report_eval
  mcr-generation/Makefile
  mcr-generation/mcr_generation/evaluation/cli/report_eval.py
Due: docker-build-generation

:memo: (560): Defined criterias
  mcr-generation/mcr_generation/evaluation/criteria.py
Due: docker-build-generation

:sparkles: (560): Added cli, pipeline and makerule to run evaluation
  mcr-generation/.gitignore
  mcr-generation/Makefile
  mcr-generation/mcr_generation/evaluation/__init__.py
  mcr-generation/mcr_generation/evaluation/cli/__init__.py
  mcr-generation/mcr_generation/evaluation/cli/cli.py
  mcr-generation/mcr_generation/evaluation/pipeline/__init__.py
  mcr-generation/mcr_generation/evaluation/pipeline/csv_writer.py
  mcr-generation/mcr_generation/evaluation/pipeline/docx_loader.py
  mcr-generation/mcr_generation/evaluation/pipeline/evaluation_pipeline.py
  mcr-generation/mcr_generation/evaluation/pipeline/report_renderer.py
  mcr-generation/mcr_generation/evaluation/pipeline/section_splitter.py
  mcr-generation/mcr_generation/evaluation/pipeline/types.py
Due: docker-build-generation

:test_tube: (560): Added documentation and tests
  mcr-generation/mcr_generation/evaluation/README.md
  mcr-generation/tests/evaluation/__init__.py
  mcr-generation/tests/evaluation/test_criteria.py
  mcr-generation/tests/evaluation/test_csv_writer.py
  mcr-generation/tests/evaluation/test_section_splitter.py
Due: docker-build-generation

:white_check_mark: (582): feed Chunk-shaped objects to generate_report_from_docx test
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:recycle: (582): isolate Langfuse instrumentation behind tolerant helpers
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

:sparkles: (582): ground Langfuse traces in mcr-generation with session, metadata, flush
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/sections/next_meeting/refine_next_meeting.py
  mcr-generation/mcr_generation/app/utils/celery_worker.py
Due: docker-build-generation

:zap: (582): propagate Langfuse context into map-phase worker threads
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
Due: docker-build-generation

:white_check_mark: (582): cover usage_details extraction
  mcr-generation/tests/app/services/utils/test_llm_helpers.py
Due: docker-build-generation

:sparkles: (582): log readable prompts and outputs on Langfuse generations
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
Due: docker-build-generation

:bell: (594): surface tenacity retries and empty map outputs as Langfuse warnings
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

:bell: (594): emit low-confidence Langfuse events from map phase
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

:sparkles: (594): degrade gracefully when individual map-phase chunks fail
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
Due: docker-build-generation

:white_check_mark: (594): cover _emit_retry_event + class attrs
  mcr-generation/mcr_generation/app/services/sections/detailed_discussions/map_reduce_detailed_discussions.py
  mcr-generation/mcr_generation/app/services/sections/topics/map_reduce_topics.py
  mcr-generation/tests/app/services/utils/test_llm_helpers.py
Due: docker-build-generation

:lipstick: (555): change end live meeting modal
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/modals/EndLiveMeetingModal.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: generation: extract report callbacks into CoreApiClient
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/client/http_client.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/client/__init__.py
  mcr-generation/tests/app/client/test_core_api_client.py
  mcr-generation/tests/app/test_report_generation_task_service.py
  mcr-generation/tests/conftest.py
  mcr-generation/tests/mocks/task_service_mocks.py
Due: docker-build-generation

:sparkles: generation: route signal callbacks by deliverable_id
  mcr-generation/mcr_generation/app/schemas/celery_types.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:sparkles: generation: add deliverable success/failure callback methods
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/tests/app/client/test_core_api_client.py
Due: docker-build-generation

:sparkles: core: dispatch deliverable_id through start_report state machine flow
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (551): conditionally display meeting duration in front matter
  mcr-frontend/src/components/meeting/MeetingFrontMatterV2.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.ts
Due: docker-build-frontend

:sparkles: (551): add VisioRecordingCard with connecting/in-progress/error states
  mcr-frontend/src/components/meeting/VisioRecordingCard.spec.ts
  mcr-frontend/src/components/meeting/VisioRecordingCard.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioConnecting.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioError.spec.ts
  mcr-frontend/src/components/meeting/visio-recording/VisioError.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:card_file_box: deliverable: enforce one active deliverable per (meeting, type)
  mcr-core/mcr_meeting/app/db/migrations/versions/d7e3c0f4a8b1_deliverable_unique_meeting_type_active.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (551): add RecordingCard dispatcher and integrate into meeting page
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
  mcr-frontend/src/components/meeting/RecordingCard.vue
  mcr-frontend/src/services/meetings/meetings.types.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:recycle: (551): factorize leftPad into meetings-datetime and add tests
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
  mcr-frontend/src/services/meetings/meetings-datetime.spec.ts
  mcr-frontend/src/services/meetings/meetings-datetime.ts
Due: docker-build-frontend

:speech_balloon: (546): update labels for deliverable tile
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (546): link deliverableCard to backend routes
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:lipstick: (546): create MeetingDeliverableCard
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

:art: (546): rename variables & use tailwind config
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/deliverables/use-deliverables.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:lipstick: (546): create DeliverableItem
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/DeliverableItem.vue
Due: docker-build-frontend

:sparkles: (546): make frontend consume deliverable routes
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/use-deliverables.ts
  mcr-frontend/src/services/http/http.service.ts
Due: docker-build-frontend

:truck: (546): replace DONE statusTag with AVAILABLE to match deliverable backend
  mcr-frontend/src/components/meeting/table/StatusTag.spec.ts
  mcr-frontend/src/components/meeting/table/StatusTag.vue
  mcr-frontend/src/services/deliverables/deliverables.service.spec.ts
  mcr-frontend/src/services/deliverables/deliverables.service.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:sparkles: (546): create deliverable types in frontend
  mcr-frontend/src/services/deliverables/deliverables.types.ts
Due: docker-build-frontend

:lipstick: (546): call MeetingDeliverableCard in new meeting page
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:truck: (546): refactor deliverable item list in another component
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
Due: docker-build-frontend

:sparkles: (552): add stop recording button with confirmation modal in VisioInProgress
  mcr-frontend/src/components/meeting/VisioRecordingCard.spec.ts
  mcr-frontend/src/components/meeting/VisioRecordingCard.vue
  mcr-frontend/src/components/meeting/visio-recording/VisioInProgress.vue
Due: docker-build-frontend

:speech_balloon: (552): add stop-button i18n key for visio recording
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend
