Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:zap: (transcription): read and transcribe audio chunks a few at a time
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/tests/services/speech_to_text_pipeline/test_chunk_streaming_memory.py
  mcr-core/tests/services/speech_to_text_pipeline/test_parallel_chunk_transcription.py
  mcr-core/tests/unit/test_audio_chunk_memory.py
  mcr-core/tests/unit/test_transcription_confidentiality.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (transcription): release the source audio once it is preprocessed
  mcr-core/mcr_meeting/app/use_cases/transcription/run_diarization.py
  mcr-core/tests/use_cases/test_run_diarization.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (capture-worker): cap a capture at 16h when the meeting is never stopped
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
  mcr-capture-worker/tests/test_capture_duration_cap.py
Due: docker-build-capture-worker

:sparkles: (core): fail captures stuck for more than 18h
  mcr-core/docker/docker-entrypoint.sh
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/use_cases/fail_stale_captures.py
  mcr-core/mcr_meeting/sweep_stale_captures.py
  mcr-core/tests/use_cases/test_fail_stale_captures.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1055): show which microphone is recording in the card
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.spec.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
  mcr-frontend/src/composables/use-recording-session.spec.ts
Due: docker-build-frontend

:recycle: (1055): annoncer un seul microphone par message
  mcr-frontend/src/composables/use-recording-session.spec.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1055): add the info and warning toaster helpers
  mcr-frontend/src/composables/use-toaster.spec.ts
  mcr-frontend/src/composables/use-toaster.ts
Due: docker-build-frontend

:sparkles: (1055): keep the audio input list live and announce the changes
  mcr-frontend/src/composables/use-recording-session.spec.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: (1055): expose a passive audio input enumeration from the recorder
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:sparkles: (1056): switch the microphone without touching the recorder
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:sparkles: (1056): diagnose the microphone track and follow it across a switch
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
Due: docker-build-frontend

:sparkles: (1056): turn the microphone label into a selector on the card
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.spec.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recording-session.spec.ts
Due: docker-build-frontend

:sparkles: (1057): show a persistent alert in the card when nothing is captured
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.spec.ts
  mcr-frontend/src/components/meeting/LiveRecordingInProgress.vue
  mcr-frontend/src/components/meeting/RecordingCard.spec.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:white_check_mark: (1057): prove the grace period actually delays the alert
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
Due: docker-build-frontend

:sparkles: (1057): detect live that the microphone delivers nothing
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-monitor.ts
Due: docker-build-frontend

:sparkles: (1056): keep recording and warn when the chosen microphone fails
  mcr-frontend/src/composables/use-recording-session.spec.ts
  mcr-frontend/src/composables/use-recording-session.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1057): synthesize a beep for the no-signal alert
  mcr-frontend/src/config/audioMonitor.ts
  mcr-frontend/src/utils/audio-alert.spec.ts
  mcr-frontend/src/utils/audio-alert.ts
Due: docker-build-frontend

:sparkles: (1057): beep while the microphone captures nothing, and let it be silenced
  mcr-frontend/src/composables/use-recording-monitor.spec.ts
  mcr-frontend/src/composables/use-recording-session.spec.ts
  mcr-frontend/src/composables/use-recording-session.ts
Due: docker-build-frontend

:sparkles: (1056): route the recording through a web audio graph
  mcr-frontend/src/composables/use-recorder.spec.ts
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:lock: (ci): stop echoing the github token in the rollout-infra log
  .gitlab-ci-dso.yml
Due: none

:fire: (capture-worker): drop the disabled auto-disconnect switch
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/visio_monitor.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:white_check_mark: (1054): prove a spent attempt budget reaches the mark-failed errback
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1054): add the attempt budget settings and the exhausted-attempts error
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1054): count transcription attempts per task id in redis
  mcr-core/mcr_meeting/app/infrastructure/redis.py
  mcr-core/tests/infrastructure/test_redis.py
  mcr-core/tests/mocks/in_memory_redis.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1054): register broker redeliveries in the transcription pipeline task
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1054): fail a redelivered transcription task once its attempt budget is spent
  mcr-core/mcr_meeting/app/use_cases/transcription/register_redelivery.py
  mcr-core/tests/use_cases/test_register_redelivery.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1054): bound redeliveries in the shared pipeline task base
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/use_cases/transcription/register_redelivery.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/infrastructure/test_redis.py
  mcr-core/tests/mocks/in_memory_redis.py
  mcr-core/tests/test_transcription_worker.py
  mcr-core/tests/use_cases/test_register_redelivery.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (1054): report the exhausted attempt budget to sentry
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (MCR-CORE-81): retry s3 provider 5xx on reads, writes and multipart calls
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/tests/infrastructure/test_s3.py
  mcr-core/tests/mocks/in_memory_s3.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (MCR-CORE-81): map errors with a decorator instead of an inline block
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/app/services/feedback_service.py
  mcr-gateway/mcr_gateway/app/services/lookup_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_multipart_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/services/user_service.py
  mcr-gateway/mcr_gateway/app/utils/upstream_errors.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:bug: (MCR-CORE-81): import the multipart router logger from loguru, not venv
  mcr-gateway/mcr_gateway/app/api/meeting_multipart_router.py
Due: docker-build-gateway

:sparkles: (core): fail transcriptions stuck for more than 24h
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/db/meeting_repository.py
  mcr-core/mcr_meeting/app/use_cases/fail_stale_transcriptions.py
  mcr-core/mcr_meeting/sweep_stale_captures.py
  mcr-core/tests/use_cases/test_fail_stale_transcriptions.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (core, generation): replace the LiteLLM hub with the MirAI AI gateway for LLM calls
  .env.local.docker
  .env.local.testing
  .env.template
  .github/workflows/mcr-ci.yml
  mcr-core/docs/audio_processing_pipeline.md
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/llm/client.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/minutes_synthesizer.py
  mcr-generation/mcr_generation/evaluation/README.md
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:wrench: (core, generation): align the LLM timeout on the AI gateway's one-hour ceiling
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/tests/infrastructure/test_llm_client.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/minutes_synthesizer.py
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
  mcr-generation/tests/app/configs/test_llm_timeout.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:sparkles: (core, generation): stream every LLM call to the AI gateway
  mcr-core/docs/audio_processing_pipeline.md
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/llm/client.py
  mcr-core/pyproject.toml
  mcr-core/tests/infrastructure/test_llm_client.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/uv.lock
  mcr-generation/mcr_generation/app/services/generic_pipeline/generic_map_reduce_pipeline.py
  mcr-generation/mcr_generation/app/services/notes/notes_extractor.py
  mcr-generation/mcr_generation/app/services/rewriter/rewriter.py
  mcr-generation/mcr_generation/app/services/sections/base/init_then_refine.py
  mcr-generation/mcr_generation/app/services/sections/base/map_reduce.py
  mcr-generation/mcr_generation/app/services/sections/discussions_synthesis/detailed_discussions_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/minutes_synthesizer.py
  mcr-generation/mcr_generation/app/services/utils/llm_helpers.py
  mcr-generation/mcr_generation/docs/generation_pipeline.md
  mcr-generation/mcr_generation/evaluation/scorers/g_eval.py
  mcr-generation/pyproject.toml
  mcr-generation/tests/app/services/report_generator/test_detailed_synthesis_generator.py
  mcr-generation/tests/app/services/utils/test_llm_helpers.py
  mcr-generation/tests/conftest.py
  mcr-generation/tests/mocks/llm_mocks.py
  mcr-generation/uv.lock
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:bug: (docker): switch minio images to quay.io
  docker-compose.yaml
Due: none

:bug: (1067): align and pin ffmpeg between CI and production
  .github/workflows/mcr-ci.yml
  mcr-core/docker/Dockerfile
Due: docker-build-core, docker-build-transcription-worker

:construction: (1068): compare input and transcoded audio durations to spot signal loss
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/domain/audio.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (1068): raise AudioSignalLossError on transcoded duration mismatch
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/tests/services/speech_to_text_pipeline/test_transcode_duration_check.py
  mcr-core/tests/use_cases/test_run_diarization.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
