Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:sparkles: (1091): create new visio modal
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

:hammer: (941) add script that mixes audio files
  mcr-core/scripts/dataset_standardisation/merge_individual_audios.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (941) add script that standardise the groundtruth for the clean dataset
  mcr-core/scripts/dataset_standardisation/clean_dataset_standardisation.py
  mcr-core/scripts/dataset_standardisation/merge_individual_audios.py
Due: docker-build-core, docker-build-transcription-worker

✅ (993): tests for new page and page_size params
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/orchestrators/test_meeting_repository.py
  mcr-gateway/tests/app/test_meeting/test_get_all_meetings.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

✨ (993): new page and page_size params in repository
  mcr-core/mcr_meeting/app/db/meeting_repository.py
Due: docker-build-core, docker-build-transcription-worker

✨ (993): prop drill new page and page_size params
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:sparkles: (1119): add visio_connection strategy for happy path only
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/visio_connection.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:hammer: (1119): update docker compose to use bind mount for file and watch for packages
  docker-compose.yaml
Due: none

:hammer: (1119): udpdate capture worker setup with a better hot reloading
  docker-compose.yaml
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/pyproject.toml
  mcr-frontend/src/components.d.ts
Due: docker-build-frontend, docker-build-capture-worker

changed for voxtral
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: load the env file in the __init__ file rather than in the make file
  mcr-core/Makefile
  mcr-core/mcr_meeting/__init__.py
Due: docker-build-core, docker-build-transcription-worker

:pencil2: fix naming of the ground truth files
  mcr-core/scripts/dataset_standardisation/merge_individual_audios.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: suppress unusefull lines from the .env.local.host
  .env.local.host
Due: none

:art: little changes
  mcr-core/.dockerignore
  mcr-core/mcr_meeting/evaluation/utils.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1116): factorise code in meeting.schema.ts
  mcr-frontend/src/components/meeting/meeting.schema.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1116): allow visio meeting creation from frontend
  mcr-frontend/src/components/meeting/meeting.schema.spec.ts
  mcr-frontend/src/components/meeting/meeting.schema.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:triangular_flag_on_post: (1116): add visio feature flag
  mcr-frontend/src/components/meeting/AddMeetingForm.spec.ts
  mcr-frontend/src/components/meeting/meeting.schema.spec.ts
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend

:speech_balloon: (1094): create visio form labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1094): visio title input & visio tool select
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

:sparkles: (1098): add second title and warning on visio tool selection
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
Due: docker-build-frontend

:speech_balloon: (1098): add labels for visio connection
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (584) the celery task evaluate accepts wav file for the STT evaluation
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (584) the swagger accepts zip file with any name and mp3 or WAV audio files
  mcr-core/mcr_meeting/app/api/evaluation_router.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: (1124): add retry config to call to the diarization and transcription api
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (1113): rename recording strategies
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/config.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/index.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/recorderController.js
  mcr-capture-worker/mcr_capture_worker/services/audio/inject_stream_strategy/streamUtils.js
  mcr-capture-worker/mcr_capture_worker/services/audio/wait_for_stream_strategy/audioRecorder.js
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/comu_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webinaire_connection.py
Due: docker-build-capture-worker

:hammer: (1113): fix start-playwright-with-gui command
  .env.local.host
  Makefile
  mcr-capture-worker/mcr_capture_worker/__init__.py
  mcr-capture-worker/pyproject.toml
  mcr-capture-worker/uv.lock
Due: docker-build-capture-worker

:bug: (1113): allow visio recording to succeed even if participants are not in the room yet
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/visio_connection.py
Due: docker-build-capture-worker

:recycle: remove disconnect bot from connection strategie
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/abstract_connection.py
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/webconf_connection.py
Due: docker-build-capture-worker

:children_crossing: (1113): allow visio recording to stay in waiting room
  mcr-capture-worker/mcr_capture_worker/services/connection_strategies/visio_connection.py
Due: docker-build-capture-worker

:recycle: create meeting monitors
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/worker.py
Due: docker-build-capture-worker

:sparkles: disconnect bot if alone
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:adhesive_bandage: (1124): use initial prompt in both local and api
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:memo: add github template
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/us_request.yml
Due: none

:speech_balloon: (1094): add * for mandatory fields
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:zap: use playwright selector
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
Due: docker-build-capture-worker

:sparkles: add visio monitor
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/__init__.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/visio_monitor.py
Due: docker-build-capture-worker
