Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:speech_balloon: (481): change wording in DELETED status docstring
  mcr-core/mcr_meeting/app/models/meeting_model.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (481): update all meeting status schema to add DELETED status
  mcr-capture-worker/mcr_capture_worker/models/meeting_model.py
Due: docker-build-capture-worker

:sparkles: (481): add fallback to disconnect bot in unusual process (ex: becomes DELETED during capture)
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

temp frontend
  docker-compose.yaml
  mcr-frontend/Dockerfile
Due: docker-build-frontend

:ambulance: (capture): revert to chromium browser
  mcr-capture-worker/Dockerfile
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
Due: docker-build-capture-worker

:ambulance: (core): fix drive missing settings
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (373): use img src instead of svg path
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:goal_net: (476): Improved error detection
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (476): Update docstring and modified empty list error
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (476): Fixed tests
  mcr-core/tests/unit/test_meeting_to_transcription_service.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (487): mock new auto disconnection method
  mcr-capture-worker/tests/test_handle_audio_chunks.py
Due: docker-build-capture-worker

:sparkles: (487): auto disconnect when audio chunks are empty in visio and comu
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/comu_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/visio_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webconf_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
  mcr-capture-worker/mcr_capture_worker/settings/settings.py
Due: docker-build-capture-worker

:technologist: add eval to andon skill
  .claude/skills/andon/SKILL.md
  .claude/skills/andon/evals/evals.json
  .codegraph/config.json
Due: none

:technologist: create grafana-sql skill
  .claude/skills/grafana-sql/SKILL.md
  .claude/skills/grafana-sql/evals/evals.json
  .claude/skills/grafana-sql/scripts/.gitignore
  .claude/skills/grafana-sql/scripts/extract_schema.py
  .claude/skills/grafana-sql/scripts/tests/__init__.py
  .claude/skills/grafana-sql/scripts/tests/test_extract_schema.py
  .codegraph/config.json
Due: none

:art: (376): run prettier
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
Due: docker-build-frontend

:art: (376): add case logic for cells
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/DataTableCellsAction.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellAction.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeeting.vue
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:sparkle: (376): add tooltip & pagination
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:sparkles: 376: add new meeting table
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): clean imports
  mcr-frontend/src/components/meeting/table/DataTableCellsAction.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellAction.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
Due: docker-build-frontend

:art: (376): add sortable row
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): change the logic to avoid 100% sum
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
Due: docker-build-frontend

:art: (376): define types of props
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/DataTableCellsAction.vue
  mcr-frontend/src/components/meeting/table/MeetingCellDispatcher.vue
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellAction.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/components/meeting/table/types.ts
Due: docker-build-frontend

:bug: (376): fix hoisted mock
  mcr-frontend/src/views/meeting/MeetingListPageV2.spec.ts
Due: docker-build-frontend

:art: (376): tooltip is now clickable
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): gather label & tooltip into report
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): update names and imports
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/DataTableCellsAction.vue
  mcr-frontend/src/components/meeting/table/cells/DataCellMeetingTitle.vue
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): remove useless imports
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): put table logic in MeetingDataTable
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): set the page size to 10
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:art: (376): remove useless import
  mcr-frontend/src/components/meeting/table/cells/DataCellAction.vue
  mcr-frontend/src/views/meeting/MeetingListPageV2.vue
Due: docker-build-frontend

:lipstick: (376): set the max width of column
  mcr-frontend/src/components/meeting/table/MeetingsDataTable.vue
Due: docker-build-frontend

:test_tube: (262): Implemented new and fixed tests
  mcr-generation/tests/app/services/report_generator/test_base_report_generator.py
  mcr-generation/tests/app/services/sections/test_get_participants.py
  mcr-generation/tests/conftest.py
Due: docker-build-generation

:recycle: (262): Created _extract_unique_names_in_order
  mcr-generation/mcr_generation/app/services/sections/participants/get_participants.py
Due: docker-build-generation

:test_tube: (262): Implemented tests for _extract_unique_names_in_order
  mcr-generation/tests/app/services/sections/test_get_participants.py
Due: docker-build-generation

:recycle: (262): Created the get_participants_from_chunks method and deleted refine participants
  mcr-generation/mcr_generation/app/services/report_generator/base_report_generator.py
  mcr-generation/mcr_generation/app/services/sections/__init__.py
  mcr-generation/mcr_generation/app/services/sections/participants/get_participants.py
  mcr-generation/mcr_generation/app/services/sections/participants/refine_participants.py
Due: docker-build-generation

:zap: (440): Modified noise filter to have better performances
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (477) organise evaluation codes with distinct folders in the evaluation folder
  mcr-core/mcr_meeting.egg-info/SOURCES.txt
  mcr-core/mcr_meeting/evaluation/asr/__init__.py
  mcr-core/mcr_meeting/evaluation/asr/evaluation_pipeline.py
  mcr-core/mcr_meeting/evaluation/asr/types.py
  mcr-core/mcr_meeting/evaluation/asr/utils/__init__.py
  mcr-core/mcr_meeting/evaluation/asr/utils/metrics_calculator.py
  mcr-core/mcr_meeting/evaluation/asr/utils/result_manager.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/evaluation/cli/utils.py
  mcr-core/mcr_meeting/evaluation/utils/__init__.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/scripts/dataset_standardisation/clean_dataset_standardisation.py
  mcr-core/scripts/dataset_standardisation/noisy_dataset_standardisation.py
  mcr-core/scripts/dataset_standardisation/utils.py
  mcr-core/tests/unit/evaluation/asr/test_evaluation_pipeline.py
  mcr-core/tests/unit/evaluation/asr/utils/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (477) add evaluation script and associated utils to evaluate acronyme transcription
  mcr-core/mcr_meeting/evaluation/acronymes/__init__.py
  mcr-core/mcr_meeting/evaluation/acronymes/constants.py
  mcr-core/mcr_meeting/evaluation/acronymes/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/acronymes/types.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/__init__.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/counting.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/metrics.py
  mcr-core/mcr_meeting/evaluation/acronymes/utils/persistence.py
Due: docker-build-core, docker-build-transcription-worker
