Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:adhesive_bandage: (1124): use initial prompt in both local and api
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) test with examples from the dataset
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (163) manage interjections and numbers for text normalization
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (163) manage repetitions in the text
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:adhesive_bandage: (166) linting fixes
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
  mcr-core/pyproject.toml
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (166) add dependency num2words
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (163) tests repetitions in the text
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) tests for intejections and numerical numbers
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

test
  Makefile
Due: none

:test_tube: (770): add tests for selecting a different microphone
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingStep1.spec.ts
  mcr-frontend/src/composables/use-recorder.spec.ts
Due: docker-build-frontend

:sparkles: (770): allow selection of a different microphone with smart default
  mcr-frontend/src/components/meeting/forms/record-meeting/RecordMeetingStep1.vue
  mcr-frontend/src/composables/use-recorder.ts
Due: docker-build-frontend

:white_check_mark: (5s): remove auto-imports of files in ./src/src when running tests
  mcr-frontend/src/vitest.setup.ts
Due: docker-build-frontend

:white_check_mark: (5s): fix broken tests
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

:white_check_mark: (5s): fix warning about null router
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:white_check_mark: (5s): removed useless mock and update test to follow business logic
  mcr-frontend/src/views/meeting/MeetingListPage.spec.ts
Due: docker-build-frontend

:adhesive_bandage: fix broken openai import
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (166) manage interjections and numbers for text normalization
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (166) tests repetitions in the text
  mcr-core/tests/unit/evaluation/test_metrics_calculator.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (166) manage repetitions in the text
  mcr-core/mcr_meeting/evaluation/utils/text_normalization.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: mute bot when the mic is open
  mcr-capture-worker/mcr_capture_worker/services/meeting_audio_recorder.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/abstract_meeting_monitor.py
  mcr-capture-worker/mcr_capture_worker/services/meeting_monitors/webinaire_monitor.py
Due: docker-build-capture-worker

:sparkles: (1131): update visio meeting validation schema
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend

:speech_balloon: (1131): add validation error labels
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (1131): visio meeting parent form handles validation and submission
  mcr-frontend/src/components/meeting/CreateVisioMeetingForm.vue
Due: docker-build-frontend

:sparkles: (1131): visio meeting children forms give up validation and submission to parent
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
Due: docker-build-frontend

:lipstick: (1129): disable url and id/password simultaneous filling
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

:hammer: (199): Modified LLM calls logic in SpellingCorrector and updated prompt
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/prompt.py
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (199): Added tests
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (199): Created LLMPostProcessing and adapted ParticipantsExtraction
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/match_speakers_with_participants.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: (199): Fixed dependencies
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (199): Fixed and added tests
  mcr-core/tests/services/speech_to_text_pipeline/test_spelling_corrector.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (199): Added an id to separators, updated prompt
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/prompt.py
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (199): Removed a useless test file and small changes to _chunk_text from LLMPostProcessing
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/tests/services/speech_to_text_pipeline/test_spelling_corrector.py
Due: docker-build-core, docker-build-transcription-worker

:truck: rename util file
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/schemas/S3_types.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/utils/file_validation.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: better docx validation
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/utils/file_validation.py
Due: docker-build-core, docker-build-transcription-worker

:bug: stop rewriting headers in gateway
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-gateway

:children_crossing: better error message on docx failed upload
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:green_heart: (ci): publish message when pr base is changed or when pr is opened
  .github/workflows/slack-pr-notification.yml
Due: none

:fire: remove beta FF
  mcr-frontend/src/components/core/AppHeader.vue
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
