Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:sparkles: (658): read download filenames from Content-Disposition
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/utils/file.spec.ts
  mcr-frontend/src/utils/file.ts
Due: docker-build-frontend

:wrench: (685): setup knip
  mcr-frontend/knip.json
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

:wastebasket: (685): remove v1 dead code
  mcr-frontend/src/components/meeting/MeetingFrontMatter.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionActions.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionContainer.vue
  mcr-frontend/src/components/meeting/transcription/TranscriptionWaitTime.vue
  mcr-frontend/src/components/meeting/transcription/states/BotConnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/BotConnectionFailed.vue
  mcr-frontend/src/components/meeting/transcription/states/BotDisconnecting.vue
  mcr-frontend/src/components/meeting/transcription/states/CaptureVisioInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/ImportPending.vue
  mcr-frontend/src/components/meeting/transcription/states/RecordingInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionDone.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionFailed.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionInProgress.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.spec.ts
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionNone.vue
  mcr-frontend/src/components/meeting/transcription/states/TranscriptionPending.vue
  mcr-frontend/src/composables/use-confirm-modal.ts
  mcr-frontend/src/composables/use-table-actions.ts
  mcr-frontend/src/composables/use-table.ts
  mcr-frontend/src/composables/use-translate-error.ts
  mcr-frontend/src/utils/array.ts
  mcr-frontend/src/views/meeting/MeetingPage.vue
Due: docker-build-frontend

:recycle: (676): create infra s3 and refacto all
  mcr-core/mcr_meeting/app/infrastructure/__init__.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (676): create infra celery and refacto
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:coffin: (676): remove old request deliverable
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (676): keep from creating deliverable if sm forbids it
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/domain/__init__.py
  mcr-core/mcr_meeting/app/domain/meetings/meeting_validator.py
  mcr-core/mcr_meeting/app/domain/state_machine/__init__.py
  mcr-core/mcr_meeting/app/domain/state_machine/transition_validator.py
  mcr-core/mcr_meeting/app/use_cases/__init__.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (676): update tests
  mcr-core/tests/api/conftest.py
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/__init__.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:memo: (685): add knip command in frontend README
  mcr-frontend/README.md
Due: docker-build-frontend

:bug: (676): add front safeguard for custom report generation
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/modals/CustomReportModal.vue
Due: docker-build-frontend

:alien: transition to prod version of service team api
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: split DeliverableItem actions and surface Drive link
  mcr-frontend/src/components/meeting/DeliverableItem.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:recycle: remove the hardcoded transcriptionItem to use the deliverable instead
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
Due: docker-build-frontend

:bug: (675): allow report to contain markdown tables
  mcr-core/mcr_meeting/app/services/report_content/markdown_to_docx.py
  mcr-core/tests/services/test_custom_report_generation.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove obsolete apikey header from transcription client
  mcr-core/mcr_meeting/app/services/speech_to_text/transcription_processor.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (658): forward upstream Content-Disposition through gateway
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/utils/__init__.py
  mcr-gateway/mcr_gateway/app/utils/streaming_proxy.py
  mcr-gateway/mcr_gateway/main.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
  mcr-gateway/tests/app/test_meeting/test_generate_transcription_document.py
Due: docker-build-gateway

:sparkles: (658): build deliverable filenames in mcr-core
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/utils/deliverable_filename.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/unit/test_deliverable_filename.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: update tests
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/services/test_deliverable_service.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: simplify transition code
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/domain/state_machine/__init__.py
  mcr-core/mcr_meeting/app/domain/state_machine/transition_validator.py
Due: docker-build-core, docker-build-transcription-worker

:truck: rename domain file
  mcr-core/mcr_meeting/app/domain/authorize_meeting_access.py
Due: docker-build-core, docker-build-transcription-worker

:coffin: remove POST /report route of report_generation_router
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/tests/api/test_report_generation_router.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove side effect of START_REPORT transition
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: simplify use_cases logic
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: remove RESET_REPORT calls in the stack
  mcr-core/mcr_meeting/app/api/meeting/report_generation_router.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:bug: fix celery task params
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_request_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (694): fix deliverable stuck in pending on /success route error
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
Due: docker-build-core, docker-build-transcription-worker

:test_tube: (mcr-core): add InMemoryS3 and InMemoryEmail test fakes
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/in_memory_email.py
  mcr-core/tests/mocks/in_memory_s3.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (mcr-core): add domain layer for deliverable transitions and report rendering
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/tests/domain/__init__.py
  mcr-core/tests/domain/test_deliverable_transitions.py
  mcr-core/tests/domain/test_report_rendering.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (mcr-core): close B2 via mark_deliverable_success use case
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (mcr-core): add DeliverableStateConflictException
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (mcr-core): add s3 and email infrastructure adapters
  mcr-core/mcr_meeting/app/infrastructure/email.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (mcr-core): remove dead deliverable orchestrator + service functions
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/services/deliverable_service.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (mcr-core): replace remaining email + s3 mocks with in-memory fakes
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/email_mocks.py
  mcr-core/tests/mocks/s3_mocks.py
  mcr-core/tests/orchestrators/test_transcription_orchestrator.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
