Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:bug: (846): isolate redis unacked index fro transcription worker
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (846): increase transcription worker visibility timeout to 6h
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: extract Celery/Sentry/Langfuse config in infrastructure folder
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/infrastructure/langfuse.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:bricks: copy on local config the prod redis config for cold shutdown + immediate task restart
  docker-compose.yaml
Due: none

:zap: (846) configure soft shutdown on cold shutdown path
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: add hardened Sentry observability service
  mcr-frontend/src/main.ts
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:sparkles: report multipart upload failures with rich context
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:recycle: simplify upload call-site error handling
  mcr-frontend/src/components/meeting/table/TableHeaderActions.spec.ts
  mcr-frontend/src/components/meeting/table/TableHeaderActions.vue
  mcr-frontend/src/components/table/BaseTable.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
  multipart-upload-error-handling.md
Due: docker-build-frontend

:sparkles: auto-report unexpected errors via vue-query floor
  mcr-frontend/src/plugins/vue-query.spec.ts
  mcr-frontend/src/plugins/vue-query.ts
  mcr-frontend/src/services/observability/error-meta.ts
Due: docker-build-frontend

:sparkles: classify expected vs unexpected HTTP errors
  mcr-frontend/src/services/http/http.utils.ts
Due: docker-build-frontend

:fire: (837): remove document
  multipart-upload-error-handling.md
Due: none

:safety_vest: (837): backport fail safe
  mcr-frontend/src/main.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:white_check_mark: (837): add test on dns
  mcr-frontend/src/services/observability/sentry.spec.ts
Due: docker-build-frontend

move files to destination layer
  mcr-core/mcr_meeting/app/client/__init__.py
  mcr-core/mcr_meeting/app/domain/docx_generation/__init__.py
  mcr-core/mcr_meeting/app/domain/docx_generation/templated_docx_generator.py
  mcr-core/mcr_meeting/app/domain/docx_report_generation.py
  mcr-core/mcr_meeting/app/domain/report_content/__init__.py
  mcr-core/mcr_meeting/app/domain/report_content/markdown_to_docx.py
  mcr-core/mcr_meeting/app/domain/report_content/template_renderer.py
  mcr-core/mcr_meeting/app/domain/report_content/templates/detailed_synthesis.md.jinja
  mcr-core/mcr_meeting/app/domain/report_rendering.py
  mcr-core/mcr_meeting/app/infrastructure/core_api.py
  mcr-core/mcr_meeting/app/infrastructure/http.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/email/__init__.py
  mcr-core/mcr_meeting/app/services/meeting_to_transcription_service.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/services/s3_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/use_cases/evaluate_transcription_from_s3.py
  mcr-core/mcr_meeting/app/utils/s3_client.py
  mcr-core/mcr_meeting/app/utils/sentry_context.py
  mcr-core/mcr_meeting/evaluation/asr/utils/result_manager.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/pyproject.toml
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_multipart_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/services/test_custom_report_generation.py
  mcr-core/tests/services/test_detailed_synthesis_generation.py
  mcr-core/tests/services/test_s3_multipart.py
  mcr-core/tests/unit/test_s3_extension_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: use httpx.codes instead of fastapi status in meeting client
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/tests/client/test_meeting_client.py
Due: docker-build-core, docker-build-transcription-worker

✨ feat(generation): ajoute le type de rapport STRUCTURED_MINUTES
  mcr-generation/mcr_generation/app/schemas/base.py
  mcr-generation/mcr_generation/app/schemas/celery_types.py
  mcr-generation/mcr_generation/app/services/notes/facets.py
  mcr-generation/mcr_generation/app/services/report_generator/__init__.py
  mcr-generation/mcr_generation/app/services/report_generator/structured_minutes_generator.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/__init__.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/minutes_synthesizer.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/prompts.py
  mcr-generation/mcr_generation/app/services/sections/minutes_synthesis/types.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/__init__.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/map_reduce_minutes.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/prompts.py
  mcr-generation/mcr_generation/app/services/sections/structured_minutes/types.py
  mcr-generation/tests/app/services/report_generator/test_report_generator_factory.py
  mcr-generation/tests/app/services/report_generator/test_structured_minutes_generator.py
Due: docker-build-generation

:recycle: resolve merge conflicts after rebase
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
Due: docker-build-frontend

✨ feat(front): option Compte-rendu structuré
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableList.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

✨ feat(core): persistance + DOCX STRUCTURED_MINUTES
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/schemas/report_generation.py
  mcr-core/mcr_meeting/app/services/docx_report_generation_service.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/use_cases/request_deliverable.py
  mcr-core/tests/services/test_report_task_service.py
Due: docker-build-core, docker-build-transcription-worker

:building_construction: (367): pass user token through gateway and exchange it on deliverable creation
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:lock: (367): add HTTP timeouts on Drive and Keycloak infrastructure
  mcr-core/mcr_meeting/app/infrastructure/drive.py
  mcr-core/mcr_meeting/app/infrastructure/keycloak.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (367): extract shared Drive upload workflow into use_cases/_shared
  mcr-core/mcr_meeting/app/use_cases/_shared/__init__.py
  mcr-core/mcr_meeting/app/use_cases/_shared/drive_upload.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/pyproject.toml
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (367): upload report deliverables to Drive from mcr-core
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/tests/app/client/test_core_api_client.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:necktie: (863): update webinaire regex to accept url with no creator part
  mcr-core/mcr_meeting/app/schemas/platform_connection_validator_schema.py
  mcr-core/tests/schemas/test_meeting_schema.py
  mcr-frontend/src/components/meeting/meeting.schema.spec.ts
  mcr-frontend/src/components/meeting/meeting.schema.ts
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker

:bug: add timeout
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/config/meeting.ts
Due: docker-build-frontend

:construction_worker: add pre-commit hooks for lint, format and secret scanning
  .pre-commit-config.yaml
  Makefile
Due: none

:lock: block git commit --no-verify via a PreToolUse hook
  .claude/settings.json
  scripts/guard_git_commit.py
Due: none

:lock: resolve Sentry MCP secrets via 1Password (op run)
  .mcp.json
Due: none

:bug: (862): add phase-aware mono downmix to avoid cancelling phase-inverted stereo audio
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/app/services/audio_pre_transcription_processing_service.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_phase_aware_downmix.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (862): use FeatureFlag enum instead of string literals for flag checks
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

dissolve state machine
  mcr-core/Makefile
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/orchestrators/__init__.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/state_machine/__init__.py
  mcr-core/mcr_meeting/app/state_machine/graph/ImportMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/RecordMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/graph/VisioMeetingStateMachine.png
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/__init__.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/pyproject.toml
  mcr-core/scripts/generate_state_machine_graph.py
  mcr-core/tests/mocks/report_task_mocks.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove dead services
  mcr-core/mcr_meeting/app/domain/meeting_state_machine.py
  mcr-core/mcr_meeting/app/services/deliverable_service.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/services/report_task_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/services/user_service.py
  mcr-core/mcr_meeting/app/utils/meeting.py
  mcr-core/tests/services/test_deliverable_service.py
  mcr-core/tests/services/test_report_task_service.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (866): poll the async diarization job to completion
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (866): moove DiarizationSegment into schema and change imports
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/app/services/speech_to_text/types.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/chunking.py
  mcr-core/mcr_meeting/app/services/speech_to_text/utils/vad.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/unit/test_compute_transcription_chunks.py
Due: docker-build-core, docker-build-transcription-worker

:art: (866): seperate function
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (866): submit diarization as an async job + explicit HTTP timeout
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (866): add I/O-less adaptive poll cadence next_poll_interval
  mcr-core/mcr_meeting/app/services/speech_to_text/diarization_processor.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:wrench: (866): point DIARIZATION_API_BASE_URL at the gateway root (no /v1)
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (866): add diarization poll settings + UnknownDiarizationStatus exception
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (866): remove one type and create custom validator
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
