Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:recycle:: add s3 transcription upload helper
  mcr-core/mcr_meeting/app/infrastructure/s3.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: move keycloak & redis token IO into an infrastructure layer
  mcr-core/mcr_meeting/app/api/meeting/capture_router.py
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/infrastructure/keycloak.py
  mcr-core/mcr_meeting/app/infrastructure/redis.py
  mcr-core/mcr_meeting/app/use_cases/ensure_offline_token.py
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/test_ensure_offline_token.py
Due: docker-build-core, docker-build-transcription-worker

:recycle:: move email rendering and SMTP delivery into domain and infrastructure layers
  mcr-core/mcr_meeting/app/client/smtp_client.py
  mcr-core/mcr_meeting/app/domain/email/__init__.py
  mcr-core/mcr_meeting/app/domain/email/builder.py
  mcr-core/mcr_meeting/app/domain/email/registry/base.html
  mcr-core/mcr_meeting/app/domain/email/registry/footer.html
  mcr-core/mcr_meeting/app/domain/email/registry/report_generation_success.html
  mcr-core/mcr_meeting/app/domain/email/registry/transcription_generation_success.html
  mcr-core/mcr_meeting/app/infrastructure/email.py
  mcr-core/mcr_meeting/app/services/email/email_service.py
  mcr-core/mcr_meeting/app/services/email/templates.py
  mcr-core/mcr_meeting/app/services/email/types.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (812): route meeting_multipart_router through use_cases
  mcr-core/mcr_meeting/app/api/meeting/meeting_multipart_router.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_multipart_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_multipart_service.py
  mcr-core/mcr_meeting/app/use_cases/abort_multipart_upload.py
  mcr-core/mcr_meeting/app/use_cases/complete_multipart_upload.py
  mcr-core/mcr_meeting/app/use_cases/init_multipart_upload.py
  mcr-core/mcr_meeting/app/use_cases/sign_multipart_part.py
  mcr-core/tests/infrastructure/test_s3.py
  mcr-core/tests/use_cases/test_abort_multipart_upload.py
  mcr-core/tests/use_cases/test_complete_multipart_upload.py
  mcr-core/tests/use_cases/test_init_multipart_upload.py
  mcr-core/tests/use_cases/test_sign_multipart_part.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove dead documentation
  dantotsus/architecture/transition-01-close-b2.md
Due: none

:heavy_plus_sign: add import-linter
  mcr-core/.gitignore
  mcr-core/Makefile
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:recycle: add missing __init__ files
  mcr-core/mcr_meeting/app/api/meeting/__init__.py
  mcr-core/mcr_meeting/app/client/__init__.py
  mcr-core/mcr_meeting/app/exceptions/__init__.py
  mcr-core/mcr_meeting/app/orchestrators/__init__.py
  mcr-core/mcr_meeting/app/services/correct_acronyms/__init__.py
  mcr-core/mcr_meeting/app/services/correct_spelling_mistakes/__init__.py
  mcr-core/mcr_meeting/app/services/email/__init__.py
  mcr-core/mcr_meeting/app/state_machine/__init__.py
  mcr-core/mcr_meeting/app/statemachine_actions/__init__.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: define use case architecture in linter config
  mcr-core/pyproject.toml
Due: docker-build-core, docker-build-transcription-worker

:hammer: edit target branch in claude.md
  CLAUDE.md
Due: none

:hammer: update claude.md with new core architecture
  CLAUDE.md
Due: none

:memo: update documentation for the CR generation
  mcr-generation/mcr_generation/docs/generation_pipeline.md
Due: docker-build-generation

:bug: (807): swallow 404 errors and ignore task when meeting is already deleted
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/exceptions/celery_exceptions.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (301): avoid empty part sending
  mcr-frontend/src/composables/use-multipart.ts
Due: docker-build-frontend

:bug: (301): use safe guard pydantic to avoid empty parts
  mcr-core/mcr_meeting/app/schemas/S3_types.py
  mcr-core/tests/api/test_meeting_multipart_router.py
Due: docker-build-core, docker-build-transcription-worker

:technologist:: add make install target to set up local venvs and frontend deps
  Makefile
  mcr-capture-worker/Makefile
  mcr-core/Makefile
  mcr-gateway/Makefile
  mcr-generation/Makefile
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

:wrench:: update slack bot user mapping with new and departed employees
  .github/slack-users.json
Due: none

:goal_net: (831): catch flush DataError in feedback repository as 422
  mcr-core/mcr_meeting/app/db/feedback_repository.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
Due: docker-build-core, docker-build-transcription-worker

:bulb: (831): document max length constant db constraint and drop explanatory comments
  mcr-core/mcr_meeting/app/models/feedback_model.py
  mcr-frontend/src/components/feedback/FeedbackModal.vue
  mcr-frontend/src/services/feedback/use-feedback-draft.ts
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker

:safety_vest: (831): enforce feedback comment max length in pydantic schema
  mcr-core/mcr_meeting/app/models/feedback_model.py
  mcr-core/mcr_meeting/app/schemas/feedback_schema.py
  mcr-core/tests/api/test_feedback_router.py
Due: docker-build-core, docker-build-transcription-worker

:safety_vest: (831): add client-side feedback comment length validation
  mcr-frontend/src/components/feedback/FeedbackModal.spec.ts
  mcr-frontend/src/components/feedback/FeedbackModal.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/feedback/feedback.types.ts
Due: docker-build-frontend

:recycle: (831): align feedback modal with app form pattern (vee-validate + draft composable)
  mcr-frontend/src/components/feedback/FeedbackButton.vue
  mcr-frontend/src/components/feedback/FeedbackModal.spec.ts
  mcr-frontend/src/components/feedback/FeedbackModal.vue
  mcr-frontend/src/components/feedback/feedback.schema.ts
  mcr-frontend/src/services/feedback/use-feedback-draft.ts
Due: docker-build-frontend

:recycle: (822): move capture transition record creation into use cases
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/use_cases/complete_capture.py
  mcr-core/mcr_meeting/app/use_cases/fail_capture_bot.py
  mcr-core/mcr_meeting/app/use_cases/init_capture.py
  mcr-core/mcr_meeting/app/use_cases/start_capture_bot.py
  mcr-core/tests/use_cases/test_complete_capture.py
  mcr-core/tests/use_cases/test_fail_capture_bot.py
  mcr-core/tests/use_cases/test_init_capture.py
  mcr-core/tests/use_cases/test_start_capture_bot.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (822): route capture_router through use_cases
  mcr-core/mcr_meeting/app/api/meeting/capture_router.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/use_cases/complete_capture.py
  mcr-core/mcr_meeting/app/use_cases/init_capture.py
  mcr-core/tests/api/test_capture_router.py
  mcr-core/tests/services/test_meeting_transitions_service.py
  mcr-core/tests/use_cases/test_complete_capture.py
  mcr-core/tests/use_cases/test_init_capture.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (831): centralize DB write-error translation in UnitOfWork
  .claude/rules/repository-flush.md
  CLAUDE.md
  mcr-core/mcr_meeting/app/db/db_errors.py
  mcr-core/mcr_meeting/app/db/feedback_repository.py
  mcr-core/mcr_meeting/app/db/unit_of_work.py
  mcr-core/mcr_meeting/app/db/user_repository.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (824): route deliverable list/file/delete through use_cases
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/use_cases/get_deliverable_file.py
  mcr-core/mcr_meeting/app/use_cases/list_deliverables_for_meeting.py
  mcr-core/mcr_meeting/app/use_cases/soft_delete_deliverable.py
  mcr-core/tests/api/test_deliverable_router.py
  mcr-core/tests/use_cases/test_get_deliverable_file.py
  mcr-core/tests/use_cases/test_list_deliverables_for_meeting.py
  mcr-core/tests/use_cases/test_soft_delete_deliverable.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (824): drain report SM hooks, route deliverable success/failure through use_cases
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/orchestrators/deliverable_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_failure.py
  mcr-core/mcr_meeting/app/use_cases/mark_deliverable_success.py
  mcr-core/tests/domain/test_meeting_transitions.py
  mcr-core/tests/orchestrators/test_deliverable_orchestrator.py
  mcr-core/tests/services/test_meeting_transitions_service.py
  mcr-core/tests/use_cases/test_mark_deliverable_failure.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (825): route evaluation_router through use_cases
  mcr-core/mcr_meeting/app/api/evaluation_router.py
  mcr-core/mcr_meeting/app/domain/evaluation_zip.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/use_cases/evaluate_transcription_from_s3.py
  mcr-core/mcr_meeting/app/use_cases/evaluate_transcription_from_zip.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_evaluation_router.py
  mcr-core/tests/domain/test_evaluation_zip.py
Due: docker-build-core, docker-build-transcription-worker

:children_crossing: (831): feedback modal accessibility
  mcr-frontend/src/components/feedback/FeedbackModal.spec.ts
  mcr-frontend/src/components/feedback/FeedbackModal.vue
Due: docker-build-frontend

:recycle:: route transcription endpoints through use cases and drain SM hooks
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/state_machine/import_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/statemachine_actions/meeting_actions.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/conftest.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: add transcription domain estimation + infra helpers
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/domain/transcription_queue_estimation.py
  mcr-core/mcr_meeting/app/infrastructure/analytics.py
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: add transcription use cases
  mcr-core/mcr_meeting/app/use_cases/fail_transcription.py
  mcr-core/mcr_meeting/app/use_cases/get_or_create_transcription_docx.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription.py
  mcr-core/mcr_meeting/app/use_cases/start_transcription.py
  mcr-core/mcr_meeting/app/use_cases/upload_transcription_docx.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/conftest.py
  mcr-core/tests/use_cases/test_fail_transcription.py
  mcr-core/tests/use_cases/test_get_or_create_transcription_docx.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_start_transcription.py
  mcr-core/tests/use_cases/test_upload_transcription_docx.py
Due: docker-build-core, docker-build-transcription-worker

:fire:: remove transcription orchestrator and dead service code
  mcr-core/mcr_meeting/app/orchestrators/meeting_transitions_orchestrator.py
  mcr-core/mcr_meeting/app/orchestrators/transcription_orchestrator.py
  mcr-core/mcr_meeting/app/services/meeting_service.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/services/transcription_task_service.py
  mcr-core/mcr_meeting/app/services/transcription_waiting_time_service.py
  mcr-core/tests/domain/test_transcription_queue_estimation.py
  mcr-core/tests/services/test_meeting_transitions_service.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (823): traiter les retours de PR transcription
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/services/meeting_transition_record_service.py
  mcr-core/mcr_meeting/app/use_cases/fail_transcription.py
  mcr-core/mcr_meeting/app/use_cases/get_or_create_transcription_docx.py
  mcr-core/mcr_meeting/app/use_cases/upload_transcription_docx.py
  mcr-core/tests/use_cases/test_get_or_create_transcription_docx.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_start_transcription.py
  mcr-core/tests/use_cases/test_upload_transcription_docx.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:recycle: (823): déplacer la gestion des UoW dans les use cases et chaîner les exceptions
  mcr-core/mcr_meeting/app/infrastructure/analytics.py
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/state_machine/record_meeting_state_machine.py
  mcr-core/mcr_meeting/app/state_machine/visio_meeting_state_machine.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription.py
  mcr-core/mcr_meeting/app/use_cases/start_transcription.py
  mcr-core/tests/api/test_transcription_router.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (823): inline predicted-transition persistence in transcription use_cases
  mcr-core/mcr_meeting/app/infrastructure/analytics.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription.py
  mcr-core/mcr_meeting/app/use_cases/start_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:technologist: lint commit messages
  .claude/skills/commit/SKILL.md
  .github/workflows/mcr-ci.yml
Due: none

:safety_vest: (836): make Sentry init fail-safe across services
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/use_cases/evaluate_transcription_from_s3.py
  mcr-core/mcr_meeting/main.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-frontend/src/main.ts
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/utils/celery_worker.py
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-generation, docker-build-capture-worker

:recycle: 841: merge http client with meeting client
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/exceptions/celery_exception_handler.py
  mcr-core/tests/exceptions/test_celery_exception_handler.py
Due: docker-build-core, docker-build-transcription-worker

:bug: 841: avoid transcription fail on state transition fail
  mcr-core/mcr_meeting/app/client/http_client.py
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/mcr_meeting/app/exceptions/celery_exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/celery_exceptions.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/domain/test_meeting_transitions.py
  mcr-core/tests/exceptions/__init__.py
  mcr-core/tests/exceptions/test_celery_exception_handler.py
  mcr-core/tests/use_cases/test_start_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (841): moove raise logic into client
  mcr-core/mcr_meeting/app/client/meeting_client.py
  mcr-core/mcr_meeting/app/exceptions/celery_exception_handler.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/client/__init__.py
  mcr-core/tests/client/test_meeting_client.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
