Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:sparkles: (frontend): recover pending audio chunks after a failed capture
  mcr-core/tests/domain/test_meeting_transitions.py
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/PendingChunksCard.vue
  mcr-frontend/src/composables/use-chunk-recovery.spec.ts
  mcr-frontend/src/composables/use-chunk-recovery.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker

:sparkles: (frontend): keep local audio chunks for a week
  mcr-frontend/src/composables/use-audio-chunk-cleanup.spec.ts
  mcr-frontend/src/composables/use-audio-chunk-cleanup.ts
Due: docker-build-frontend

:recycle: (1068): extract input duration probe into _probe_duration_seconds
  mcr-core/mcr_meeting/app/domain/audio.py
Due: docker-build-core, docker-build-transcription-worker

:construction: (1068): apply duration check after noise filtering
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/tests/services/speech_to_text_pipeline/test_transcode_duration_check.py
Due: docker-build-core, docker-build-transcription-worker

:bulb: (1068): remove docstrings and verbose comments added in review
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/tests/services/speech_to_text_pipeline/test_transcode_duration_check.py
  mcr-core/tests/use_cases/test_run_diarization.py
Due: docker-build-core, docker-build-transcription-worker

:truck: (1068): move transcode duration check tests to tests/domain
  mcr-core/tests/domain/test_transcode_duration_check.py
Due: docker-build-core, docker-build-transcription-worker

:label: (1068): add missing return type annotations to transcode duration tests
  mcr-core/tests/domain/test_transcode_duration_check.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (1068): raise duration mismatch tolerance to 30% to only catch massive losses
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/tests/domain/test_transcode_duration_check.py
Due: docker-build-core, docker-build-transcription-worker

:green_heart: (1067): run mcr-core CI in the production image to test the same ffmpeg
  .github/workflows/mcr-ci.yml
Due: none

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
