Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:zap: (ci): cache kaniko layers so a source-only build stops reinstalling deps
  .gitlab-ci-dso.yml
Due: none

:pushpin: (docker): pin base images by digest
  .claude/rules/docker-build.md
  mcr-capture-worker/Dockerfile
  mcr-core/docker/Dockerfile
  mcr-frontend/Dockerfile
  mcr-gateway/Dockerfile
  mcr-generation/Dockerfile
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

:construction_worker: (ci): cancel builds a later merge has already superseded
  .gitlab-ci-dso.yml
Due: none

:construction_worker: (ci): send the deployed commit to the values repo
  .gitlab-ci-dso.yml
Due: none

:construction_worker: (ci): keep build digests 60 min so a queued rollout still finds them
  .gitlab-ci-dso.yml
Due: none

:bug: (meetings): give each list refresh its own fetch
  mcr-frontend/src/services/meetings/use-meeting.spec.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:white_check_mark: (meetings): pin how a batch delete settles and refreshes
  mcr-frontend/src/services/meetings/use-meeting.spec.ts
Due: docker-build-frontend

:sparkles: (import): cancel a batch with a single delete request
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:bug: (import): stop leaving the cleanup rejection unhandled
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:recycle: (import): move the upload-batch constants and types to their own file
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
  mcr-frontend/src/composables/use-upload-batch/store.ts
  mcr-frontend/src/composables/use-upload-batch/types.ts
Due: docker-build-frontend

:sparkles: (meetings): delete meetings with a request that outlives the page
  mcr-frontend/src/services/auth/token-provider.ts
  mcr-frontend/src/services/meetings/meetings.service.spec.ts
  mcr-frontend/src/services/meetings/meetings.service.ts
Due: docker-build-frontend

:sparkles: (import): give up unfinished imports when the page goes away
  mcr-frontend/src/App.vue
  mcr-frontend/src/composables/use-discard-imports-on-page-hide.spec.ts
  mcr-frontend/src/composables/use-discard-imports-on-page-hide.ts
Due: docker-build-frontend

:bug: (import): hand the cleanup to the browser when signing out
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
Due: docker-build-frontend

:sparkles: (import): let a failed import be sent again
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
Due: docker-build-frontend

:sparkles: (import): list the meetings an unfinished import still holds
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
Due: docker-build-frontend

:art: (import): wrap the retry button lookups to the line width
  mcr-frontend/src/components/import/ImportSticky.spec.ts
Due: docker-build-frontend

:sparkles: (import): offer a retry in the sticky on a recoverable failure
  mcr-frontend/src/components/import/ImportSticky.spec.ts
  mcr-frontend/src/components/import/ImportSticky.vue
  mcr-frontend/src/components/import/ImportStickyRow.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:sparkles: (import): tell which failed imports are worth retrying
  mcr-frontend/src/composables/use-upload-batch/index.ts
  mcr-frontend/src/composables/use-upload-batch/selectors.ts
  mcr-frontend/src/composables/use-upload-batch/store.spec.ts
  mcr-frontend/src/composables/use-upload-batch/store.ts
Due: docker-build-frontend

:recycle: (meetings): ask the server to delete a batch in one call
  mcr-frontend/src/services/meetings/meetings.service.spec.ts
  mcr-frontend/src/services/meetings/meetings.service.ts
  mcr-frontend/src/services/meetings/use-meeting.spec.ts
  mcr-frontend/src/services/meetings/use-meeting.ts
Due: docker-build-frontend

:bug: (import): delete the abandoned meetings with a real request on sign-out
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
Due: docker-build-frontend

:art: (i18n): give the punctuation that needs it a no-break space
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:bug: (import): release the files held for retry when the batch is discarded
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
  mcr-frontend/src/composables/use-import-sticky-close.spec.ts
  mcr-frontend/src/composables/use-import-sticky-close.ts
Due: docker-build-frontend

:recycle: (import): move the import runtime registry to its own module
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-import-runtimes.ts
Due: docker-build-frontend

:sparkles: (meetings): delete a list of meetings with a single request
  mcr-core/mcr_meeting/app/api/meeting/meeting_router.py
  mcr-core/mcr_meeting/app/schemas/meeting_schema.py
  mcr-core/mcr_meeting/app/use_cases/delete_meetings.py
  mcr-core/tests/api/conftest.py
  mcr-core/tests/api/test_meeting_router.py
  mcr-core/tests/use_cases/test_delete_meetings.py
Due: docker-build-core, docker-build-transcription-worker

:art: (meetings): drop the minio fixture the bulk delete tests never use
  mcr-core/tests/api/test_meeting_router.py
Due: docker-build-core, docker-build-transcription-worker

:art: (import): say what emptying the store before the abort now prevents
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
Due: docker-build-frontend

:bulb: (import): say why the store is emptied before aborting
  mcr-frontend/src/composables/use-confirm-leave.ts
Due: docker-build-frontend

:sparkles: (meetings): forward the bulk meeting deletion to core
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/schemas/meeting_schema.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/tests/app/test_meeting/test_delete_meetings.py
Due: docker-build-gateway

:mute: (frontend): sample 10% of traces to stop saturating sentry
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:mute: (sentry): stop turning log records into events
  mcr-capture-worker/mcr_capture_worker/setup/sentry.py
  mcr-gateway/mcr_gateway/setup/sentry.py
  mcr-generation/mcr_generation/app/utils/celery_worker.py
  mcr-generation/mcr_generation/app/utils/sentry_context.py
Due: docker-build-gateway, docker-build-generation, docker-build-capture-worker

:bug: (langfuse): shut down the client when auth fails
  mcr-core/mcr_meeting/app/infrastructure/langfuse.py
  mcr-core/tests/conftest.py
  mcr-core/tests/unit/test_langfuse_init.py
  mcr-generation/mcr_generation/app/utils/langfuse_observability.py
  mcr-generation/mcr_generation/main.py
  mcr-generation/tests/app/utils/__init__.py
  mcr-generation/tests/app/utils/test_langfuse_init.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-generation

:memo: (glossary): bump the glossary from v1.8.1 to v1.8.3
  mcr-core/mcr_meeting/app/infrastructure/llm/prompts/data/glossary.md
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend, docker-build-core, docker-build-transcription-worker

:sparkles: (skill): add /update-glossary to sync the glossary from its source CSV
  .claude/skills/update-glossary/SKILL.md
  .claude/skills/update-glossary/scripts/glossary_tool.py
Due: none

:bug: (sentry): stop reporting session expiry from every reportError call site
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:bug: (import): tell the user their session expired instead of blaming the server
  mcr-frontend/src/composables/use-upload-batch/types.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/http/http.utils.spec.ts
  mcr-frontend/src/services/http/http.utils.ts
Due: docker-build-frontend

:sparkles: (sentry): stamp the commit sha as the release on frontend events
  .gitlab-ci-dso.yml
  mcr-frontend/Dockerfile
  mcr-frontend/src/services/observability/sentry.spec.ts
  mcr-frontend/src/services/observability/sentry.ts
Due: docker-build-frontend

:bug: (auth): treat a refresh the server refuses as an expired session
  mcr-frontend/src/services/auth/token-provider.spec.ts
  mcr-frontend/src/services/auth/token-provider.ts
Due: docker-build-frontend

:memo: (glossary): document the glossary and /update-glossary in the README
  README.md
  mcr-core/docs/audio_processing_pipeline.md
Due: docker-build-core, docker-build-transcription-worker

:zap: (audio): decode meeting audio as float32 and slice chunks as views
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/tests/unit/test_audio_chunk_memory.py
Due: docker-build-core, docker-build-transcription-worker

:zap: (audio): stop copying the recording in and out of every ffmpeg step
  mcr-core/mcr_meeting/app/domain/audio.py
  mcr-core/tests/unit/test_audio_buffer_copies.py
Due: docker-build-core, docker-build-transcription-worker
