Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:sparkles: (873): make the transcription success payload optional and read full_transcript.json from S3 when absent
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (872): remove the worker init hook made useless by lazy loading
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:seedling: add RGESN 2024 eco-design assessment (declaration.json)
  out/declaration.json
Due: none

:memo: resolve RGESN À-évaluer criteria from interactive pass
  out/declaration.json
Due: none

:page_facing_up: generate RGESN deliverables (xlsx audit tool + docx declaration)
  out/MCR_declaration_RGESN_2026-07-10.docx
  out/MCR_declaration_RGESN_2026-07-10.xlsx
Due: none

:speech_balloon:: udpate glossary header
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

chore(deps): :arrow_up: monte les dépendance à VueDsfr et DSFR
  mcr-frontend/index.html
  mcr-frontend/package.json
  mcr-frontend/pnpm-lock.yaml
Due: docker-build-frontend

:sparkles: (886): create transcription deliverable at init and track it through the pipeline
  mcr-core/mcr_meeting/app/domain/deliverable_transitions.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/use_cases/_shared/transcription_deliverable.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/mcr_meeting/app/use_cases/fail_transcription.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription.py
  mcr-core/mcr_meeting/app/use_cases/start_transcription.py
  mcr-core/tests/domain/test_deliverable_transitions.py
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_fail_transcription.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_start_transcription.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:bug: (886): drop synthetic transcription deliverable and poll the real one
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/services/deliverables/use-deliverables.spec.ts
  mcr-frontend/src/services/deliverables/use-deliverables.ts
  mcr-frontend/src/views/meeting/MeetingPageV2.vue
Due: docker-build-frontend

:wrench: (886): point stale local frontend URLs at the ingress port
  .env.local.docker
  docker/auth/kc-mcr-local-config.json
  mcr-core/scripts/generate_state_machine_graph.py
Due: docker-build-core, docker-build-transcription-worker

fix: :alien: corriger les appel à DsfrInputGroup suite à la montée de vue-dsfr et erreurs sur le typage
  mcr-frontend/src/components/meeting/AddMeetingForm.vue
  mcr-frontend/vite.config.ts
Due: docker-build-frontend

feat(ComuMeetingForm) :sparkles: inverse les blocs ComuUrl et ComuId/ComuPassword
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Corrige le titre et réhausse le pictogramme
  mcr-frontend/src/components/meeting/modals/CreateVisioMeetingModal.vue
Due: docker-build-frontend

feat(visioMeetingModal): :sparkles: Propose une version plus compacte de la modale
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/CreateVideoConferenceForm.vue
  mcr-frontend/src/components/meeting/modals/CreateVideoConferenceModal.vue
  mcr-frontend/src/components/meeting/visio-modal/ComuMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/VisioMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebconfMeetingForm.vue
  mcr-frontend/src/components/meeting/visio-modal/WebinaireMeetingForm.vue
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:construction_worker: run each service CI when shared env files or the workflow change
  .github/workflows/mcr-ci.yml
Due: none

:recycle: (937): move the core client timeout into ServiceSettings so it's env-configurable
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (937): mark transcription failure through a best-effort link_error errback instead of the on_failure override
  mcr-core/mcr_meeting/app/infrastructure/celery.py
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/schemas/celery_types.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_mark_transcription_failed.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/test_transcription_worker.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_run_mark_transcription_failed.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (937): return 409 instead of 500 when a transcription transition is not allowed
  mcr-core/mcr_meeting/app/domain/meeting_transitions.py
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_fail_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:bug: (937): give the core client a 30s timeout so slow success responses stop failing finalize
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
  mcr-core/tests/client/test_meeting_client.py
Due: docker-build-core, docker-build-transcription-worker

:wrench:: expose capture-worker debugpy port and add attach config
  docker-compose.yaml
  mcr-capture-worker/.vscode/launch.json
Due: docker-build-capture-worker

:white_check_mark: (916): add a golden test freezing the evaluation speech-to-text output
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (916): extract preprocess_audio and post_process_segments into use-case _shared
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/post_process_segments.py
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/preprocess_audio.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_diarization.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_finalize_transcription.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/use_cases/test_run_diarization.py
  mcr-core/tests/use_cases/test_run_finalize_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (916): add run_speech_to_text use-case composing the shared in-memory phases
  mcr-core/mcr_meeting/app/use_cases/transcription/run_speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_speech_to_text.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (916): extract transcribe_diarized_audio into use-case _shared
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/transcribe_diarized_audio.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_transcribe_chunks.py
  mcr-core/tests/use_cases/test_run_transcribe_chunks.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles:: add flow-driven-investigation skill with DAP probe script
  .claude/skills/flow-driven-investigation/SKILL.md
  .claude/skills/flow-driven-investigation/scripts/dap_probe.py
Due: none

:recycle: (916): inject a transcribe_audio callable into the ASR and acronym evaluations
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/asr/evaluation_pipeline.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/unit/evaluation/asr/test_evaluation_pipeline.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (916): retarget the pipeline integration tests onto the shared use-case bricks
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_full_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (916): delete the SpeechToTextPipeline god-object and its legacy participant extraction chain
  mcr-core/mcr_meeting/app/services/llm_post_processing.py
  mcr-core/mcr_meeting/app/services/speech_to_text/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/__init__.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/tests/domain/test_participant_reconciliation.py
  mcr-core/tests/unit/test_match_speakers_with_participants.py
  mcr-core/tests/unit/test_participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (916): extract extract_participants into _shared and measure it in the participant-naming evaluation
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/extract_participants.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_finalize_transcription.py
  mcr-core/mcr_meeting/evaluation/participant_naming/__main__.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (916): move the evaluation zip logic from the worker into a run_evaluation_from_zip use-case
  mcr-core/mcr_meeting/app/domain/evaluation_zip.py
  mcr-core/mcr_meeting/app/use_cases/run_evaluation_from_zip.py
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/domain/test_evaluation_zip.py
  mcr-core/tests/use_cases/test_run_evaluation_from_zip.py
Due: docker-build-core, docker-build-transcription-worker

:hammer:: support downloading pipeline artifacts and preselect single available file in download_meeting.sh
  mcr-core/scripts/download_meeting.sh
Due: docker-build-core, docker-build-transcription-worker

:wrench:: expose capture-worker debugpy port and add attach config
  README.md
  docker-compose.yaml
  mcr-capture-worker/.vscode/launch.json
Due: docker-build-capture-worker

:bug:: pin LLM temperature and unify retries via a central complete() helper
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/llm/client.py
Due: docker-build-core, docker-build-transcription-worker

:recycle:: route correction and participant extraction through complete()
  mcr-core/mcr_meeting/app/infrastructure/llm/acronyms.py
  mcr-core/mcr_meeting/app/infrastructure/llm/participants.py
  mcr-core/mcr_meeting/app/infrastructure/llm/spelling.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net:: keep uncorrected chunks when correction fails instead of aborting the transcription
  mcr-core/mcr_meeting/app/use_cases/transcription/_shared/post_process_segments.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: migrate the S3 and pipeline tests onto the fake
  mcr-core/tests/infrastructure/test_s3.py
  mcr-core/tests/test_transcription_worker.py
  mcr-core/tests/unit/test_s3_audio.py
  mcr-core/tests/use_cases/test_mark_deliverable_success.py
Due: docker-build-core, docker-build-transcription-worker

:goal_net: retry transient S3 failures and re-queue the pipeline task
  mcr-core/mcr_meeting/app/infrastructure/celery_consumer.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:heavy_plus_sign: add retry dependencies (tenacity, botocore, urllib3)
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:recycle: rework the InMemoryS3 fake into a fault-injection double
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/in_memory_s3.py
Due: docker-build-core, docker-build-transcription-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
