Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*

:recycle: (871): use only one function for same logic
  mcr-core/mcr_meeting/app/domain/transcription/participant_reconciliation.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
  mcr-core/mcr_meeting/app/use_cases/transcription/run_finalize_transcription.py
  mcr-core/tests/domain/test_participant_reconciliation.py
Due: docker-build-core, docker-build-transcription-worker

:fire: remove overuse of security net
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (871): test parallel chunk transcription and sentry anti-leak
  mcr-core/tests/services/speech_to_text_pipeline/test_parallel_chunk_transcription.py
  mcr-core/tests/unit/test_transcription_confidentiality.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark: (872): test lazy loading and caching of the speech-to-text models
  mcr-core/tests/infrastructure/test_speech_to_text_models.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (872): lazy-load and cache the speech-to-text models instead of eager-loading them at worker boot
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/app/services/speech_to_text/speech_to_text.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (873): add the full_transcript.json S3 contract schema and writer
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/tests/infrastructure/test_full_transcript.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (873): read the transcript from full_transcript.json with DOCX fallback when generating reports
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/mcr_generation/app/services/utils/transcript_loader.py
  mcr-generation/tests/app/services/utils/test_transcript_loader.py
  mcr-generation/tests/app/test_report_generation_task_service.py
  mcr-generation/tests/conftest.py
  mcr-generation/tests/mocks/task_service_mocks.py
Due: docker-build-generation

:sparkles: (873): add the full transcript JSON schema and chunker to mcr-generation
  mcr-generation/mcr_generation/app/schemas/transcript.py
  mcr-generation/mcr_generation/app/services/utils/input_chunker.py
  mcr-generation/tests/app/services/utils/test_input_chunker.py
Due: docker-build-generation

:sparkles: (873): make the transcription success payload optional and read full_transcript.json from S3 when absent
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
  mcr-core/mcr_meeting/app/infrastructure/s3.py
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/tests/api/test_transcription_router.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (873): write full_transcript.json to S3 when finalizing a transcription (dual-write)
  mcr-core/mcr_meeting/app/use_cases/transcription/run_finalize_transcription.py
  mcr-core/tests/use_cases/test_run_finalize_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (873): mark transcription success without payload from the split pipeline finalize task
  mcr-core/mcr_meeting/transcription_worker.py
  mcr-core/tests/test_transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: mark __table_args__ Index() columns as indexed in schema extraction
  .claude/skills/grafana-sql/scripts/extract_schema.py
Due: none

:card_file_box: index meeting.user_id and meeting_transition_record(meeting_id, timestamp)
  mcr-core/mcr_meeting/app/db/migrations/versions/0781ae1c037a_add_meeting_transition_record_meeting_.py
  mcr-core/mcr_meeting/app/models/meeting_model.py
  mcr-core/mcr_meeting/app/models/meeting_transition_record.py
Due: docker-build-core, docker-build-transcription-worker

:card_file_box: backfill TRANSCRIPTION and report deliverables for all historical meetings
  mcr-core/mcr_meeting/app/db/migrations/versions/b3f9c1a7d5e2_backfill_historical_deliverables.py
Due: docker-build-core, docker-build-transcription-worker

:hammer: (environnement): export du .env via 1password
  .env.template
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

:hammer: (environnement): avoid shell export issue by using env_files in compose
  .env.local.docker
  docker-compose.yaml
Due: none

:sparkles: (885): warn and abort before leaving the page during an active import
  mcr-frontend/src/App.vue
  mcr-frontend/src/components/core/BaseModal.vue
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
  mcr-frontend/src/composables/use-import-meeting.spec.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/composables/use-unload-warning.spec.ts
  mcr-frontend/src/composables/use-unload-warning.ts
  mcr-frontend/src/composables/use-upload-status.spec.ts
  mcr-frontend/src/composables/use-upload-status.ts
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/router/index.ts
  mcr-frontend/src/router/upload-leave-guard.spec.ts
  mcr-frontend/src/router/upload-leave-guard.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:recycle: (885): extract reusable ActionTile component styled with tailwind
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/ActionTile.vue
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-multipart.ts
  mcr-frontend/src/composables/use-unload-warning.ts
  mcr-frontend/src/composables/use-upload-status.ts
  mcr-frontend/src/router/upload-leave-guard.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
  mcr-frontend/tailwind.config.cjs
Due: docker-build-frontend

:lipstick: (885): restore tile pictogram position and text colors on action buttons
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:bug: (885): fix duplicate leave guards on logout and disabled import tile
  mcr-frontend/src/components/core/AppHeader.vue
  mcr-frontend/src/composables/use-confirm-leave.spec.ts
  mcr-frontend/src/composables/use-confirm-leave.ts
  mcr-frontend/src/router/index.ts
  mcr-frontend/src/router/upload-leave-guard.spec.ts
  mcr-frontend/src/router/upload-leave-guard.ts
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:lipstick: (885): match action buttons style with the former small tiles
  mcr-frontend/src/views/meeting/MeetingTiles.vue
Due: docker-build-frontend

:art: (885): drop dead defensive catch and make abort test names self-contained
  mcr-frontend/src/composables/use-import-meeting.ts
  mcr-frontend/src/composables/use-multipart.spec.ts
  mcr-frontend/src/locales/fr.json
Due: docker-build-frontend

:wrench: use fake env values in .env.local.testing so CI tests need no secrets
  .env.local.testing
Due: none

:wrench: (871): add MAX_CONCURRENT_CHUNKS transcription setting
  mcr-core/mcr_meeting/app/configs/base.py
Due: docker-build-core, docker-build-transcription-worker

:lock: (871): mask transcript text in segment repr and str
  mcr-core/mcr_meeting/app/domain/transcription/participant_reconciliation.py
  mcr-core/mcr_meeting/app/schemas/transcription_schema.py
  mcr-core/mcr_meeting/app/services/speech_to_text/participants_naming/participant_extraction.py
Due: docker-build-core, docker-build-transcription-worker

:thread: (871): reassemble chunk segments sorted by chunk index
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
Due: docker-build-core, docker-build-transcription-worker

:lock: (871): disable sentry local variables capture in transcription worker
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
Due: docker-build-core, docker-build-transcription-worker

:thread: (871): cap chunk concurrency to 1 in local transcription mode
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
Due: docker-build-core, docker-build-transcription-worker

:thread: (871): parallelize chunk transcription with a bounded thread pool
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (873): remove useless comments
  mcr-generation/mcr_generation/app/services/utils/transcript_loader.py
  mcr-generation/tests/app/services/utils/test_transcript_loader.py
Due: docker-build-generation
