Repository IA-Generative/mcr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-frontend, docker-build-core, docker-build-transcription-worker, docker-build-gateway, docker-build-generation, docker-build-capture-worker

docker-build-frontend:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-core:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-transcription-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-gateway:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-generation:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

docker-build-capture-worker:
  image:
    name: ghcr.io/kaniko-build/dist/chainguard-dev-kaniko/executor:v1.25.1-debug
    entrypoint:
    - ''
  script:
  - if [ ! -z $CA_BUNDLE ]; then cat $CA_BUNDLE >> /kaniko/ssl/certs/additional-ca-cert-bundle.crt; fi
  - export BUILD_ARGS=""
  ...

:bug: (1009): retry idempotent core-service calls on transient network errors
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/infrastructure/meeting_api_client.py
  mcr-core/tests/client/test_meeting_client.py
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: improve _FakeFeatureFlagClient to autouse it and have a typed interface
  mcr-core/tests/api/test_feature_flag_router.py
  mcr-core/tests/conftest.py
  mcr-core/tests/mocks/in_memory_feature_flags.py
  mcr-core/tests/services/speech_to_text_pipeline/conftest.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_post_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_pre_process.py
  mcr-core/tests/use_cases/test_init_transcription.py
  mcr-core/tests/use_cases/test_run_diarization.py
  mcr-core/tests/use_cases/test_run_finalize_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:loud_sound: (1009): log complete_transcription stage timings
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1009): commit transcription-done before best-effort enrichment
  mcr-core/mcr_meeting/app/use_cases/complete_transcription.py
  mcr-core/tests/use_cases/test_complete_transcription.py
Due: docker-build-core, docker-build-transcription-worker

:construction_worker:: build the core image once for both api and worker
  .gitlab-ci-dso.yml
Due: none

:memo:: document the kaniko docker build constraints
  .claude/rules/docker-build.md
  CLAUDE.md
Due: none

:heavy_minus_sign:: drop torch, whisper and pyannote-audio from mcr-core
  mcr-core/pyproject.toml
  mcr-core/uv.lock
Due: docker-build-core, docker-build-transcription-worker

:white_check_mark:: adapt the speech-to-text tests to the API-only processors
  mcr-core/tests/infrastructure/test_speech_to_text_models.py
  mcr-core/tests/services/speech_to_text_pipeline/seams.py
  mcr-core/tests/services/speech_to_text_pipeline/test_diarization_async.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_speech_to_text.py
  mcr-core/tests/services/speech_to_text_pipeline/test_golden_transcribe_meeting.py
  mcr-core/tests/services/speech_to_text_pipeline/test_integration_center_process.py
  mcr-core/tests/services/speech_to_text_pipeline/test_parallel_chunk_transcription.py
  mcr-core/tests/unit/test_transcription_confidentiality.py
Due: docker-build-core, docker-build-transcription-worker

:memo:: update the audio pipeline doc for the API-only stages
  mcr-core/docs/audio_processing_pipeline.md
Due: docker-build-core, docker-build-transcription-worker

:fire:: run diarization and transcription through the remote APIs only
  mcr-core/mcr_meeting/app/configs/base.py
  mcr-core/mcr_meeting/app/infrastructure/compute_devices.py
  mcr-core/mcr_meeting/app/infrastructure/diarization.py
  mcr-core/mcr_meeting/app/infrastructure/speech_to_text_models.py
  mcr-core/mcr_meeting/app/infrastructure/transcription.py
  mcr-core/mcr_meeting/app/infrastructure/unleash.py
  mcr-core/mcr_meeting/evaluation/acronyms/evaluation_script.py
  mcr-core/mcr_meeting/evaluation/cli/cli.py
  mcr-core/mcr_meeting/transcription_worker.py
Due: docker-build-core, docker-build-transcription-worker

:wrench:: build one mcr-core image with the role dispatched at run time
  docker-compose.yaml
  mcr-core/Dockerfile
  mcr-core/docker/Dockerfile
  mcr-core/docker/docker-entrypoint.dev.sh
  mcr-core/docker/docker-entrypoint.sh
Due: docker-build-core, docker-build-transcription-worker

:recycle:: type check better the feature flag test route
  mcr-core/mcr_meeting/app/api/feature_flag_router.py
  mcr-core/mcr_meeting/app/use_cases/get_feature_flag_status.py
Due: docker-build-core, docker-build-transcription-worker

:bricks:: remove unused vars in ci
  .github/workflows/mcr-ci.yml
  mcr-gateway/mcr_gateway/app/configs/config.py
Due: docker-build-gateway

:wrench:: remove the local speech-to-text model settings
  .env.local.docker
  .env.template
Due: none

:bug: (1015): retry core callbacks on transient network errors and mark deliverable failed on terminal error
  mcr-generation/mcr_generation/app/client/core_api_client.py
  mcr-generation/mcr_generation/app/client/http_client.py
  mcr-generation/mcr_generation/app/configs/settings.py
  mcr-generation/mcr_generation/app/exceptions/exceptions.py
  mcr-generation/mcr_generation/app/services/report_generation_task_service.py
  mcr-generation/tests/app/client/test_core_api_client.py
  mcr-generation/tests/app/test_report_generation_task_service.py
Due: docker-build-generation

:bug: (1015): make mark_report_success idempotent on replay of an available deliverable
  mcr-core/mcr_meeting/app/use_cases/mark_report_success.py
  mcr-core/tests/use_cases/test_mark_report_success.py
Due: docker-build-core, docker-build-transcription-worker

:fire: (987): remove dead code
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.spec.ts
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/components/meeting/report/ReportFormatSelection.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:sparkles: (987) expose STRUCTURED_MINUTES deliverable tile in second position
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/meetings/meetings.types.ts
Due: docker-build-frontend

:white_check_mark: (987) cover structured minutes tile order and generation
  mcr-frontend/src/components/meeting/MeetingDeliverableCard.spec.ts
Due: docker-build-frontend

:white_check_mark: (989) cover default structured minutes creation, dedup, drain and fail
  mcr-core/tests/use_cases/test_complete_transcription.py
  mcr-core/tests/use_cases/test_fail_transcription.py
  mcr-core/tests/use_cases/test_init_transcription_and_minutes_report.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (989) rename init_transcription and always create the default structured minutes
  mcr-core/mcr_meeting/app/api/meeting/transcription_router.py
  mcr-core/mcr_meeting/app/infrastructure/sentry.py
  mcr-core/mcr_meeting/app/use_cases/init_transcription_and_minutes_report.py
  mcr-core/tests/use_cases/test_init_transcription_and_minutes_report.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1002): record a vote and an optional comment per available deliverable
  mcr-core/mcr_meeting/app/api/_shared/deliverable_response.py
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/db/deliverable_feedback_repository.py
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/db/migrations/versions/f8a3c1b70d24_create_deliverable_feedback_table.py
  mcr-core/mcr_meeting/app/domain/deliverable_feedback.py
  mcr-core/mcr_meeting/app/exceptions/exception_handler.py
  mcr-core/mcr_meeting/app/exceptions/exceptions.py
  mcr-core/mcr_meeting/app/models/__init__.py
  mcr-core/mcr_meeting/app/models/deliverable_feedback_model.py
  mcr-core/mcr_meeting/app/models/deliverable_model.py
  mcr-core/mcr_meeting/app/schemas/deliverable_feedback_schema.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/mcr_meeting/app/use_cases/deactivate_deliverable_feedback.py
  mcr-core/mcr_meeting/app/use_cases/upsert_deliverable_feedback.py
  mcr-core/tests/api/test_deliverable_feedback_router.py
  mcr-core/tests/db/test_deliverable_feedback_repository.py
  mcr-core/tests/domain/test_deliverable_feedback.py
  mcr-core/tests/factories/deliverable_feedback_factory.py
Due: docker-build-core, docker-build-transcription-worker

:sparkles: (1002): rate an available deliverable with a thumb up behind a feature flag
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.spec.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackModal.vue
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/locales/fr.json
  mcr-frontend/src/services/deliverable-feedback/deliverable-feedback.service.ts
  mcr-frontend/src/services/deliverable-feedback/deliverable-feedback.types.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
  mcr-frontend/src/services/deliverables/deliverables.types.ts
  mcr-frontend/src/services/deliverables/use-deliverables.spec.ts
Due: docker-build-frontend

:sparkles: (1002): mirror the deliverable feedback routes through the gateway
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_feedback_schema.py
  mcr-gateway/mcr_gateway/app/schemas/deliverable_schema.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_feedback_service.py
  mcr-gateway/tests/app/test_deliverable/test_deliverable_service.py
Due: docker-build-gateway

:zap: (1002): read a deliverable owner in one joined query and authorize on plain values
  mcr-core/mcr_meeting/app/db/deliverable_repository.py
  mcr-core/mcr_meeting/app/domain/authorize_meeting_access.py
  mcr-core/mcr_meeting/app/use_cases/deactivate_deliverable_feedback.py
  mcr-core/mcr_meeting/app/use_cases/upsert_deliverable_feedback.py
  mcr-core/tests/db/test_deliverable_owner_lookup.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1002): drive the optimistic thumb from the query cache instead of a local ref
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.spec.ts
  mcr-frontend/src/components/meeting/deliverable-feedback/DeliverableFeedbackThumbs.vue
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.spec.ts
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
Due: docker-build-frontend

:recycle: (1002): hide a retracted feedback in the response schema instead of a builder every route must call
  mcr-core/mcr_meeting/app/api/_shared/deliverable_response.py
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-core/mcr_meeting/app/domain/deliverable_feedback.py
  mcr-core/mcr_meeting/app/schemas/deliverable_schema.py
  mcr-core/tests/domain/test_deliverable_feedback.py
  mcr-core/tests/schemas/test_deliverable_schema.py
Due: docker-build-core, docker-build-transcription-worker

:rotating_light: (1002): name every HTTP status through fastapi.status and add a rule for it
  .claude/rules/http-status-codes.md
  mcr-core/mcr_meeting/app/api/meeting/deliverable_router.py
  mcr-gateway/mcr_gateway/app/api/deliverable_router.py
  mcr-gateway/mcr_gateway/app/api/feedback_router.py
  mcr-gateway/mcr_gateway/app/api/lookup_router.py
  mcr-gateway/mcr_gateway/app/api/meeting_router.py
  mcr-gateway/mcr_gateway/app/services/deliverable_service.py
  mcr-gateway/mcr_gateway/app/services/feedback_service.py
  mcr-gateway/mcr_gateway/app/services/lookup_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_multipart_service.py
  mcr-gateway/mcr_gateway/app/services/meeting_service.py
  mcr-gateway/mcr_gateway/app/services/user_service.py
Due: docker-build-core, docker-build-transcription-worker, docker-build-gateway

:recycle: (1002): extract the deliverable card actions and name its footer states
  mcr-frontend/src/components.d.ts
  mcr-frontend/src/components/meeting/DeliverableTypeCard.vue
  mcr-frontend/src/components/meeting/DeliverableTypeCardActions.vue
  mcr-frontend/src/components/meeting/deliverable-card-state.ts
Due: docker-build-frontend

:white_check_mark: (1002): derive the test deliverable types from the enum instead of a local copy
  mcr-core/tests/db/test_deliverable_feedback_repository.py
Due: docker-build-core, docker-build-transcription-worker

:recycle: (1002): name the cache updater instead of inlining it in setQueryData
  mcr-frontend/src/services/deliverable-feedback/use-deliverable-feedback.ts
Due: docker-build-frontend

Path conditions:
  docker-build-frontend: any of: mcr-frontend/**/*
  docker-build-core: any of: mcr-core/**/*
  docker-build-transcription-worker: any of: mcr-core/**/*
  docker-build-gateway: any of: mcr-gateway/**/*
  docker-build-generation: any of: mcr-generation/**/*
  docker-build-capture-worker: any of: mcr-capture-worker/**/*
